%div#help_develop_proposal
	%style
		:sass
			div#help_develop_proposal
				width: 505px
				li, p
					font-size: 1.2em
				li
					margin-bottom: .5em
			
	%h2 How to help develop a proposal
	%p This explains how you can work together with your friends and community members to develop a community written and supported proposal for constructive change.
	%p Getting started is easy
	%ol
		%li 
			Select a proposal from the list on the left side of the
			= link_to 'home page', home_path
			and click the link that says 
			%b Help us make a difference
		%li You'll see the four questions that make up a proposal and the talking points that have already been developed
		%li Click one of the questions to see the question worksheet where people discuss the question and suggest talking points to answer it. You can:
		%ul
			%li Discuss the question
			%li Rate talking points
			%li Select up to 5 talking points you most prefer
			%li Discuss a specific talking point
			%li Suggest a talking point
			%li Edit the talking points created by others, once you demonstrate a history of helpful team behavior
		%li This process of suggesting, discussing, revising, rating, and preferring helps us to think together so we can find and express common ground.
		%li Your participation will be convenient and productive with email notifications and a page that displays the new content since your last visit so you can quickly browse, rate or reply to it
	%p 
		Click the link that says 
		%b Help us make a difference
		under a proposal that interests you
		
	= link_to "Return to home page", home_path, {:class=>'cancel'}