:plain
	$('div.help_page').closest('div.ui-dialog').dialog('destroy').remove().end().remove();
	
	var help = $("#{escape_javascript(
		render( :template => 'help/help_page', :formats => [:html], :locals => { :inc_js => 'none', :toc => toc, :default_page => default_page, :introduction_haml => introduction_haml} )
	)}");
	
	help.find('h3.title').remove();
	
	var win_width = $(window).width();
	var win_height = $(window).height();
	var dialog = help.dialog( {title : 'CivicEvolution Help', draggable: false, resizable: false, modal : true, width: win_width-10, height: win_height-30, closeOnEscape: true, close: function(){$("body").css({ overflow: 'inherit' }); $(this).remove()}, open: function(){$("body").css({ overflow: 'hidden' }); $('a').blur();} });

	dialog.find('div.help_tabs').height( win_height - 80)
	dialog.find('div.help_tabs > div').height( win_height - 100 );
	dialog.find('div.toc, div.viewer').height( win_height - 120 );
	dialog.find('div.viewer').width( $('div.help_page').width() - $('div.toc').width() - 70 );

	dialog.find('div.help_tabs').tabs();
	if(#{params[:topic] ? true : false}){
		dialog.find('div.help_tabs').tabs('select',1);
	}

	$('<a class="close_help_dialog" href="#">Close</a>').insertBefore( dialog.parent().find('a.ui-dialog-titlebar-close') )
	$('a.close_help_dialog').die('click').live('click',
		function(){
			$(this).parent().find('a.ui-dialog-titlebar-close').click()
			return false;
		}
	);
	
	$('div.help_page').find('div.toc a, a.intro').die('click').live('click',
		function(){
			try{
				if( $('div#tab_help_toc').is(':visible') == false ){
					$('a#help_toc').click();
				}
				var id = this.href.match(/topic=(\w+)/)[1]
				var show_intro_link = $(this).hasClass('intro') ? true : false;
				$('div.viewer').load('/help/help_topic?id=' + id, 
					function(){
						$('div.viewer').scrollTop(0);
						if(show_intro_link){
							$('div.viewer').append('<p><a href="#" id="'  + id + '" class="intro_return">Return to intro</a></p>');
						}
					}
				);
				$('div.toc a').removeClass('selected');
				$('div.toc a[href$=' + id + ']').addClass('selected');
			}catch(e){}
			return false;
		}
	);
	
	$('div.help_page').find('a.intro_return').die('click').live('click',
		function(){
			try{
				var id = this.id;
				$('div.viewer').load('/help/help_topic?id=Introduction', 
					function(){
						var link = $('div.viewer').find('a[href$=' + id + ']');
						$('div.viewer').scrollTo(link,300);
						link.parent().effect('highlight',3000);
					}
				);
				$('div.toc a').removeClass('selected');
				$('div.toc a:first').addClass('selected');
			}catch(e){}
			return false;
		}
	);
	