%div#idea_help
	%div{id: 'read our vision'} 
		%p Please read our vision for this proposal, on the left side.

	%div{id: 'rate our vision'} 
		%p Please rate our vision using the slider below the vision. 
		%p Click anywhere on the slider that matches how you feel about the statements.
		
	%div{id: 'endorse our vision'}
		%p If you like and support our vision, please endorse it using the form at the bottom of the page
		
	%div{id: 'view our plan'}
		%p We're developing a coherent and convincing plan to implement this vision by thinking together. 
		%p 
			Click the 
			%b Click here to view
			link to view the four questions and answers. 
		
		%p Our project coordinator will continuously weave together our ideas and comments to compose and refine the answers.
		
	%div{id: 'rate answers'} 
		%p Each question has answers that you can rate and discuss. 
		%p Click on any answer to see the discussion and rating.
		%p You can also rate and discuss the overall answer under each question.
		
	%div{id: 'discuss answers'} 
		%p Each question has answers that you can rate and discuss. 
		%p Click on any answer to see the discussion and rating.
		%p You can also rate and discuss the overall answer under each question.
		
	%div{id: 'rate new ideas'}
		%p Participants post important ideas related to each of the questions. 
		%p Each idea should be a single point submitted on a post-it.
		%p These ideas are specific points that will be discussed and rated by everyone. They are more specific and actionable than typical comments.
		
	%div{id: 'create answers'}
		%p As the project coordinator, it is your task to integrate the ideas and comments from others to create a collaborative plan based on your vision. 
		%p You can and should edit the answers as often as necessary to reflect the group's input. 
		%p It is important that you create at least one answer for each question to get the conversation started.
		%p Remember, this is your vision and you have the final say. But we believe the strongest plans will be truly collaborative and demonstrate their legitimacy through broad participation and support.
		
	%div{id: 'share your ideas'}
		%p It is important to capture the important points that come up in discussion and submit them as ideas on post-its. 
		%p Ideas are a single concrete and actionable point that might be included in the answer. 
		%p Participants rate and discuss the ideas to determine which ones should be included in the final answers.
		
	%div{id: 'organize ideas'} 
		%p As the project coordinator, it is your task to integrate the ideas and comments from others to create a collaborative plan based on your vision. You can and should edit the answers as often as necessary to reflect the group's input. 
		%p Remember, this is your vision and you have the final say. But we believe the strongest plans will be truly collaborative and demonstrate their legitimacy through broad participation and support.
		
	%div{id: 'Review post-its'}
		%p While the project coordinator for this proposal has the power to edit the answers, it is done in a very open and transparent process. 
		%p Anyone can view all of the ideas and see how the ideas and comments have been woven together to compose the proposal's answers. 
		%p Under each question is a link to show all of the ideas on the post-its wall. Click the link to see how the ideas have been organized and give some feedback and suggestion to your project's coordinator.
	