%div#tooltips
	%div{id: 'sign in'}
		%p.em You must be signed in as a CivicEvolution member to participate.
		%p You can sign up for free right now.
		%p CivicEvolution members can rate, comment, suggest ideas and endorse proposals.
		%P Please use the form above to sign-in or sign-up

	%div{id: 'read our vision'} 
		%p.em Please read our vision for this proposal, on the left side.

	%div{id: 'rate our vision'} 
		%p.em Please rate our vision using the slider below the vision. 
		%p Click anywhere on the slider that matches how you feel about the statements.
		
	%div{id: 'endorse our vision'}
		%p.em If you like and support our vision, please endorse it using the form at the bottom of the page
		
	%div{id: 'view our plan'}
		%p.em We're developing a coherent and convincing plan to implement this vision by thinking together. 
		%p 
			Click the 
			%b Click here to view
			link to view the four questions and answers. 
		%p Your project's coordinator will organize these ideas into answers to these questions
		
	%div{id: 'rate answers'} 
		%p.em Each question has answers that you can rate and discuss. 
		%p Click on any answer to see the discussion and rating.
		%p You can also rate and discuss the overall answer under each question.
		
	%div{id: 'discuss answers'} 
		%p.em Each question has answers that you can rate and discuss. 
		%p Click on any answer to see the discussion and rating.
		%p You can also rate and discuss the overall answer under each question.
		
	%div{id: 'rate new ideas'}
		%p.em Participants post important ideas related to each of the questions. 
		%p Each idea should be a single point submitted on a post-it.
		%p These ideas are specific points that will be discussed and rated by everyone. They are more specific and actionable than typical comments.
		
	%div{id: 'create answers'}
		%p.em As the project coordinator, it is your task to integrate the ideas and comments from others to create a collaborative plan based on your vision. 
		%p You can and should edit the answers as often as necessary to reflect the group's input. 
		%p It is important that you create at least one answer for each question to get the conversation started.
		%p Remember, this is your vision and you have the final say. But we believe the strongest plans will be truly collaborative and demonstrate their legitimacy through broad participation and support.
		
	%div{id: 'share your ideas'}
		%p.em It is important to capture the important points that come up in discussion and submit them as ideas on post-its. 
		%p Ideas are concrete and actionable points that might be included in the answer. 
		%p By sharing your ideas as individual post-its, the other participants can rate and discuss them to determine which ideas should be included in the final answers.
		
	%div{id: 'organize ideas'} 
		%p.em As the project coordinator, it is your task to integrate the ideas and comments from others to create a collaborative plan based on your vision. You can and should edit the answers as often as necessary to reflect the group's input. 
		%p Remember, this is your vision and you have the final say. But we believe the strongest plans will be truly collaborative and demonstrate their legitimacy through broad participation and support.
		
	%div{id: 'Review post-its'}
		%p.em While the project coordinator for this proposal has the power to edit the answers, it is done in a very open and transparent process. 
		%p Anyone can view all of the ideas and see how the ideas and comments have been woven together to compose the proposal's answers. 
		%p Under each question is a link to show all of the ideas on the post-its wall. Click the link to see how the ideas have been organized and give some feedback and suggestion to your project's coordinator.
	
	

	%div{id: 'rate vision'}
		%h4 Tell us how you feel about this vision
		%p Rate how you feel about this vision by clicking on the slider bar beneath the faces
		%p You can also add your thoughts as a comment in the form below
		
	%div{id: 'rate overall answer'}
		%h4 Tell us how you feel about this overall answer
		%p Rate how you feel about this answer by clicking on the slider bar beneath the faces
		%p You can also add your thoughts as a comment in the form below
	

	%div{id: 'add endorsement'}
		%h4 Endorse this proposal to show your support
		%p 
			Enter your comment (optional) and click 
			%b Endorse
			
	%div{id: 'post-its-wall'}		
		%h4 Everyone's ideas are collected on the post-its wall
		%p The ideas on the wall are organized into groups
		%p Each group is part of the answer to the question
		%p The project coordinator will write the answers to reflect the ideas in each group
		
	%div{id: 'li.theme'}	
		%h4 Click on an answer to rate and discuss it
		%p You can rate and discuss each component of this overall answer
	
	%div{id:'a.view_unrated_ideas'}
		%h4 Click here to rate the new ideas
		%p This link gives you a quick way to review, rate and discuss the new ideas for this question