%div#question_old_data
	%p This is the old data for this question
	%h3 Answers
	%ul
	- question.answers.each do |answer|
		%li= simple_format( auto_link( h(answer.text), :all, :target => "_blank" ))
		
	%h3 BS IDEAS
	%ul
	- question.bs_ideas.each do |bs_idea|
		%li= simple_format( auto_link( h(bs_idea.text), :all, :target => "_blank" ))
		