%div.archived_comments
	%h4.question
		Archived comments about this question
		= link_to 'Close', {}, :remote=>false, :class=>'close_worksheet close_archived_comments', :title=>'Click to close archived comments'
	
	%div.comments
		= render( :partial=> 'plan/comment', :collection => @question.comments_to_display, :locals => {:archived => true} )
		
	%p.footer
		= link_to 'Close', {}, :remote=>false, :class=>'close_worksheet close_archived_comments', :title=>'Click to close archived comments'
	