= render :template => 'shared/clear_sign_in_form.js'
:plain
	//console.log("processing question talking points")
	var comments = $("#{escape_javascript(
		'<h4 class="ques_sub_hdg">All comments about this question and talking points</h4>' + 
		'<div>' + render( :partial=> 'plan/comment', :collection => @question['comments_to_display'] ) + '</div>'
	)}");
	console.log("load comments");
	var ques_disc = $('div.ques_discussion[id="#{@question.id}"]');
	ques_disc.html(comments);
	ques_disc.find('abbr').timeago();
