:plain
	var summary = $("#{escape_javascript(
		render( :partial => 'plan/question_summary', :formats => [:html], :locals => {:question => question } )
	)}");

	$('div.question_summary[id="#{question.id}"]').replaceWith(summary);
	
	// fade  out the old curated list
	$('div.selected_tp_list[id="#{question.id}"]').fadeOut(300,
		function(){
			$(this).remove();
		}
	);
	
