= render :template => 'shared/clear_sign_in_form.js'
:plain
	//console.log("Load the worksheet")
	var worksheet = $("#{escape_javascript(
		render( :partial => 'plan/question', :locals => {:question => question, :questions => questions, :question_counter => question.order_id } )
	)}");

	worksheet.find('div.my_rating').addClass('js');
	worksheet.find('div.community_rating').removeClass('no_js');
	worksheet.attr('id',#{question.id});
	
	$('div.new_content').closest('div.ui-dialog').hide();

	function scrollToElement(){
		var highlight = $('.highlight');
		//console.log("highlight.size(): " + highlight.size())
		if(highlight.size()>0){
			//console.log("scroll to")
			$.scrollTo(highlight,600);	
		}
	}
	setTimeout(scrollToElement,1000);

	setTimeout(init_page,10)

	var question_summary = $('div.question_summary[id="#{question.id}"]');
	var q_link = question_summary.find('a.display_worksheet');
	
	question_summary.find('div.talking_point_sec').replaceWith(worksheet)
