= render :partial => 'plan/question', :locals => {:question => question, :questions => questions, :question_counter => question.order_id }
:javascript
	function scrollToElement(){
		var highlight = $('.highlight');
		console.log("highlight.size(): " + highlight.size())
		if(highlight.size()>0){
			console.log("scroll to")
			$.scrollTo(highlight,600);	
		}
	}
	setTimeout(scrollToElement,1000);
