%div#sign_in_form
	%p.error= flash[:notice]
	= form_tag( {:action => 'sign_in_post'}, {:class=>'signin_form', :remote=>true}) do
		%table{:border=>0, :cellspacing=>0}
			%tr
				%td
					Join now if you're not a member
			%tr
				%td
		
			%tr
				%td.lbl
					%label{:for=>"email_join"} Email:
				
			%tr		
				%td
					= text_field_tag :email_join, params[:email_join], :tabindex => 6

			%tr
				%td.lbl
					= submit_tag "Get started now!", :name=>'join', :tabindex => 7

			%tr
				%td.lbl{:rowspan=>2}
					Your community needs to know what you think.
