%h3 periodic report
- @reports.each do |report|
	- if report[:ignore].nil?
		%p= report.inspect.gsub(/</,'&lt;').gsub(/>/,'&gt;')
		- if report[:report]
			%p
				2nd report:
				= report.report.inspect.gsub(/</,'&lt;').gsub(/>/,'&gt;')