= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	$('div#notification_settings').closest('div.ui-dialog').dialog('destroy').remove().end().remove();
	$('div#notification_acknowledgment').closest('div.ui-dialog').dialog('destroy').remove().end().remove();
	var acknowledgment = $("#{escape_javascript(
		render( :template => 'notification/update_notification_settings.html', :locals=>{:team_id=>team_id} )
	)}");
	
	var dialog = acknowledgment.dialog( {title : 'Thank you', modal : true, width : '600px', closeOnEscape: true, close: function(){$(this).remove()} });
	
	cancel_link = $('div#notification_acknowledgment a.cancel');
	
	$('div#notification_acknowledgment p.link').remove();
	$('div#notification_acknowledgment').append(cancel_link);
	
	$('div#notification_acknowledgment a.cancel').html('Close').die('click').live('click',
		function(){
			$(this).closest('div.ui-dialog').dialog('destroy').remove();
			return false;
		}
	);