%div#notification_acknowledgment
	%p Your notification request has been saved

	%p.link
		Return to 
		= link_to "settings", notification_settings_form_path( team_id ), {:class=>'settings'}
	
	%p.link 
		Return to 
		= link_to "proposal", plan_path( team_id ), {:class=>'cancel'}