= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	$('div#notification_settings').html('<h3>Your email setting has been updated</h3>')

	$('div#notification_settings h3').fadeTo(600,1, function(){$(this).fadeTo(800,0, function(){$(this).closest('div.ui-dialog-content').dialog('close');})});
	
	member.follow_set = true;
	member.follow_freq = "#{@notification_setting.follow_freq}"
