%p Actions specifically for you right now
%ul
	%li Review the list of selected list of talking points above
	%li Do they fairly capture the group's intention?
	%li Can you add any new ideas people should consider?
	