-#%p Actions specifically for you right now
-#%ul
	%li Review the list of selected list of talking points above
	%li Do they fairly capture the group's intention?
	%li Can you add any new ideas people should consider?
	
%h4 Rate 3 new talking points and read 5 new comments
= link_to "I'm finished doing this"