%table
	%tbody
		%tr.stripe
			%td= pluralize( @team.participants.size, 'participant')
		- if @team.stats
			-	PARTICIPATION_EVENT_POINTS.values.find_all{|pep| pep['summary_order'] && pep['summary_order'].to_i != 0}.sort{|a,b| a['summary_order'].to_i<=>b['summary_order'].to_i}.each do |stat|
				%tr{:class=>cycle('','stripe')}
					%td
						= pluralize(@team.stats[stat['col_name']], stat['summary_title']) 					
