:plain
	var details = $("#{escape_javascript(render( :template=> 'ideas/answer_details', :locals=>{idea: idea,question: question, constituent_idea: constituent_idea}, formats: [:html]  ))}");
	init_details_popup(details);
	details.find('li img.delete').remove();
	dispatcher.update_idea_stats( details );
	dispatcher.update_discussion_stats( details );
	setTimeout(function(){ dispatcher.update_coms_new( this );}.bind(details),200);
- if !constituent_idea.nil?	
	:plain
		$('div.answer_details').animate({left:'-440'},350);
