= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var form = $('form.add_comment[id="#{comment.parent_id}"]');
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();	
	
	var com = #{ { data: {comment: comment, author: comment.author, photo_url: comment.author.photo.url(:small)}}.to_json }
	realtime_data_update_functions['comment'](com);


