= render :template => 'shared/clear_sign_in_form', :formats => [:js]
-#var com = $("#{escape_javascript(render(  :partial=> 'plan/comment', :locals=>{:comment=>comment, :members => members}, :content_type => 'html'  ))}");
:plain
	var com = #{ { data: {comment: comment, author: comment.author, photo_url: comment.author.photo.url('36')}}.to_json }
	realtime_data_update_functions['comment'](com);

