= render :template => 'shared/clear_sign_in_form', :formats => [:js]
-#var com = $("#{escape_javascript(render(  :partial=> 'plan/comment', :locals=>{:comment=>comment, :members => members}, :content_type => 'html'  ))}");
:plain
	alert('your comment has been saved');

