= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var form = $('form.add_comment[id="#{comment.parent_id}"]');
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();	
	
	form.find('input[name="attachments"]').val( '' );

	var attachments = form.find('div.attachments');
	attachments.find('div.attachment').hide(800, function(){
		attachments.find('div.attachment').remove();
		attachments.hide(800);
	})
	
	var com = #{ { data: {comment: comment, author: comment.author, photo_url: comment.author.photo.url(:small), attachments: comment.attachments}}.to_json }
	realtime_data_update_functions['comment'](com);
	
	if(!member.follow_set){
		$.getScript('/notification/' + team_id + '/settings?after_post=t')
	}


