= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var errors = $("#{escape_javascript( render :partial => 'shared/error_message', :locals => {:target => comment})}");

	var form = $('form.add_comment[id="#{comment.parent_id}"]');
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();	
	form.append(errors);
	