:plain
	var idea = #{idea.to_json}.idea;
	temp.idea = idea
- if params[:act] == "edit_answer_popup"
	:plain
		console.log("Replace edited answer in edit_answer_popup");
		var popup = $('div.idea_details.popup[idea_id="#{idea.id}"]');
		
		var answer = popup.find('ul.answer');
		answer.find('p.idea').html( idea.text );
		answer.next(form).hide(250, function(){$(this).remove()});
		answer.show(250);

- else
	:plain
		console.log("Replace edited answer in theme final edit page);
