:plain
	var answer_html = #{BlueCloth.new( idea.text ).to_html.to_json};
	var post_it = $('div.post-it[id="#{idea.id}"]');
	post_it.find('div.inner').html( answer_html );
	truncate_themes(post_it);
	$('li.theme[id="#{idea.id}"] div.answer').html( answer_html );
- if params[:act] == "edit_answer_popup"
	:plain
		//console.log("Replace edited answer in edit_answer_popup");
		var popup = $('div.idea_details.popup[idea_id="#{idea.id}"]');
		
		var answer = popup.find('ul.answer');
		answer.find('div.post-it div.inner').html( answer_html );
		
		answer.find('div.post-it div.inner').show(250);
		answer.find('div.wmd-preview').hide(250, function(){$(this).remove()});
		//console.log("remove the preview");
		answer.prev('div.edit_form').hide(250, function(){$(this).remove()});
		
- else
	:plain
		console.log("Replace edited answer in theme final edit page);
