:plain
	var summary = $("#{escape_javascript(render( partial: 'plan/question_theme_summary', locals: {question: question, team: question.team }, formats: [:html]  ))}");

	var question_summary = $('div.proposal div.question_summary[id="#{params[:question_id]}"]');
	question_summary.find('ul.themes').replaceWith(summary.find('ul.themes'));
	setTimeout(
		function(){
			stat_data.idea_counts['question_ideas_unthemed_#{question.id}'] = #{question.unthemed_ideas.count};
			dispatcher.update_theme_stats(this);
			dispatcher.update_question_stats( this );	
			set_answer_links_target(this);		
		}.bind(question_summary),1000
	);
	// 
	