:plain
	var summary = $("#{escape_javascript(render( partial: 'plan/question_theme_summary', locals: {question: question, team: question.team }, formats: [:html]  ))}");

	$('div.question_summary[id="#{params[:question_id]}"] ul.themes').replaceWith(summary.find('ul.themes'));