- if params[:target] == 'title'
	:plain
		$('h2.home_title').find('span').html( #{ team.title.to_json } ).end().show(250).next('div.edit_form').remove();
- elsif params[:target] == 'summary'
	:plain
		var edit_link = $('div.idea_summary a.edit').remove();
		$('div.summary.text div.idea_summary').html( simple_format(#{ auto_link(team.solution_statement.strip, :html => { :target => '_blank' }).to_json } ));
		$('div.summary.text div.idea_summary p:last').append(edit_link);
		$('div.summary.text div.idea_summary').show(250).next('div.edit_form').remove();
		