- if params[:target] == 'title'
	:plain
		$('h2.home_title').find('span').html( #{ team.title.to_json } ).end().show(250).next('div.edit_form').remove();
- elsif params[:target] == 'summary'
	:plain
		var summary_html = #{BlueCloth.new( team.solution_statement ).to_html.to_json};
		var summary = $('div.idea_summary');
		var edit_link = summary.find('a.edit').remove();

		summary.find('div.inner').html(summary_html);
		summary.find('div.inner').show(250);
		summary.find('div.wmd-preview').hide(250, 
			function(){
				$(this).closest('div.idea_summary').find('h3.prev-label').remove(); 
				$(this).remove()
			}
		);
		summary.prev('div.edit_form').hide(250, function(){$(this).remove()});
		set_answer_links_target( $('div.idea_summary') );
		
		$('div.summary.text div.idea_summary div.inner > *:last').append( edit_link );
