- if params[:target] == 'title'
	:plain
		$('div.idea_details').find('a.edit_title').show().end().find('h3.question').html( #{ team.title.to_json } ).show().next('div.edit_form').remove();
		$('h2.home_title').html( #{ team.title.to_json } );
- elsif params[:target] == 'summary'
	:plain
		$('div.idea_details').find('a.edit_summary').show().end().find('div.post-it').find('div.idea_summary').html( simple_format(#{ auto_link(team.solution_statement, :html => { :target => '_blank' }).to_json }) ).end()	.children().show().end().find('div.edit_form').remove();
		$('div.summary.text div.idea_summary').html( simple_format(#{ auto_link(team.solution_statement, :html => { :target => '_blank' }).to_json } ));