:plain
	var form = $("#{escape_javascript(render( :partial=> 'ideas/team_edit_form', locals: {}, formats: [:html]  ))}");
- if params[:target] == 'title'
	:plain
		form.addClass('edit_title');
		form.find('span.char_ctr').html(255);
		form.find('input[name="target"]').val('title');
		var h2 = $('h2.home_title');
		h2.hide(250).after(form);
		//.find('a.edit_title').hide().end().find('h3.question').after(form).hide();
		activate_text_counters_grow( form.find('textarea').val( h2.find('span').html().trim() ), 80 )
		form.on('click','a.cancel',function(){
			$('h2.home_title').show(250).next('div.edit_form').remove();
			return false;
		});
- else
	:plain
		form.addClass('edit_summary');
		form.find('span.char_ctr').html(1000);
		form.find('input[name="target"]').val('summary');
		var summary = $('div.idea_summary');
		summary.hide(250).after(form);
		//.find('a.edit_summary').hide().end().find('div.post-it').children().hide().end().append(form);
		activate_text_counters_grow( form.find('textarea').val( sanitize(summary.clone().find('a.edit').remove().end().html().trim()) ), 360 );
		form.on('click','a.cancel',function(){
			$('div.idea_summary').show(250).next('div.edit_form').remove();
			return false;
		});
		