:plain
	//console.log("The theme ideas order has been updated for col: #{params[:idea_id]}");
	clear_theme_edit_wait();
- if params[:update_proposal] == "true"
	:plain
		$.getScript('/idea/#{params[:idea_id]}/theme_summary');
	

