= render :template => 'shared/clear_sign_in_form', formats: [:js]

:plain
	var theming_page = $("#{escape_javascript(render( partial: 'ideas/theming_page', locals: { question: question}, content_type: 'html'  ))}");

	$('div.ui-slider').hide();
	$('body').append(theming_page);
	$("body").css('overflow', 'hidden');
	

	theming_page.css({ top: $('body').scrollTop()});
	var theme_cols_window = theming_page.find('div.theme_cols_window');
	theme_cols_window.height( $(window).height() - theme_cols_window.position().top - 100 );
	var theme_cols = theming_page.find('div.theme_col');
	var width = theme_cols.size() * ( theme_cols.eq(0).width() + 12);
	theme_cols_window.width( width );
	//$('div.auto-scroll').width( width );

	theming_page.find('a.close_theming_page').click(function(){
		theming_page.remove();
		$("body").css('overflow', 'visible');
		$('div.ui-slider').show();
		return false;
	});

	theming_page.find('ul.sortable_ideas').sortable({
		connectWith: ".sortable_ideas",
		start: function(event, ui) { console.log("Start sortable drag"); },
		stop: function(event, ui) { console.log("stop sortable drag"); }
	});


	function autoscroll_mousemove(x,y,obj){
		console.log("autoscroll_mousemove");
	}
	
	function autoscroll_mouseleave(){
		console.log("autoscroll_mouseleave");
	}
	
	function autoscroll_mouseenter(){
		console.log("autoscroll_mouseenter");
	}
	
	$('div.auto-scroll')
		.mousemove(function(e) {autoscroll_mousemove(e.pageX, e.pageY, this);})
		.bind('mouseleave', function() {autoscroll_mouseleave();})
		.bind('mouseenter', function() { autoscroll_mouseenter(); });
	