= render :template => 'shared/clear_sign_in_form', formats: [:js]

:plain
	var theming_page = $("#{escape_javascript(render( partial: 'ideas/theming_page', locals: { question: question}, content_type: 'html'  ))}");

	$('body').append(theming_page);
	$('div.page div.right_side ').fadeTo(300,0);
	$('body').scrollTo(0,500);
	$('div.page').slideUp(800, function(){
		$('body').scrollTop(0);
		theming_page.after( $('div.page') );
		resize_theming_page();
	})
	
	make_ideas_sortable(theming_page.find('ul.sortable_ideas'));
	
	
