= render :template => 'shared/clear_sign_in_form', formats: [:js]

:plain
	var theming_page = $("#{escape_javascript(render( partial: 'ideas/theming_page', locals: { question: question}, content_type: 'html'  ))}");

	$('div.ui-slider').hide();
	$('body').append(theming_page);
	$("body").css('overflow', 'hidden');
	
	//resize code
	theming_page.css({ top: $('body').scrollTop()});
	var theme_cols_window = theming_page.find('div.theme_cols_window');
	theme_cols_window.height( $(window).height() - theme_cols_window.position().top - 100 );
	var theme_cols = theming_page.find('div.theme_col');
	var width = theme_cols.size() * ( theme_cols.eq(0).width() + 12);
	theme_cols_window.width( width );
	var win_top = theme_cols_window.position().top;
	var win_left = theme_cols_window.position().left;
	var win_bottom = win_top + theme_cols_window.height();
	$('div.theme_col').each(
		function(){
			var col = $(this);
			var left = col.position().left + win_left;
			col.find('div.auto-scroll.top').width(col.width()).css({top: win_top, left: left});
			col.find('div.auto-scroll.bottom').width(col.width()).css({top: win_bottom - 24, left: left});
		}
	);
	theme_cols_window.find('div.auto-scroll.left').height( theme_cols_window.height() ).css({top: win_top, left: win_left});
	theme_cols_window.find('div.auto-scroll.right').height( theme_cols_window.height() ).css({top: win_top, left: win_left + theme_cols_window.parent().width() - 24 });

	//
	// Set up theming page sortable
	//
	theming_page.find('a.close_theming_page').click(function(){
		theming_page.remove();
		$("body").css('overflow', 'visible');
		$('div.ui-slider').show();
		return false;
	});

	theming_page.find('ul.sortable_ideas').sortable({
		helper: 'clone',
		appendTo: 'body',
		items: 'li.idea_post_it',
		connectWith: ".sortable_ideas",
		start: function(event, ui) { 
			console.log("Start sortable drag"); 
			$('div.auto-scroll')
				.bind('mouseleave', stopAutoScroll )
				.mousemove(function(e) {autoscroll_mousemove(e.pageX, e.pageY, this);});
		},
		change: function(event,ui){
			console.log("Sortable change");
		},
		stop: function(event, ui) { 
			console.log("stop sortable drag"); 
			$('div.auto-scroll')
				.unbind('mousemove')
				.unbind('mouseleave');
		}
	});


	//
	// Set up theming page auto scrolling with hotspots
	//

	var auto_scroll_params = { direction: 0, speed: 2, timer: 0, interval: 50, intervalTimer: null, scrollAxis: null };
	function stopAutoScroll(){
		console.log("Stop autoscrolling #########");
		clearInterval(auto_scroll_params.intervalTimer );
		auto_scroll_params.intervalTimer = null;
		auto_scroll_params.speed = 2;
		auto_scroll_params.direction = 0;
	}
	
	function autoscroll_mousemove(x, y, ctnr) {
		var ctnr = $(ctnr);
		//console.log("autoscroll_mousemove x: " + x + " y: " + y);
		// convert y to speed
		if( ctnr.hasClass('top') ){
			y = y - ctnr.offset().top;
			auto_scroll_params.direction = -1;
			speed = 24 - y;
			auto_scroll_params.scrollAxis = 'vertical';
			var scrollElement = ctnr.parent();
		}else if( ctnr.hasClass('bottom') ){
			y = y - ctnr.offset().top;
			auto_scroll_params.direction = 1;
			speed = y + 1;
			auto_scroll_params.scrollAxis = 'vertical';
			var scrollElement = ctnr.parent();
		}else if( ctnr.hasClass('left') ){
			x = x - ctnr.offset().left;
			auto_scroll_params.direction = -1;
			speed = 24 - x;
			auto_scroll_params.scrollAxis = 'horizontal';
			var scrollElement = ctnr.parent().parent();
		}else if( ctnr.hasClass('right') ){
			x = x - ctnr.offset().left;
			auto_scroll_params.direction = 1;
			speed = x + 1;
			auto_scroll_params.scrollAxis = 'horizontal';  
			var scrollElement = ctnr.parent().parent();
		}
		
		speed = Math.round( speed/2 );
		speed = speed < 2 ? 2 : speed;
		auto_scroll_params.speed = speed;
		if(!auto_scroll_params.intervalTimer){
		  auto_scroll_params.intervalTimer = setInterval( function(){autoScroll(this);}.bind(scrollElement), auto_scroll_params.interval);
		}
		//console.log("autoscroll_mousemove auto_scroll_params.direction: " + auto_scroll_params.direction + ", 	auto_scroll_params.speed: " + 	auto_scroll_params.speed);
	}
	
	function autoScroll(scrollElement) {
		if(auto_scroll_params.direction == 0){
			stopAutoScroll();
			return;
		}
		var scrollIncrement = auto_scroll_params.direction * auto_scroll_params.speed;
		console.log("autoScroll with speed: " + auto_scroll_params.speed + " scrollIncrement: " + scrollIncrement);
		temp.scrollElement = scrollElement;
		temp.scrollIncrement = scrollIncrement
		if(auto_scroll_params.scrollAxis == 'vertical'){
			scrollElement.scrollTop( scrollElement.scrollTop() + scrollIncrement );
		}else{
			scrollElement.scrollLeft( scrollElement.scrollLeft() + scrollIncrement );
		}

	}
	