= render :template => 'shared/clear_sign_in_form', formats: [:js]

:plain
	var ideas = $("#{escape_javascript(render( partial: 'ideas/review_unrated', locals: { question: question}, content_type: 'html'  ))}");
	
	var q = $('div.question_summary[id="#{question.id}"]');
	var view_link = q.find('a.view_unrated_ideas');
	view_link.after(ideas);
	view_link.hide();
	ideas.find("div.idea_slider").slider({
		stop: function(event, ui) { 
			$.post('/idea/rating', {id: $(ui.handle).parent().attr('id'), rating: ui.value}, function(){}, "script");
			//$(this).closest('div.my_rating').html('<img src="/assets/wait3.gif"/><br/>Saving...')
		},
		value: 50,
		range: "min"
	});
	
	ideas.find('a.hide_ideas').click(function(){
		ideas.remove();
		view_link.show();
		return false;
	});
	