:plain
	console.log("The themem visibility has been updated for col: #{params[:idea_id]}");
	var col =  $('div.theme_col[id=#{params[:idea_id]}]');
	if( #{params[:visible]} ){
		col.addClass('theme_included');
	}else{
		col.removeClass('theme_included');
	}
	clear_theme_edit_wait();