%div.talking_point_comments.discussion{:id=> talking_point.id, :num_coms => talking_point.coms }
	%style
		:sass
			div.talking_point_comments
				margin: 0
			div.Comment
				width: auto
	
	%h4 
		Talking point worksheet 
		= link_to image_tag('close_corner.gif',{:title=>'Click to close talking point worksheet'}), {}, :remote=>false, :class=>'close_talking_point_comments'

	= render :partial=> 'plan/talking_point_post_it', :locals => {:talking_point=>talking_point}
	%p.clear_both
	
	%div.discussion{:id=> talking_point.id, :num_coms => talking_point.coms }
	
		= render :partial=> 'plan/comment', :collection => comments
	
		= render :partial => 'plan/comment_form', :locals => {:id=>talking_point.id, :type=>'talking_points', :criteria => com_criteria}
