:plain
	var com = $("#{escape_javascript(render(  :partial=> 'plan/comment', :locals=>{:comment=>comment, :members => members}, :content_type => 'html'  ))}");
	var form = $('div.comment_comments[id=#{comment_id}] form.comment_form');
	form.find('textarea').val('');
	form.before(com);
