%div.comment_comments{:id=>params[:comment_id]}
	= render :partial=> 'plan/comment', :collection => @comments, :locals => {:members => @commenting_members}
	
	= render :partial => 'plan/comment_form', :locals => {:id=>@comment.id, :type=>'comments'}
	