= render :template => 'shared/clear_sign_in_form.js'
:plain
	var errors = $("#{escape_javascript( render :partial => 'shared/error_messages', :locals => {:target => comment})}");
	var form = $('form.comment_form[id="#{params[:comment_id]}"]');
	form.find('div#errorExplanation').remove();	
	form.find('textarea').before(errors);
