= render :template => 'shared/clear_sign_in_form.js'
- err_str = "#{pluralize(comment.errors.count, "error")} prohibited this comment from being saved:"
- err_str += '\n\n' + comment.errors.full_messages.join('\n')
:plain
	alert('#{err_str}')