= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var errors = $("#{escape_javascript( render :partial => 'shared/error_messages', :locals => {:target => comment})}");
	var form = $('div.talking_point_comments[id="#{params[:talking_point_id]}"] form.orig[id="#{params[:talking_point_id]}"]');
	form.find('div#errorExplanation').remove();	
	form.find('textarea').before(errors);
