:plain
	var edit_form = $("#{escape_javascript(
		render( :template => 'comments/edit.html', :locals => {:comment => comment, :type => type} )
	)}");
	
	var dialog = edit_form.dialog( {title : 'Edit', modal : true, width : '500px', closeOnEscape: false });
-#	
	//$('form.report_content[id=#{@target.id}] a.cancel').die('click').live('click',
	//	function(){
	//		$(this).closest('div.ui-dialog').dialog('destroy').remove();
	//		return false;
	//	}
	//);
