= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var edit_form = $("#{escape_javascript(
		render( :template => 'comments/edit.html', :locals => {:comment => comment, :type => type} )
	)}");
	
	var dialog = edit_form.dialog( {title : 'Edit this comment', modal : true, width : '500px', closeOnEscape: false, close: function(){$(this).remove()} });
	
	var form = $('form.comment_edit_form[id="#{comment.id}"]');
	form.find('a.cancel').die('click').live('click', 
		function(){	$(this).closest('div.ui-dialog').dialog('destroy').remove(); return false; }
	);
	
	activate_text_counters_grow( form.find('textarea'), 120 )
	form.find(' a.cancel').die('click').live('click',
		function(){
			$(this).closest('div.ui-dialog').dialog('destroy').remove();
			return false;
		}
	);
