- edit ||= false
%div.idea_list{:class=> class_name ? class_name : ''}
	%div.header
		%div.theme
			%p.theme= title
			- if edit
				%div.edit
	%div.ideas.sortable_ideas
		- if instr
			%p.instr= instr
