- talking_points ||= nil
- edit ||= false
%div.idea_list{:class=> class_name ? class_name : '', :list_id=>list_id}
	%div.header
		%div.theme
			%p.theme= title
			- if edit
				%div.edit
	%div.ideas.sortable_ideas
		- if talking_points
			- talking_points.each do |tp|
				= render( :partial => 'ce_live/live_talking_point.html', :locals =>{:live_talking_point => tp, :mode => 'themed'})