%div.idea_list
	%div.header
		%p.theme= title
	%div.ideas.sortable_ideas
		= render :partial=>'ce_live/idea', :locals=>{:text=>'Obtain two or three copies of the Recommendations each, or make it available in a presentation format online for us to print off.'}
		= render :partial=>'ce_live/idea', :locals=>{:text=>"have more regional meeting as welll as national meetings, citizen's parliament should be held annually, if not at a regular basis."}
		= render :partial=>'ce_live/idea', :locals=>{:text=>"We want to have our inclusiveness reflected in our constitution"}
