:plain
	$('<p class="warn">The event test data has been cleared.<br/><br/>Please reload the theming and scribe pages.</p>').dialog( {title : 'Notice', modal : true, width : '400px', closeOnEscape: true, close: function(){$(this).remove()} });
	
