- if live_talking_point.nil?
	var dialog = $('<p class="warn">The themes for this session have already been published and new themes cannot be added</p>').dialog( {title : 'Sorry...', modal : false, width : '300', closeOnEscape: true, close: function(){$(this).remove()} });
	
- else
	:plain
		console.log("post_talking_point_from_group.js")

		var ltp = $("#{escape_javascript('<li class="idea_post_it">' + 
			render( :partial => 'live_themes/post_it', :formats => [:html], :locals =>{:idea => live_talking_point, random_ind: [rand.to_s[2].to_i]}) + '</li>'
		)}");
		
		$('div.theme_col##{live_talking_point.tag} ul.sortable_ideas').append(ltp);
		
		$('div#live_forms input[name="form_id"][value="#{params[:form_id]}"]').closest('div.form').hide(800,function(){$(this).remove();});
