:plain
	console.log("post_talking_point_from_group.js")
	var ltp = $("#{escape_javascript(
		render( :partial => 'ce_live/live_talking_point.html', :locals =>{:live_talking_point => live_talking_point, :mode => 'table'})
	)}");

	$('div#groups_live_talking_points div.inner').append(ltp);
	
	// clear the right form, or remove it
	
	$('input[name="form_id"]').each(
		function(){
			if(Number(this.value) == Number(#{params[:form_id]})){
				var form = $(this).closest('form');
				if( $('form.post_live_tp').size() == 1 ){
					form.find('textarea').val('');
					form.find(':text').val('');
				}else{
					form.closest('div.talking_point_block').remove();
					$('a.new_live_talking_point').show();
					$('p.new_live_talking_point').hide();
				}
			}
			console.log("value of this is " + this.value)
		}
	)