- case
	- when params[:action].match(/rate/)
		- item = 'rating'
	- when params[:action].match(/prefer/)
		- item = 'preference'
	- when params[:action] == 'create_talking_point_comment'
		- item = 'comment'
	- when params[:action] == 'add_talking_point'
		- item = 'talking point'
	- when params[:action].match(/add_endorsement/)	
		- item = 'endorsement'
	- when params[:action] == "vote_save"
		- item = 'vote'

%div#acknowledge_preliminary_participation
	%h3 Your #{item} has been recorded 
	- if item == 'preference'
		%p.warn You can select up to 5 preferences per question