%div#acknowledge_preliminary_participation_and_redirect
	%h3= msg
	- if params[:action] == 'submit_proposal_idea'
		%p It will be reviewed when you confirm your email address.
	- else
		%p It will be added to the proposal when you confirm your email address.
	%p 
		Your page should automatically return in 5 seconds or you can click 
		= link_to 'Return', redirect_url
		now.