- item = 'comment'
- case params[:action] when /rate/ then item = 'rating'; when /prefer/ then  item = 'preference' end
- item = 'talking point' if params[:input_type] == "talking_point"


%div#acknowledge_preliminary_participation
	%h3 Your #{item} has been recorded 
	- if item == 'preference'
		%p.warn You can select up to 5 preferences per question