:plain
	var form = $("#{escape_javascript(
		render( :template => 'sign_in/join_email_address_ok.html')
	)}");
	form.find('form').attr('data-remote','true');
	
	$('div#sign_in_form').closest('div.ui-dialog').dialog('destroy').end().remove();
	$('div#join_email_address_ok a.cancel').die('click').live('click', 
		function(){	$(this).closest('div.ui-dialog').dialog('destroy').remove(); return false; }
	);
	
	var dialog = form.dialog( {title : 'You have temporary access to this site', modal : true, width : '500px', closeOnEscape: true, close: function(){$(this).remove()} });
