-# don't show the flash message about sending an email from when they tried to sign in, it will confuse user
- if !flash[:notice].nil? && flash[:notice].match(/sent an email/)
	- flash[:notice] = nil;

%h3 Reset your password for #{@member.email}

%p.clear{'style' => 'color: red'}= flash[:notice]
- return_page ||= ''		
= render :partial => 'sign_in/password_reset_form', :locals => { :return_page => return_page}
		