%div#reset_password_form
	= form_tag(reset_password_post_path,{:class=>'reset_password_form'}) do
		%table
			%tr
				%td
					%label{:for=>"email"} Enter your email:
			%tr		
				%td
					- params[:email] = 'alice@civicevolution.org'
					= text_field_tag :email, params[:email]
			%tr
				%td
					= submit_tag "Reset password"
					= link_to 'Cancel', {:controller=>'welcome'}, {:class=>'cancel', :rel=>'nofollow'}
