= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var reset_password_form = $("#{escape_javascript(
		render( :template => 'sign_in/reset_password_form.html')
	)}");
	reset_password_form.find('input[name="email"]').val( $('div#sign_in_form input[name="email"]').val() )
	$('div.ui-dialog div#sign_in_form').closest('div.ui-dialog').dialog('destroy').remove().end().remove();
	$('div.reset_password_not_found').closest('div.ui-dialog').dialog('destroy').end().remove();
	reset_password_form.find('form').attr('data-remote','true');
	$('div#reset_password_form a.cancel').die('click').live('click', 
		function(){	$(this).closest('div.ui-dialog').dialog('destroy').remove(); return false; }
	);
	
	var dialog = reset_password_form.dialog( {title : 'Reset your password', modal : true, width : '400px', closeOnEscape: true, close: function(){$(this).remove()} });
