:plain
	var msg = $("#{escape_javascript(
		render( :template => 'sign_in/reset_password_not_found.html')
	)}");
	msg.find('form, a.reset_password').attr('data-remote','true');
	$('div#reset_password_form').closest('div.ui-dialog').dialog('destroy').end().remove();
	$('div#sign_in_form a.cancel').die('click').live('click', 
		function(){	$(this).closest('div.ui-dialog').dialog('destroy').remove(); return false; }
	);
	
	var dialog = msg.dialog( {title : 'Sorry', modal : true, width : 'auto', closeOnEscape: true, close: function(){$(this).remove()} });
