- if params[:in_right_panel]
	:plain
		var msg = $("#{escape_javascript(
			render( :template => 'sign_in/reset_password_sent', :formats => [:html], :locals=>{:email => params[:email_reset]})
		)}");

		var dialog = msg.dialog( {title : 'Success', modal : true, width : 'auto', closeOnEscape: true, close: function(){$(this).remove()} });
		setTimeout(function(){ $('div#reset_password_sent a.cancel').html('Close') }, 100);
	
		$('div#sign_in_form').find('table tr').hide().end().find('tr.signin').show();
		
- else
	:plain
		var msg = $("#{escape_javascript(
			render( :template => 'sign_in/reset_password_sent', :formats => [:html], :locals=>{:email => params[:email]})
		)}");
		$('div#reset_password_form').closest('div.ui-dialog').dialog('destroy').end().remove();
		$('div#reset_password_sent a.cancel').die('click').live('click', 
			function(){	$(this).closest('div.ui-dialog').dialog('destroy').remove(); return false;}
		);
	
		var dialog = msg.dialog( {title : 'Success', modal : true, width : 'auto', closeOnEscape: true, close: function(){$(this).remove()} });
		setTimeout(function(){ $('div#reset_password_sent a.cancel').html('Close') }, 100);