- if params[:in_right_panel] && flash[:notice]
	$('div#sign_in_form').find('p.error').remove();
	$('div#sign_in_form').prepend("<p class='error'>#{flash[:notice]}</p>")
- else
	:plain
		var sign_in_form = $("#{escape_javascript(
			render( :partial => 'right_panel/sign_in.html')
		)}");
		sign_in_form.find('form').attr('data-remote','true');
		$('div.ui-dialog div#sign_in_form').closest('div.ui-dialog').dialog('destroy').end().remove();
	
		var dialog = sign_in_form.dialog( {title : 'Please sign in or join to continue', modal : true, width : 'auto', closeOnEscape: true, close: function(){$(this).remove()} });

		setTimeout(
			function(){
				if(#{params[:act] == 'join'}){
					console.log("Make form show join");
					$('div.ui-dialog a#signup:first').click();
				}
			},100
		);