%h3 Thank you for contacting your participants and endorsers

%p Your message has been sent to 
- @recipients.each do |recipient|
	%p.recipients #{recipient[:first_name]} #{recipient[:last_name]}
	
%p
	You can contact us at support@civicevolution.org if you have any questions.
