%div#submit_proposal_acknowledge
	%p Thank you for requesting a pre-submission review of your proposal
	%p "#{@team.title}"

	%p 
		You will be notified via email when your idea has been reviewed, usually within 1 business day. If we have any questions or concerns, we will email you.
	
	%p
		You can contact us at support@civicevolution.org if you have any questions.
