-# Tooltips for the idea page, show in cluetip and hide unwanted parts

%div#tooltips

	%div#show_me_shared.show_me
		%h3 Finding a community based answer
		%ul
			%li Your goal is to develop a plan for implementing your change that at least most of the community can accept
			%li You can develop a plan by answering these 4 questions
			%li You and your community work together to answer these questions by brainstorming ideas about each question,  discussing them, highlighting your favorites, and creating an answer most everyone can agree on
			%li The popular brainstorming ideas help you discover and nurture common ground so you can create a mutually acceptable answer
			%li Everyone should be welcomed to participate, but you will need to make sure you invite them
			%li Remember, you're working with your neighbors, so please be respectful and try to take everyone's perspectives and values into account
	
	%div#show_me_brainstorm.show_me
		%h3 How brainstorming works
		%ul
			%li Brainstorming is the creative process of generating many different ideas that might help solve a problem
			%li Quantity is much more important than quality and there is no such thing as a dumb idea during brainstorming, so share your ideas, you never know where they may lead
			%li Every team member is strongly encouraged to suggest any idea they think might be important to finding an answer to this question
			%li All of the ideas are presented anonymously, so don't be shy
			%li Enter your new brainstorming idea in the form on the left
			%li Your idea will automatically be added to your list of favorite ideas
			%li But please be sure to limit each post to one idea so the team can discuss and evaluate it
			%li And please try to stay focused on this question - if you have an idea for another question, you can jump there at any time to post it

	%div#show_me_discuss.show_me
		%h3 Discuss the ideas and the question
		%ul
			%li Community discussion helps you understand each other, explore new ideas, and explain and promote your own ideas
			%li The back and forth of dialogue is really important, so please keep your comments focused - it is much better to post two separate comments than one comment with two different ideas
			%li Try to respond to each other's comments just like you would if you were talking face to face - we limit each comment to 1500 characters to encourage this
			%li Please try to stay focused on this question and brainstorming ideas
			%li You can reply to any idea or any comment by clicking the "Reply" link
			%li If your discussion points toward a new idea, be sure to post it as a new brainstorming idea so everyone can consider it
			%li Also, please rate each comment to indicate how constructive it is - does it help the team explore and understand the question - remember, a comment can be constructive even if you don't agree with it.


		
	%div#show_me_favorites.show_me
		%h3 Prioritise your favorite ideas
		%ul
			%li Each time you visit, you will see a list of new brainstorming ideas on the left under each question
			%li You should evaluate each idea and decide if it belongs on your favorites list
			%li If you're not sure, you can post a question or comment and decide later
			%li There is no limit on the number of ideas you can add to your favorites list
			%li The goal of collecting and prioritising ideas is to identify the most popular ideas for writing an answer
			%li It is important that you keep your list of favorites prioritised - the most important ideas should be at the top
			%li Click the "My favorites" link to see your favorites and click the up/down arrows to order them
			%li You should also remove ideas that are no longer a top priority for you.
		
	%div#show_me_explore.show_me
		%h3 Writing an answer from the popular ideas
		%ul
			%li We maintain a list of the most popular brainstorming ideas based on how the participants prioritise their favorites, with the most important ideas at the top
			%li The most popular ideas help the community find and nurture common ground
			%li Once you identify the important ideas and common ground you can write and edit an answer that reflects this community consensus
			%li Remember, a successful proposal must be supported by the community - getting participation and feedback is essential
			%li If you have any concerns about the answer, discuss it with the other participants
			%li The answer should reflect the consensus of the community so keep discussing, brainstorming, and refining the answer till most people are reasonably satisfied
			%li Please review the checklist and guidelines next to each answer
			-#%li Only committed participants with a history of participation can edit an answer
			-#%li We maintain an edit history so you can see how an answer has developed
		
	%div#show_me_checklist.show_me
		%h3 General Answer guidelines
		%ul  
			%li The answer should reflect the judgement and values of the participants as expressed by the most popular ideas
			%li One or more of the participants can help write and edit the answer
			%li We maintain an edit history so you can see how an answer has developed
			%li Everyone should review and discuss this answer and rate it to express your level of agreement
			%li It is important to get feedback on your proposal, so be sure to share with your friends and neighbors using social media like Facebook, blogs and Twitter, as well as posting it in your community and local papers
			%li The answer should reflect the consensus of the community so keep discussing, brainstorming, and refining the answer till most people are reasonably satisfied
		
	
	-#%div#checklist_1.checklist
		%h4 Question 1 checklist
		%ul
			%li What is the CHANGE you want to make?
			%li What does it look like NOW (before)?
			%li WHY does it need changing?
			%li What do you expect your change to ACHIEVE? 
			%li What would success look and feel like?

	%div#show_me_invite_emails.show_me
		%h3 Tips for inviting your friends
		%ul  
			%li You can invite one or more friends with this form
			%li We will only use these email addresses to send this one email on your behalf
			%li Enter one email recipient per line
			%li Enter the name, followed by a space, and then the email address
			%li The name is optional. Here are examples:
			%li Jane Public jane_public@civicevolution.org
			%li joe_public@civicevolution.org
		
		