%div.favorite{:id => talking_point.id}
	- if talking_point.my_rating.nil?
		- votes = 'Fave?'
	- elsif talking_point.preference_votes.nil? 
		- votes = 0
	- else 
		- votes = talking_point.preference_votes

	%input.fav_button{:class=> talking_point.my_preference ? 'fav' : '', :type=>"button", :name=>"btnFav", :value=>votes, :title=>"Click to add or remove as favorite"}
