- mode = '' unless !defined?(mode).nil? && !mode.nil?
%div.favorite		
	- votes = talking_point.preference_votes.nil? ? 0 : talking_point.preference_votes
	- my_fav = talking_point.my_preference.nil? ? 'true' : talking_point.my_preference ? 'false' : 'true'
	%button{:val=> my_fav}
		- if talking_point.my_preference
			= image_tag('tp-star-g.gif')
		- else
			= image_tag('tp-star-e.gif')
		%span.fav_cnt= mode != 'new_' ? votes : ''
