= render :template => 'shared/clear_sign_in_form.js'
:plain
	var new_preference = $("#{escape_javascript(
		render :partial => 'talking_point_preferences/preference', :locals => {:talking_point => talking_point}
	)}");

	$('div.talking_point_post_it[id="#{talking_point.id}"] div.favorite').each(
		function(){
			$(this).replaceWith( new_preference.clone() );
		}
	);
	
