%h3 Reports
%ul
	%li= link_to "2029 Teams", {:action=>'teams', :init_id=>2}
	%li= link_to "CGG Teams", {:action=>'teams', :init_id=>1}
	%li= link_to "2029 Members", {:action=>'members', :init_id=>2}
	%li= link_to "CGG Members", {:action=>'members', :init_id=>1}
	-#%li= link_to "Ideas", {:action=>'ideas'}
	