%h3 
	The password reset code has expired or been used, please return to the 
	= link_to 'sign in page', {:controller=>'welcome',:action => 'index'}
	and click reset password again.

%p= link_to 'Return to the sign in page', {:controller=>'welcome',:action => 'index'}

