%div#initiative_subscribed
	- if @act == 'remove'
		%h3 We will unsubscribe you
	- else 
		%h3 Thank you for subscribing to Skyline Students Step Up! 2012 Campaign
		
	= link_to 'Close', home_path, {:class=>'cancel'}