div.page
	width: 100%
	> *
		margin: 0 10px
div.tagline
	float: left
	margin-left: 20px
	margin-top: 11px
	h3
		margin: 0
div.join_com
	margin-top: 10px
	span.role
		margin-right: 30px
	
div#sign_in_form td.lbl
	text-align: left
	
	