div.page
	width: 100%
	> *
		margin: 10px 0 0 10px
	h3.session_title
		float: left
		font-size: 14px
		span.remaining_time
			color: blue
			font-size: 10px
		span.remaining_time.label
			margin-left: 20px
		span.remaining_time.time	
		
	div.tables_ribbon
		background-color: #eee
		span
			margin-right: 24px
div.tagline
	float: left
	margin-left: 20px
	margin-top: 11px
	h3
		margin: 0
div.join_com
	margin-top: 10px
	padding-right: 10px
	span.role
		margin-right: 30px
	
div#sign_in_form td.lbl
	text-align: left
	
@mixin opacity($value)
	opacity: #{"." + $value}
	filter: alpha(opacity=$value)
	-ms-filter: "alpha(opacity=$value)"
	-khtml-opacity: #{"." + $value}
	-webkit-opacity: #{"." + $value}
	-moz-opacity: #{"." + $value}

.dragged_idea
	@include opacity(40)
	p.stats
		display: none


div.lists
	p.stats
		span
			margin-right: 24px
span.published
	color: red
p.warn
	color: red
	
a.resize.increase
	font-size: 16px
a.resize.decrease
	font-size: 12px
	margin-left: -4px
	
	
div.content
	margin-top: 30px
ul, p, div.join_com a
	font-size: inherit
	
h3.session_title
	max-width: 700px
	
.nobreak
	white-space: nowrap
	
div.chat
	display: none
	position: absolute
	top: 100px
	left: 400px
	background-color: #eee
	border: 1px solid black
	p.hdr
		margin: .2em .4em
		position: relative
		border-bottom: 1px solid black
		a
			display: block
			position: absolute
			top: 0
			right: 0
			
	div.chat_log
		overflow: auto
		overflow-y: scroll
		height: 160px
		width: 260px
		padding: .2em 0
		p 
			margin: 0 .4em
	form
		margin-top: 0
		padding: 4px 0
		input[type=text]
			width: 190px
			margin: .5em
		input[type=submit]	
			padding: 0 0px
			margin: .5em
div.chat_alert	
	position: absolute
	background-color: #eee
	padding: .5em
	
div#scribe_standby
	width: 600px