div.page
	width: 100%
	> *
		margin: 10px 0 0 10px
	h3.session_title
		float: left
		font-size: 14px
		span.remaining_time
			color: blue
			font-size: 10px
		span.remaining_time.label
			margin-left: 20px
		span.remaining_time.time	
		
	div.tables_ribbon
		background-color: #eee
		span
			margin-right: 24px
div.tagline
	float: left
	margin-left: 20px
	margin-top: 11px
	h3
		margin: 0
div.join_com
	margin-top: 10px
	padding-right: 10px
	span.role
		margin-right: 30px
	
div#sign_in_form td.lbl
	text-align: left
	
@mixin opacity($value)
	opacity: #{"." + $value}
	filter: alpha(opacity=$value)
	-ms-filter: "alpha(opacity=$value)"
	-khtml-opacity: #{"." + $value}
	-webkit-opacity: #{"." + $value}
	-moz-opacity: #{"." + $value}

.dragged_idea
	@include opacity(40)
	p.stats
		display: none


div.lists
	p.stats
		span
			margin-right: 24px
span.published
	color: red
p.warn
	color: red
	
a.resize.increase
	font-size: 1.12em
a.resize.decrease
	font-size: .6em
	margin-left: -4px