$block_bg_color: #f7f3e8
$new_item_color: #F2583E
$off_black: #2b3e42
$title_bg_color: $off_black
$title_color: white
$stripe_bg: #fee188

$alert_color: #F5E876

$bsd_bar: #f3973a //#f3af6b // rgb(254, 204, 55) //#FDC762
$navy_blue: #23238E

body, p, ol, ul, td, textarea
	font-family: verdana, arial, helvetica, sans-serif
	font-size:   13px

form.suggest_proposal_idea_form
	textarea 
		font-size: 1.2em
	input[type='text']
		font-size: 1.2em
		
div.page
	width: 800px
	margin: auto
	p.tall 
		height: 0px
	fieldset
		width: 275px

		
span.promise, p.promise
	font-weight: bold
	color: $off_black
	font-size: 96%
	


div.logo
	text-align: left
	//width: 100%
	float: left
	img
		margin-bottom: 8px
	
div.join_com
	float: right
	margin-top: 55px
	a
		font-size: 14px
		font-weight: bold
		
div.member_info
	float: right
	margin-top: 19px
	color: $off_black
	div.member
		padding: 0 0 4px 42px
		margin: 0
		text-align: left
		font-weight: bold
		position: relative
		img
			display: block
			cursor: pointer
			position: absolute
			top: 0
			left: 0
	p.signout 
		margin: 0
		a.my_teams
			margin-right: 10px
		
	//	font-size: 88%
	//	position: absolute
	//	bottom: 0
	//	right: 0
	form.upload_member_photo
		display: none
		
form.upload_member_photo
	display: block
	input[type='file']
		width: 200px

		
hr.top
	clear: both
	margin-bottom: 0
	
div.footer_logo
	margin: 20px
	width: 100%

		
div.ce_credit
	width: 100%
	div.powered
		float: left
		h3
			margin-bottom: 6px
		p.tag_line 
			margin-top: 4px		
			font-weight: bold
	div.lottery
		float: left
		margin-left: 50px
		margin-top: 16px
				
a.team_entry_title
	display: block
	font-weight: bold
	color: $off_black
	
div.mission
	//float: left
	width: 542px 
	border: 0px solid red
	text-align: left
	h2
		margin-bottom: 0
		margin-top: 22px

h2
	font-size: 1em

div.videos
	//float: right
	width: 225px
	border: 0px solid red
	text-align: left
	h2 
		margin-bottom: 0px
		//margin-top: 22px
	div
		text-align: left
		margin: 0
		font-size: 92%
	p 
		margin-bottom: 4px
		font-weight: bold
		color: $off_black
		font-size: 96%
	p.link
		font-weight: bold
		margin: 8px 0 0 0
		font-size: 92%
	select
		margin-top: 4px
		//font-size: 1.1em
	img	
		width: 205px
		height: 126px
		margin-bottom: 10px
	
div.right_col	
	float: right
	margin-bottom: 40px
	margin-top: 22px
	width: 225px
	h2.home_title
		margin-bottom: 0
		margin-top: 0px
		font-size: 1em
	div.right_vertical_bar
		padding: 10px
		background-color: $block_bg_color
		div.stats
			padding-top: 0px
			//background-color: $block_bg_color
			border: 0px solid red	
			text-align: left
			//padding: 10px
			table
				margin: 0 0 10px 0
				td.two
					padding-left: 20px
			p
				margin: 13px 0 0 0
		

	div.sign_in
		background-color: $block_bg_color
		border: 0px solid red
		margin-top: 24px
		padding: 10px
		text-align: left
		div 
			text-align: left

			
div.left_col		
	float: left
	width: 542px
	margin-bottom: 40px	
	p
		margin: 10px 0 0 0 
	h2
		margin-bottom: 0
		margin-top: 22px
		font-size: 1em
	div.calls_to_action
		h2 
			margin-top: 0
			color: $off_black
	div.ideas_and_teams
		margin-top: 10px
		text-align: left
		div.tab_window
			overflow: visible
			height: auto
		ul.categories
			padding-left: 0
			margin-top: -10px
			li 
				list-style: none
				display: inline
				text-decoration: underline
				margin-left: 10px
			li.cat
				text-decoration: none
				margin-left: 0
		p.desc
			margin-top: 4px
		p.controls
			margin-top: 4px
			span
				margin-right: 20px
			a.visit
				font-weight: bold
				margin-left: 20px
			
		p.acknowledge
			margin-top: 30px
div.left_col.wide
	width: 100%
	float: none
	margin-bottom: 0
	//margin-top: 40px
	
//div.left_col.wide.transition
//	height: 50px
		
p.team_cnt
	font-style: italic

h2.home_title	
	//background-color: $title_bg_color
	background-color: $bsd_bar
	//color: $title_color
	color: $navy_blue
	padding: 2px 6px
	
div.stripe_bg
	background-color: $stripe_bg
	
	
div.calls_to_action
	background-color: $block_bg_color
	padding: 10px
	margin-top: 20px
	
ul.marketplace
	text-align: left
	padding-left: 20px
	margin-bottom: 0px
	li
		margin-bottom: 6px

//p.header_desc
//	margin: 0 0 0 0
	
p.last_sentence
	margin-bottom: 0
	
div.mission p 
	margin: 10px 0 10px 0

p.header_desc
	margin-left: 0

div.team_entry
	padding: 10px
	font-color: $navy_blue
	margin-left: 0

//form.reset_password_form
//	display: none
	
form.reset_password_form, form.signin_form, form.register_form
	max-width: 400px
	label
		font-weight: bold
	input[type='text'], input[type='password'] 
		width: 250px
	input[type='submit']
		margin: 20px 0
		
form.signin_form
	td
		vertical-align: top
	p
		width: 250px
		margin: 0 20px 10px 40px
	p.signin_warn
		margin: 0
		//font-size: 80%
		padding: 4px
		border: 1px solid $new_item_color
		width: 240px	

	
div.right_col
	input[type='text'], input[type='password']
		width: 190px
	
div.mask
	position: absolute
	top: 0
	left: 0
	z-index: 3
	background-color: white
	width: 100%
	height: 100%

div.right_col.reg_only
	position: absolute
	width: 350px
	z-index: 5	
	
	
div.teams_list
	div.member
		padding: 0 0 12px 42px
		margin: 0px 0 12px 0
		text-align: left
		font-weight: bold
		position: relative
		img
			display: block
			cursor: pointer
			position: absolute
			top: 0
			left: 0
		p.signout 
			margin: 0
			font-size: 88%
			position: absolute
			bottom: 0
			right: 0
	form.upload_member_photo
		border: 1px solid black
		padding: 4px
		display: none
		
p.teams_instr
	text-align: left

ul.teams_cta
	text-align: left
	padding-left: 20px
	
ul.teams_list
	text-align: left
	padding-left: 0px
	margin-left: 0
	li
		list-style: none
		cursor: pointer
		text-decoration: underline
		margin-bottom: 10px
		
div.residency
	border: 1px solid brown
	padding: 4px
	margin: 10px 0

div.tos_inner
	height: 500px
	overflow: auto
	overflow-y: scroll
	
.hide
	display: none
	
p.suggest_sign_in
	color: red
	
form.suggest_proposal_idea_form, form.join_proposal_team, form.invite_friends
	margin-bottom: 40px
	margin-right: 20px
	width: 100%
	max-width: 500px
	clear: both
	label
		display: block
		clear: both
		margin-top: 0px
		font-weight: bold
		font-style: italic
		color: #888
	textarea, input[type=text]
		width: 100%
	
a.request_confirmation_email
	margin-left: 10px
	
div.control_line.title
	margin-bottom: 10px

span.case
	color: $new_item_color
	font-weight: bold
	display: none


div.ideas_and_teams 
	div.tab_window
		border: none
		div.team_entry
			margin-top: 30px
			
img.join_us
	display: block
	margin-bottom: 8px
	
div#loading_please_wait
	border: 1px solid $off_black
	padding: 10px
	//width: 500px
	color: $off_black
	background-color: $alert_color
	//font-size: 1.2em
	font-weight: bold
	position: absolute
	display: none
	top: 0px
	left: 200px
	z-index: 1000
	//div.border
	//	padding: 10px
	//	border: 1px solid $off_black
	//	div.slow_msg
	//		display: block
	
ul.notification_settings
	li
		list-style: none
		margin-top: 20px
	p
		margin: -10px 0 0 0

div.notification_settings
	button
		margin: 10px 0 40px 20px
		
		
$help_tag: #f3973a
a.help_tag
	position: fixed
	top: 25%
	right: 0
	color: $help_tag
	width: 32px
	height: 183px
	background: url(/images/help_feedback_tag.gif) no-repeat 0 0
a.help_tag.mouseover
	border-right: 2px solid white


div.help_intro
	margin-top: 16px
	img.me
		float: left
		margin: 4px 10px 10px 0
	h3
		margin: 0 0 6px 0
	p
		margin: 0 0 8px 0


form.request_help
	textarea
		width: 500px
		font-size: 1.2em
	label
		display: block
		font-weight: bold
		margin-top: 16px
	input
		display: block
	select
		font-size: 1.28em
