body, p, ol, ul, td, textarea
	font-family: verdana, arial, helvetica, sans-serif
	font-size:   13px


.tagLine
	margin: -16px 0 16px 73px
.ceNameTag
	margin: 0 0 16px 8px

	
div.join_com
	float: right
	margin: 34px 0 12px 0
	a
		font-size: 14px
		font-weight: bold

div.logo
	text-align: left
	//width: 100%
	float: left
	
hr.top
	clear: both
	margin-bottom: 0
	
div.page
	width: 800px
	margin: auto
	p.tall 
		height: 0px
	fieldset
		width: 275px

// 
div.about
	width: 625px
	td
		vertical-align: top
		padding-bottom: 20px
		p
			margin: 0 0 1em 1em
		p.title
			font-weight: bold