div.proposal_form
	width: 600px

div.my_proposals
	margin: 20px 0
	border: 1px solid black
	padding: 1em
	p.header
		font-weight: bold
		font-size: 1.2em

div.section
	border: 1px solid black
	padding: 1em
	p.header
		font-weight: bold
		font-size: 1.2em
		
form.std_form
	textarea
		font-size: 1.2em
	input[type=text]
		font-size: 1.2em
	div.control_line
		margin-bottom: 36px
		
div.preview
	h3
		margin-top: 36px
		
p.presenter
	font-weight: bold
	
div.team_entry			
	margin-bottom: 20px
	
div.videos
	float: right
	width: 225px
	border: 0px solid red
	padding-top: 20px
	text-align: left
	div, p
		text-align: left
		margin: 0
		font-size: 92%
	p.link
		font-weight: bold
		margin: 8px 0 0 0
		font-size: 92%
	select
		margin-top: 4px
		//font-size: 1.1em
	img	
		width: auto
		height: 140px
span.warn
	font-weight: bold
	color: red