$question_bg: rgb(245,230,190)
$talking_point_bg: #BCC3D0 //rgb(192,228,154)
$acceptable_bg: #C8BCD1 //rgb(232,237,238)
$prefence_bg: #C8BCD1 //C5B4D1 //B4BED0 //rgb(222,222,236)
$input_bg: rgb(251,248,237)
$pale_input: rgb(51, 51, 51)
$new_item_color: #F2583E
$comments_block_bg: #F9F3DE
$com_quote_bg: #BCC3D0

$talking_points_page_width: 778px
$page_indent: 20px
$talking_point_width: 440px

=radius
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 1-0px

div.suggest_title
	position: relative
	margin-bottom: 0
	img.i36
		position: absolute
		top: 4px
		left: 0
		//vertical-align: -25px
	h3
		margin-left: 40px

//div.talking_points_page
	//float: left
	//width: $talking_points_page_width


h2.home_title
	margin: 18px 41px 0px 41px
	a
		font-size: .6em
		margin-left: 0px
		font-weight: normal
		
div.summary
	margin: -10px 41px 20px 41px
	font-size: 1.12em
div.summary.collapse
	margin-bottom: 20px


div.proposal.inview
	background-color: $question_bg
	h2.question
		font-size: 1.2em
	padding: 20px 0

div.question_worksheet
	clear: both
	//border: 1px solid yellow
	//background-color: $question_bg
	padding: 20px 0 20px 20px
	margin-bottom: 40px
	a.open_worksheet
		display: none
		margin: 20px 0 20px $page_indent
		font-size: 1.2em
		font-weight: bold
	div.navigation
		position: relative
		text-align: center
		a.prev
			left: 0
			display: block
			position: absolute
			top: 0
		a.next
			right: 0
			display: block
			position: absolute
			top: 0
			margin-right: $page_indent
			
			
div.question_worksheet.noview
	background-color: none
	margin: 0
	padding-top: 0
	padding-bottom: 10px
	div.talking_point_sec
		margin-left: 0
	div.talking_points_list p.show_more_link
		display: none
	a.open_worksheet
		display: block
	h2.question
		cursor: pointer
	.navigation
		display: none
	
h3.ques_sub_hdg

div.talking_point_sec
	margin-left: $page_indent
	div.instr
		width: $talking_point_width
		img
			display: block
			float: left
			margin: 4px 8px 0 0
		p.instr
			float:left
			margin: 0
			font-size: 1em
	p.question_show_talking_points
		margin-top: 30px
	
div.talking_points_list	
	//border: 1px solid green
	margin-left: $page_indent
	
div.what_do_you_think
	//border: 1px solid black
	margin-left: $page_indent
	clear: both
	
div.ques_discussion
	//border: 1px solid red
	margin-top: 50px
	margin-left: $page_indent
	div.Comment
		margin-left: $page_indent
	p.count_link
		margin-left: $page_indent
		
div.comment_comments
	margin-left: $page_indent*2
	form.comment_form
		margin-left: 20px
		
		
/* CSS FOR Talking Points */

div.talking_point_entry		
	clear: both
	margin-bottom: 15px
	margin-top: 25px

div.talking_point_body
	+radius
	//background-color: $talking_point_bg
	background: $talking_point_bg url(/images/white_bulb_sm.gif) no-repeat 8px 20px
	float: left
	width: $talking_point_width
	padding: 0 10px
	> *
		margin-left: 40px
	p.talking_point
		font-size: 1.28em
	div.talking_point_controls
		p
			margin-top: -4px
		p.coms
			float: left
		p.other
			float: right
	

div.talking_point_preferable
	+radius
	background-color: $prefence_bg
	float: left
	padding: 10px 10px 10px 10px
	margin-right: 15px
	p.total_preference
		margin-top: 0
	p.my_preference
		label
			cursor: pointer
		input
			margin-left: 0
			margin-bottom: 0
		
div.talking_point_acceptable	
	+radius
	background-color: $acceptable_bg
	float: left
	margin: 0 15px
	padding: 10px 10px 10px 0

	div.my_rating
		width: 132px
		float: left
		p.title
			width: 100%
			text-align: center
			margin: 0 0 7px 0
		input.rating
			margin: 2px
		form
			div.radios
				margin: 0 15px
				label
					cursor: pointer
				div
					height: 20px
					width: 20px
					float: left
					text-align: center
					padding-top: 2px
				div.good
					background-color: green
				div.neutral
					background-color: yellow
				div.bad
					background-color: red
		p.option
			margin: 20px 0 0 0px
			font-size: 75%
			clear: both  
			text-align: center
		p.please_rate
			margin: 20px 0 0 20px
			font-size: 1.12em
			color: red
			font-weight: bold
			clear: both  
		
div.community_rating
	//width: 150px
	float: left
	margin-right: 15px
	div.graph
		height: 37px
		//width: 120px
		//border: 1px solid black
		position: relative
	div.bar
		width: 12px
		bottom: 0
		position: absolute
		background-color: green
		
	div.bar.neutral
		background-color: yellow
	div.bar.bad
		background-color: red
	div.bar.zero
		background-color: #ddd
	p.talking_point_ratings
		margin: 0 0 8px 0
	
div.talking_point_entry.header
	margin-bottom: 30px
	div.talking_point_body
		background: none
		div.instr 
			margin: 0
			font-size: .94em
	p.title
		margin: 0
	div.talking_point_acceptable
		width: 214px
		text-align: center
		font-weight: bold
	div.talking_point_preferable	
		width: 132px
		text-align: center
		font-weight: bold
				
/* End CSS FOR Talking Points */
	
	
	
/* CSS FOR What do you think form */	
div.what_do_you_think
	position: relative
	margin-top: 50px
	label
		cursor: pointer
	form
		margin-left: $page_indent
	h3.ques_sub_hdg
		margin-bottom: 0
	td ul
		margin-top: 0
		margin-bottom: 10px
	td
		white-space: nowrap
	td.icon
		//white-space: nowrap
		label
			p 
				float: left
				margin: 6px 15px 0 0
				font-weight: bold
			div.icon
				+radius
				background-color: $talking_point_bg
				width: 30px
				height: 30px
				float: left
				margin: 0 15px 0 10px
				img
					margin: 2px 0 0 2px
					width: 24px
					height: 24px
	
			div.icon.talking_point
				background-color: $talking_point_bg
			div.icon.comment
				//border: 1px solid black
	textarea
		width: 550px
		height: 60px
		margin-top: 6px
	div.instr
		position: absolute
		top: 0
		left: 600px
		width: 300px
		font-weight: bold
		font-size: 1.2em
		padding-top: 9px
	
/* End CSS FOR What do you think form */	
	
	
	
/* CSS For Comments */
div.full_comment_display div.comment
	margin-top: -50px
	padding-left: 46px
	width: 100%
	background: transparent

div.one_line_comment div.comment
	margin-top: -20px
	padding-left: 46px
	width: 100%
	background: transparent

div.Comment.top_sibling
	padding-left: 6px
	//border-left: 2px solid #68b100
	margin-left: 20px

div.Comment
	margin-top: 20px
	max-width: 510px
	p.clear_both
		padding-bottom: 4px
		margin: 0

div.comment
	width: auto
	background: transparent
	
div.Comment
	margin-top: 16px

div.Comment_entry.one_line_comment.new_com
	font-weight: bold
		
div.Comment_entry.one_line_comment
	margin-bottom: 0px
	height: auto
	div.close_1com
		background-position: 0 0
	img
		width: 20px
		height: 20px
		display: block
		margin: 0px 10px 0px 0px
		cursor: pointer
	div.comment
		position: relative
		margin-top: -20px
		padding-left: 46px
	span.author
		display: none
	abbr
		display: none
	div.comment_text
		height: 20px
		overflow: hidden
		margin-left: -20px
		p
			display: none
		div.one_liner
			display: block
			position: relative
			height: 20px
			cursor: pointer
			span.txt
				white-space: nowrap
			img
				position: absolute
				top: 0
				right: 0
				width: 12px
				height: 12px
	div.resource
		display: none
	span.new
		display: none
	div.comment_controls
		display: none

div.coms_show_one_line
	.hidden
		display: none
	form.open_form
		clear: both
		margin-bottom: 10px
		padding-right: 20px
		input
			color: $pale_input
			width: 100%


div.Comment_entry.full_comment_display	
	img
		display: block
		margin: 4px 10px 0 0
	div.comment
		position: relative
		margin-top: -50px
		padding-left: 54px
	span.author
		display: inline
		font-size: 88%
	abbr
		display: block
		font-size: 80%
		margin-top: 2px
		//font-style: italic
		border: none
	abbr.move_up
		margin-top: -16px
	div.comment_text
		height: auto
		display: inline
		p
			margin: 8px 0
		div.one_liner
			display: none
	span.new
		//display: block
		color: $new_item_color
		font-weight: bold
	div.comment_controls
		position: relative
		margin-top: 0

div.comment_text, div.answer, div.bs_idea
	p
		margin: 0 0 8px 0

div.comment_controls
	height: 50px
	abbr
		float: left
	div.comment_links
		float: right
		a
			margin-right: 16px

div.quote
	background: $com_quote_bg
	padding: 1em
	p
		margin-left: 1em
	p.quote
		margin-left: 0
		font-style: italic
		
/* end Comment CSS */	

div.endorsements
	td
		vertical-align: top
		padding: 6px
		p
			margin-top: 0

/* comments block CSS */
div.talking_point_comments
	//background-color: $comments_block_bg
	//+radiusius
	margin: 40px 0 0 50px
	//padding: 1em 0
	width: 580px
	//div.Comment
	//	margin: 1em 1em 0 1em

/* END comments block CSS */

	
/* notebook and spiral CSS */
div.spiral
	background: url(/images/notebook_paper_spiral.gif) repeat-y
	//border: 1px solid orange
	position: absolute
	top: 0
	left: 0
	width: 33px
	height: 100%
	//margin: 20px 0
div.notebook
	//border: 1px solid green
	//border: 1px solid #CCC
	margin-left: 12px
	background: url(/images/parchment_tile.jpg)
	padding-left: 30px
	padding-top: 20px
	padding-bottom: 20px
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 1-0px
	
div.worksheet
	position: relative
	margin-top: 30px
	
/* End notebook and spiral CSS */	