:plain
	Hello #{@email},

	Thank you for using #{@app_name} at CivicEvolution. Please click this link to create your CivicEvolution membership:

	#{@url}

	(You can also copy this link and paste it into the address bar of your browser)

	If you did not want to join CivicEvolution, please disregard this email and we apologize for the inconvenience.