%div
	%div.tos_inner
		%p
			%b The CivicEvolution website and services are developed and provided by Practical Evolution, LLC of San Francisco, California, USA.


		%div.simple_tos.corner
			%h3 Terms of use in plain English
			%ol
				%li Verbal or written abuse of any kind (including threats of abuse or retribution) of any CivicEvolution user or Practical Evolution, LLC employee will result in immediate account termination.
				%li Your use of the Service is at your sole risk on an "as is" and "as available" basis 
				%li We may, but have no obligation to, review and/or remove inappropriate content
				%li You retain ownership over all content that you submit to CivicEvolution; however, you agree to allow Practical Evolution, LLC to display and store such content and others to view it
				%li The CivicEvolution platform, software, and processes are copyrighted by Practical Evolution, LLC
				%li The content you post to the site is not secure; neither the transmission nor storage is encrypted
				%li Practical Evolution will collect data about users to measure how the software services are being used to improve functionality and detect bugs and problems.
				%li Practical Evolution will not sell or share personally identifiable information, unless compelled by a court of law for law enforcement reasons.
				%li Practical Evolution will aggregate non-identifiable data for the purposes of researching usability, improving the processes and publishing statistics about the CivicEvolution process.
				

		%h2
			Web Site Terms and Conditions of Use as a lawyer might say it
			
		%h3
			1. Terms
		%p
			By accessing this web site, you are agreeing to be bound by these
			web site Terms and Conditions of Use, all applicable laws and regulations,
			and agree that you are responsible for compliance with any applicable local
			laws. If you do not agree with any of these terms, you are prohibited from
			using or accessing this site. The materials contained in this web site are
			protected by applicable copyright and trade mark law.
		%h3
			2. Use License
		%ol{:type => "a"}
			%li
				Permission is granted to access the Practical Evolution, LLC's web site. This is the grant of a license,
				not a transfer of title, and under this license you may not:
				%ol{:type => "i"}
					%li attempt to decompile or reverse engineer any software contained on Practical Evolution, LLC's web site;
					%li remove any copyright or other proprietary notations from the materials; or
					%li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Practical Evolution, LLC.
					%li Verbal or written abuse of any kind (including threats of abuse or retribution) of any CivicEvolution user, Practical Evolution, LLC employee, member, or officer will result in immediate account termination.
					%li The failure of Practical Evolution, LLC to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service govern your use of the Service.
					%li We reserve the right to refuse service to anyone for any reason at any time.
			%li
				This license shall automatically terminate if you violate any of these restrictions and may be terminated by Practical Evolution, LLC at any time. 
		%h3
			3. Disclaimer
		%ol{:type => "a"}
			%li Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis without any warranty or condition, express, implied or statutory.
			%li We do not warrant that the service will be uninterrupted, timely, secure, or error-free.
			%li We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
			%li You understand that your Content may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
			%li We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violate any party's intellectual property or these Terms of Service.
			%li We do not claim any intellectual property rights over the material you provide to the CivicEvolution service. All material you upload remains yours.
			%li By uploading images, documents and commentary content to CivicEvolution, you agree to allow other internet users to view them and you agree to allow Practical Evolution, LLC to display and store them and you agree that Practical Evolution, LLC can, at any time, review all the content submitted by you to its Service.
			%li You retain ownership over all content that you submit to a CivicEvolution account however, by making your workspace public or inviting others into your workspace, you agree to allow others to view your content.
			%li
				The materials on Practical Evolution, LLC's web site are provided "as is". Practical Evolution, LLC makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Practical Evolution, LLC does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
		%h3
			4. Limitations
		%p
			In no event shall Practical Evolution, LLC or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Practical Evolution, LLC's Internet site, even if Practical Evolution, LLC or a Practical Evolution, LLC authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			%p You expressly understand and agree that we shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.
			%p In no event shall we or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, officers, directors, agents and employees harmless from any claim or demand, including reasonable attorney's fees made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.
		%h3
			5. Revisions and Errata
		%p
			The materials appearing on Practical Evolution, LLC's web site could include technical, typographical, or photographic errors. Practical Evolution, LLC does not warrant that any of the materials on its web site are accurate, complete, or current. Practical Evolution, LLC may make changes to the materials contained on its web site at any time without notice. Practical Evolution, LLC does not, however, make any commitment to update the materials.
		%p We reserve the right to modify the Service for any reason, without notice at any time.	
		%h3
			6. Links
		%p
			Practical Evolution, LLC has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Practical Evolution, LLC of the site. Use of any such linked web site is at the user's own risk.
		%h3
			7. Site Terms of Use Modifications
		%p
			Practical Evolution, LLC may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
		%p Questions about the Terms of Service should be sent to support at info@civicevolution dot com.
		%h3
			8. Governing Law
		%p
			Any claim relating to Practical Evolution, LLC's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.
		%p
			General Terms and Conditions applicable to Use of a Web Site.
	

	
		%h2
			Privacy Policy
		%p
			Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
		%ul
			%li
				Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
			%li
				We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
			%li
				We will only retain personal information as long as necessary for the fulfillment of those purposes.
			%li
				We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
			%li
				Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
			%li
				We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
			%li
				We will make readily available to customers information about our policies and practices relating to the management of personal information.
			%li Practical Evolution will collect data about users to measure how the software services are being used to improve functionality and detect bugs and problems. 
			%li Practical Evolution will not sell or share personally identifiable information, unless compelled by a court of law for law enforcement reasons. 
			%li Practical Evolution will aggregate non-identifiable data for the purposes of researching usability, improving the processes and publishing statistics about the CivicEvolution process.
			%li 
				The data that Practical Evolution may collect and analyze in the course of your use of the CivicEvolution website and services may include, but not be limited to:
				%ol
					%li The name and email you provide for registration
					%li The residency you indicate
					%li Your IP address to confirm residency
					%li Cookies may be used to remember you when you visit again
	
		%p
			We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.