body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

	
/* temporary */

/* temporary */

.img_button {  display:block; float:left;padding:2px;}
.img_button .link {padding-left:16px;background:url("/images/fb.sprite.png") no-repeat -16px -495px;}
.img_button .upload {padding-left:16px;background:url("/images/fb.sprite.png") no-repeat -16px -735px;}
.over_img_btn {background-color:#ccc;}
span.status {margin-right:2em;}


.item { border:0px solid black; padding:10px 0 0 0px;}
.sibling {margin-left:0px;padding-left:0; border-top:0px dotted black;}
.top_sibling{ border:0px solid green;margin-top:1em;}
h1.title {color:#415861;line-height:110%;}

.deleted_item {font-style:italic;}

.star_hover {margin:0 0 0 20px; display:hidden;}

.new_comment {width:400px; /* height:100px; */ margin-bottom:1em;}
.add_new_comment .status { display:block;float:left;}
.add_new_comment button {margin-left:1em;}
.add_new_comment a {margin-left:1em;}
.add_new_comment .error {background-color: red; color: white;padding:0 1em; font-weight:bold;}
.add_new_comment {text-align:right;}
.add_new_comment textarea {text-align: left;margin-bottom:.5em;width:400px;}

.resource {padding: .5em 1em;margin:.5em 1em; border:1px solid #ddd;}

input.submitLink {
background-color:white;
border:0;
color:blue;
text-decoration:underline;
font-size:1em;
font-weight:bold;
font-family:inherit;
cursor:pointer;
padding:3px;
}





/* Mini thumbs rating styles */
.mini_thumbs_up { position:relative; margin:0; padding:0; height:16px; color:#000; }

/* Position buttons */
.mini_thumbs_up input {width:16px; height:16px; background:url(/images/sprite.png) no-repeat 0 0; border:0; text-indent:-9999px; cursor:pointer; }
.mini_thumbs_up input.vote_down { background-position:-16px 0; }
.mini_thumbs_up input:hover { background-position:0 -16px; }
.mini_thumbs_up input.vote_down:hover { background-position:-16px -16px; }
.mini_thumbs_up input:active { background-position:0 -32px; }
.mini_thumbs_up input.vote_down:active { background-position:-16px -32px; }

/* Position score */
.mini_thumbs_up strong { display:block; margin:0 0 0 40px; font-size:12px; line-height:16px; text-align:left; }

/* Closed form */
.closed input { background-position:0 -48px; }
.closed input.vote_down { background-position:-16px -48px; }

/* Right aligned */
/*.mini_thumbs_up.right input { left:auto; right:18px; }
.mini_thumbs_up.right input.vote_down { right:0; }
.mini_thumbs_up.right strong { margin:0 40px 0 0; text-align:right; } */

.mini_thumbs_up .spinner {background:url(/images/spinner.gif) no-repeat 0 0; width:16px;}

/* Fix for IE <= 7: text-indent does not work to hide text on submit buttons */
.mini_thumbs_up input { font-size:0; line-height:999px; }


span.votes_up {color:green;}
span.votes_down {color:red;}
form.mini_thumbs_up {position:absolute;right:0;top:10px;width:230px;font-weight:bold;}
form.mini_thumbs_up span.votes_up{position:absolute; right:70px;padding-right:10px;text-align:right; width:30px;}
form.mini_thumbs_up input.vote_up{position:absolute; right:60px;}
form.mini_thumbs_up input.vote_down{position:absolute; right:40px;}
form.mini_thumbs_up span.votes_down{position:absolute; right:0;padding-left:10px;text-align:left;width:30px;}






iframe.ape {display: none; position: 'absolute';	left: -300px;	top: -300px;}
.chat_window{
	font-family : Arial,Helvetica,sans-serif;
	font-size:12px;
}

.chat_window .pseudo{
	font-weight:bold;
}
.shoutbox_msg{
	height:255px;
	padding:7px;
	margin-bottom:5px;
	overflow:hidden;
	border:1px solid #000;
}
/*.chat_window form input{
	border:1px solid #DDD;
	height:17px;
	width:398px;
} */
/* .chat_window form input.submit{
	margin-top:5px;
}*/

#members_online {display:none;}
#members_online .header {float:left;}
.ape_user {margin-right:1em;float:left;}
.clear {clear:both;}
div.question {font-weight:bold;font-size:1.2em;}

/* .chat_window {float:left;} */
.shoutbox_msg {overflow:auto:overflow-x:scroll; overflow-y:scroll;background-color:white;}
.shoutbox_msg table {width:100%;}
.shoutbox_msg table td {vertical-align:top;text-align:left;}
.shoutbox_msg table td.actions {text-align:right;width:32 px;}
.shoutbox_msg p.name {font-weight:bold;margin:0}
.shoutbox_msg p.msg {margin:.3em 0 0 0}
.shoutbox_msg td.pic {width:45px;}
.shade {background-color:#eee;}
.hide {display: none;}


.chat_window {
  border: 1px solid black; }

.chat_input {
  float: left;
  width: 250px; }

.chat_submit {
  float: right;
  width: 65px; }

h3.accordion_header {padding-left: 30px;}

.float_left {float:left;}
div.test_links {float:right;}
div.test_links p {margin:0;}
div.logo {float:left;}
div#members_online {height:70px;}

div.chat_summary {height:220px;
	overflow:auto:overflow-x:scroll; overflow-y:scroll;background-color:white;}
div.chat_summary textarea {height:200px; width:100%;}

/*
ul.list {width:400px;}
p.form_links {margin:0 0 8px 0;clear:both;}
form.mini_thumbs_up {float:right;width:40px;}
li.list_item {margin-top:1em;}
div.list_item {float:left;}
*/

ul.list {width:auto;}
p.form_links {margin:0 0 8px 0; font-size:80%;}
li.list_item form.mini_thumbs_up {position:absolute;right:0;top:0;}
li.list_item {position:relative;}
div.list_item {margin-right:40px;}

p.item_links a {margin-right: 2em}

table.reorder_list {width:400px;}
table.reorder_list td {vertical-align:top;padding-bottom:1em;}
table.reorder_list input {width:20px;margin-right:2em;}


div.recent {background-color: #fee;}
div.context {background-color: #eee;}

div.playback_page {border:1px solid green; padding:1em; margin:2em 0;}

div.Question {border:0px;margin-top:0;padding-top:0;}
div.Team {margin:0;padding:0;}

.hdr_link {font-size:80%;}
div.List {margin-top:-1.2em;}
div.Comment_entry {position:relative;}
div.Comment_entry form {display:inline;}

.Page {margin-top:0px;padding-left:-20px;}
div.Question {margin-left:0px;}
.nav_chat{width: 400px;}
/*.proposal{width:600px; margin-left:20px; 
	overflow:auto:overflow-x:scroll; overflow-y:scroll;} */
/* #accordion {height:500px;} */

div.entry h3 {margin:0;}

div.Comment_entry .details {width:100%;}

div.Question_entry {margin-top:10px;}
div.Question_entry p.owner {margin-top:0; font-style:italic;}

div.entry a {font-weight:bold;}
img.screenshot {margin-bottom:20em;}
.y_scroll {overflow:auto:overflow-x:none; overflow-y:scroll;}
.sign_out {font-weight: bold;}

.chat_window {border: 1px solid black}
.chat_input{color:blue; float:left; width: 250px}
.chat_submit{float:right; color:black; width:65px;}
.init_chat {font-style:italic;}

form.add_new_comment {text-align:left;}

div.Team_info_entry {margin-bottom:60px;}
span.chat_ago {margin-left:2em; color:#888; font-style:italic; font-size:.8em;}
div.chat_transcript_outer {max-height:600px;}

.mark_new_comment, .mark_new_question, .mark_new_answer {font-weight:bold; color:red; margin-right	:2em;}
.mark_updated_comment, .mark_updated_question, .mark_updated_answer {font-weight:bold; color:red; margin-right	:2em;}

ins {color:green;}
del {color:red;}
div.item_history_outer {max-height:600px;}

span.chat_cnt{margin-left:1em;}
span.ans_cnt{margin-left:1em;}
span.com_cnt{margin-left:1em;}

span.team_link {margin-left:6px;}
p.my_teams {margin-top:-10px;}

/********************************
	proposal_ui
********************************/

.page_view h2{background-color:#415861;color:white; margin:0;padding:8px;}
.Page_entry {margin-top:0;padding-top:0;}
.Page {margin-top:0;padding-top:0;}

.answer, .answer_controls {
	background-color:#e1e7eb; border:1px solid #ccc;
	/* background:url(pale_purple15.gif) repeat;color: #27388f;border:1px solid #27388f; */
		-moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px 10px 0 10px;}
div.answer {font-weight:bold;font-size:1em;}
.answer_controls {margin-top:6px;padding-bottom:10px;}
.proposal {width:600px;}

/* div.com_body{position:relative; width:500px; border:1px solid red;} */

div.mem_pic {-moz-border-radius: 5px; -webkit-border-radius: 5px;
	background-color:#f9f9f9;border:1px solid #ccc;
	padding:10px; height:100%;width:60px; }
div.mem_pic p {margin:0;}
div.mem_pic img {display:block;}
div.comment_controls {position:relative;}
div.comment_controls a {margin-right:20px;}
		
div.comment	{
	/*position:absolute;
	top:0;left:110px;right:0; bottom:0;
	padding:0px;*/
	-moz-border-radius: 5px; -webkit-border-radius: 3px;
		background-color:#f9f9f9;border:1px solid #ccc;
		padding:10px 10px 0 10px;
	width:100%;
	height:100%;
	 }
div.comment_controls	{
	margin-top:6px;
	-moz-border-radius: 5px; -webkit-border-radius: 3px;
		background-color:#f9f9f9;border:1px solid #ccc;
		padding:10px;
	width:100%;
	height:100%;
	clear:both;
}
	
div.Comment_entry {	margin-bottom:10px;}

div.Comment_entry table {width:95%;}
td.mem_pic {height:100%;padding-right:5px;}		
td.comment {width:100%;height:100%;}
/* div.comment { border:1px solid red; margin:10px;} */
div.comment p {margin:0; }

/* {position:absolute; top:0; left:90px; width:400px;} */

div.details  {font-style:italic; }	
div.controls {background:url(peach_controls15.gif) no-repeat; width:84px; height:108px;
	margin-left:10px; padding-left:20px; padding-top:20px;margin-bottom:10px;}	
p.item_link	{margin:0; font-weight:bold;}
div.controls{position:absolute;top:0; right:0;float:none;}


.Comment_entry td {vertical-align:top;}

div.comment p {margin-bottom:10px;}
td.mem_pic .timeago {display:block; font-style:italic; font-size:.7em; white-space:nowrap;margin-top:4px;}
td.mem_pic .status {font-style:italic; font-size:.7em;}
td.mem_pic .first {font-size:.8em;}
td.mem_pic .last {font-size:.8em;margin-bottom:4px;}

div.Question{padding-left:-20px;}
div.Comment {margin-left:20px;}
div.Answer {margin-left:20px;}
div.page_view {margin-left:20px;}

div.Question_entry {color:#415861;}

a { color: #415861; }
a:visited { color: #666; }
a:hover { color: #A8BDC5; }

div.Answer_entry a:hover { color: #fff; }
div.logo {float:left;margin-right:20px;margin-top:-10px;}
hi.title {float:left; text-decoration:none;}

#members_online { float:left;}
#members_offline {filter:alpha(opacity=50);opacity:0.50; float:left;}
.Page {padding-right:20px;}
div.answer form {margin-top:-10px;}
div.answer p {margin:0 0 10px 0;}

span.rate_cta {float:left;}
span.transcript_link {font-style:italic;font-size:90%;margin-left:5px;}
/*span.cap_q {font-size:140%;background-color:#415861;display:block; float:left;color:white;padding:2px 10px 5px 10px;margin-right:10px;}*/
span.cap_q {font-size:140%;margin-right:0px;}