div.page {
  width: 100%; }
  div.page > * {
    margin: 10px 0 0 10px; }
  div.page h3.session_title {
    float: left;
    font-size: 14px; }
    div.page h3.session_title span.remaining_time {
      color: blue;
      font-size: 10px; }
    div.page h3.session_title span.remaining_time.label {
      margin-left: 20px; }
  div.page div.tables_ribbon {
    background-color: #eeeeee; }
    div.page div.tables_ribbon span {
      margin-right: 24px; }

div.tagline {
  float: left;
  margin-left: 20px;
  margin-top: 11px; }
  div.tagline h3 {
    margin: 0; }

div.join_com {
  margin-top: 10px;
  padding-right: 10px; }
  div.join_com span.role {
    margin-right: 30px; }

div#sign_in_form td.lbl {
  text-align: left; }

.dragged_idea {
  opacity: .40;
  filter: alpha(opacity=40);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .40;
  -webkit-opacity: .40;
  -moz-opacity: .40; }
  .dragged_idea p.stats {
    display: none; }

div.lists p.stats span {
  margin-right: 24px; }

span.published {
  color: red; }

p.warn {
  color: red; }

a.resize.increase {
  font-size: 16px; }

a.resize.decrease {
  font-size: 12px;
  margin-left: -4px; }

div.content {
  margin-top: 30px; }

ul, p, div.join_com a {
  font-size: inherit; }

h3.session_title {
  max-width: 700px; }

.nobreak {
  white-space: nowrap; }

div.chat {
  display: none;
  position: absolute;
  top: 100px;
  left: 400px;
  background-color: #eeeeee;
  border: 1px solid black; }
  div.chat p.hdr {
    margin: 0.2em 0.4em;
    position: relative;
    border-bottom: 1px solid black; }
    div.chat p.hdr a {
      display: block;
      position: absolute;
      top: 0;
      right: 0; }
  div.chat div.chat_log {
    overflow: auto;
    overflow-y: scroll;
    height: 160px;
    width: 260px;
    padding: 0.2em 0; }
    div.chat div.chat_log p {
      margin: 0 0.4em; }
  div.chat form {
    margin-top: 0;
    padding: 4px 0; }
    div.chat form input[type=text] {
      width: 190px;
      margin: 0.5em; }
    div.chat form input[type=submit] {
      padding: 0 0px;
      margin: 0.5em; }

div.chat_alert {
  position: absolute;
  background-color: #eeeeee;
  padding: 0.5em; }

div#scribe_standby {
  width: 600px; }

div.auto-scroll {
  opacity: .10;
  filter: alpha(opacity=10);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .10;
  -webkit-opacity: .10;
  -moz-opacity: .10; }
