div.page {
  width: 100%; }
  div.page > * {
    margin: 10px 0 0 10px; }

div.tagline {
  float: left;
  margin-left: 20px;
  margin-top: 11px; }
  div.tagline h3 {
    margin: 0; }

div.join_com {
  margin-top: 10px; }
  div.join_com span.role {
    margin-right: 30px; }

div#sign_in_form td.lbl {
  text-align: left; }

.dragged_idea {
  opacity: .40;
  filter: alpha(opacity=40);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .40;
  -webkit-opacity: .40;
  -moz-opacity: .40; }
  .dragged_idea p.stats {
    display: none; }
