div.page {
  width: 100%; }
  div.page > * {
    margin: 10px 0 0 10px; }
  div.page h3.session_title {
    float: left;
    font-size: 14px; }
    div.page h3.session_title span.remaining_time {
      color: blue;
      font-size: 10px; }
    div.page h3.session_title span.remaining_time.label {
      margin-left: 20px; }
  div.page div.tables_ribbon {
    background-color: #eeeeee; }
    div.page div.tables_ribbon span {
      margin-right: 24px; }

div.tagline {
  float: left;
  margin-left: 20px;
  margin-top: 11px; }
  div.tagline h3 {
    margin: 0; }

div.join_com {
  margin-top: 10px;
  padding-right: 10px; }
  div.join_com span.role {
    margin-right: 30px; }

div#sign_in_form td.lbl {
  text-align: left; }

.dragged_idea {
  opacity: .40;
  filter: alpha(opacity=40);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .40;
  -webkit-opacity: .40;
  -moz-opacity: .40; }
  .dragged_idea p.stats {
    display: none; }

div.lists p.stats span {
  margin-right: 24px; }

span.published {
  color: red; }

p.warn {
  color: red; }

a.resize.increase {
  font-size: 16px; }

a.resize.decrease {
  font-size: 12px;
  margin-left: -4px; }

div.content {
  margin-top: 30px; }

ul, p, div.join_com a {
  font-size: inherit; }

h3.session_title {
  max-width: 700px; }
