body, p, ol, ul, td, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px; }

form.suggest_proposal_idea_form textarea {
  font-size: 1.2em; }
form.suggest_proposal_idea_form input[type='text'] {
  font-size: 1.2em; }

div.page {
  width: 800px;
  margin: auto; }
  div.page p.tall {
    height: 0px; }
  div.page fieldset {
    width: 275px; }

span.promise, p.promise {
  font-weight: bold;
  color: #2b3e42;
  font-size: 96%; }

div.logo {
  text-align: left;
  float: left; }
  div.logo img {
    margin-bottom: 8px; }

div.join_com {
  float: right;
  margin-top: 55px; }
  div.join_com a {
    font-size: 14px;
    font-weight: bold; }

div.member_info {
  float: right;
  margin-top: 19px;
  color: #2b3e42; }
  div.member_info div.member {
    padding: 0 0 4px 42px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    position: relative; }
    div.member_info div.member img {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0; }
  div.member_info p.signout {
    margin: 0; }
    div.member_info p.signout a.my_teams {
      margin-right: 10px; }
  div.member_info form.upload_member_photo {
    display: none; }

form.upload_member_photo {
  display: block; }
  form.upload_member_photo input[type='file'] {
    width: 200px; }

hr.top {
  clear: both;
  margin-bottom: 0; }

div.footer_logo {
  margin: 20px;
  width: 100%; }

div.ce_credit {
  width: 100%; }
  div.ce_credit div.powered {
    float: left; }
    div.ce_credit div.powered h3 {
      margin-bottom: 6px; }
    div.ce_credit div.powered p.tag_line {
      margin-top: 4px;
      font-weight: bold; }
  div.ce_credit div.lottery {
    float: left;
    margin-left: 50px;
    margin-top: 16px; }

a.team_entry_title {
  display: block;
  font-weight: bold;
  color: #2b3e42; }

div.mission {
  width: 542px;
  border: 0px solid red;
  text-align: left; }
  div.mission h2 {
    margin-bottom: 0;
    margin-top: 22px; }

h2 {
  font-size: 1em; }

div.videos {
  width: 225px;
  border: 0px solid red;
  text-align: left; }
  div.videos h2 {
    margin-bottom: 0px; }
  div.videos div {
    text-align: left;
    margin: 0;
    font-size: 92%; }
  div.videos p {
    margin-bottom: 4px;
    font-weight: bold;
    color: #2b3e42;
    font-size: 96%; }
  div.videos p.link {
    font-weight: bold;
    margin: 8px 0 0 0;
    font-size: 92%; }
  div.videos select {
    margin-top: 4px; }
  div.videos img {
    margin-bottom: 10px; }

div.right_col {
  float: right;
  margin-bottom: 40px;
  margin-top: 22px;
  width: 225px; }
  div.right_col h2.home_title {
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 1em; }
  div.right_col div.right_vertical_bar {
    padding: 10px;
    background-color: #f7f3e8; }
    div.right_col div.right_vertical_bar div.stats {
      padding-top: 0px;
      border: 0px solid red;
      text-align: left; }
      div.right_col div.right_vertical_bar div.stats table {
        margin: 0 0 10px 0; }
        div.right_col div.right_vertical_bar div.stats table td.two {
          padding-left: 20px; }
      div.right_col div.right_vertical_bar div.stats p {
        margin: 13px 0 0 0; }
  div.right_col div.sign_in {
    background-color: #f7f3e8;
    border: 0px solid red;
    margin-top: 24px;
    padding: 10px;
    text-align: left; }
    div.right_col div.sign_in div {
      text-align: left; }

div.left_col {
  float: left;
  width: 542px;
  margin-bottom: 40px; }
  div.left_col p {
    margin: 10px 0 0 0; }
  div.left_col h2 {
    margin-bottom: 0;
    margin-top: 22px;
    font-size: 1em; }
  div.left_col div.calls_to_action h2 {
    margin-top: 0;
    color: #2b3e42; }
  div.left_col div.ideas_and_teams {
    margin-top: 10px;
    text-align: left; }
    div.left_col div.ideas_and_teams div.tab_window {
      overflow: visible;
      height: auto; }
    div.left_col div.ideas_and_teams ul.categories {
      padding-left: 0;
      margin-top: -10px; }
      div.left_col div.ideas_and_teams ul.categories li {
        list-style: none;
        display: inline;
        text-decoration: underline;
        margin-left: 10px; }
      div.left_col div.ideas_and_teams ul.categories li.cat {
        text-decoration: none;
        margin-left: 0; }
    div.left_col div.ideas_and_teams p.desc {
      margin-top: 4px; }
    div.left_col div.ideas_and_teams p.controls {
      margin-top: 4px; }
      div.left_col div.ideas_and_teams p.controls span {
        margin-right: 20px; }
      div.left_col div.ideas_and_teams p.controls a.visit {
        font-weight: bold;
        margin-left: 20px; }
    div.left_col div.ideas_and_teams p.acknowledge {
      margin-top: 30px; }

div.left_col.wide {
  width: 100%;
  float: none;
  margin-bottom: 0; }

p.team_cnt {
  font-style: italic; }

h2.home_title {
  background-color: #f3973a;
  color: #23238e;
  padding: 2px 6px; }

div.stripe_bg {
  background-color: #fee188; }

div.calls_to_action {
  background-color: #f7f3e8;
  padding: 10px;
  margin-top: 20px; }

ul.marketplace {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 0px; }
  ul.marketplace li {
    margin-bottom: 6px; }

p.last_sentence {
  margin-bottom: 0; }

div.mission p {
  margin: 10px 0 10px 0; }

p.header_desc {
  margin-left: 0; }

div.team_entry {
  padding: 10px;
  font-color: #23238e;
  margin-left: 0; }

form.reset_password_form, form.signin_form, form.register_form {
  max-width: 400px; }
  form.reset_password_form label, form.signin_form label, form.register_form label {
    font-weight: bold; }
  form.reset_password_form input[type='text'], form.reset_password_form input[type='password'], form.signin_form input[type='text'], form.signin_form input[type='password'], form.register_form input[type='text'], form.register_form input[type='password'] {
    width: 250px; }
  form.reset_password_form input[type='submit'], form.signin_form input[type='submit'], form.register_form input[type='submit'] {
    margin: 20px 0; }

form.signin_form td {
  vertical-align: top; }
form.signin_form p {
  width: 250px;
  margin: 0 20px 10px 40px; }
form.signin_form p.signin_warn {
  margin: 0;
  padding: 4px;
  border: 1px solid #f2583e;
  width: 240px; }

div.right_col input[type='text'], div.right_col input[type='password'] {
  width: 190px; }

div.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 100%; }

div.right_col.reg_only {
  position: absolute;
  width: 350px;
  z-index: 5; }

div.teams_list div.member {
  padding: 0 0 12px 42px;
  margin: 0px 0 12px 0;
  text-align: left;
  font-weight: bold;
  position: relative; }
  div.teams_list div.member img {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0; }
  div.teams_list div.member p.signout {
    margin: 0;
    font-size: 88%;
    position: absolute;
    bottom: 0;
    right: 0; }
div.teams_list form.upload_member_photo {
  border: 1px solid black;
  padding: 4px;
  display: none; }

p.teams_instr {
  text-align: left; }

ul.teams_cta {
  text-align: left;
  padding-left: 20px; }

ul.teams_list {
  text-align: left;
  padding-left: 0px;
  margin-left: 0; }
  ul.teams_list li {
    list-style: none;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px; }

div.residency {
  border: 1px solid brown;
  padding: 4px;
  margin: 10px 0; }

div.tos_inner {
  height: 500px;
  overflow: auto;
  overflow-y: scroll; }

.hide {
  display: none; }

p.suggest_sign_in {
  color: red; }

form.suggest_proposal_idea_form, form.join_proposal_team, form.invite_friends {
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100%;
  max-width: 500px;
  clear: both; }
  form.suggest_proposal_idea_form label, form.join_proposal_team label, form.invite_friends label {
    display: block;
    clear: both;
    margin-top: 0px;
    font-weight: bold;
    font-style: italic;
    color: #888888; }
  form.suggest_proposal_idea_form textarea, form.suggest_proposal_idea_form input[type=text], form.join_proposal_team textarea, form.join_proposal_team input[type=text], form.invite_friends textarea, form.invite_friends input[type=text] {
    width: 100%; }

a.request_confirmation_email {
  margin-left: 10px; }

div.control_line.title {
  margin-bottom: 10px; }

span.case {
  color: #f2583e;
  font-weight: bold;
  display: none; }

div.ideas_and_teams div.tab_window {
  border: none; }
  div.ideas_and_teams div.tab_window div.team_entry {
    margin-top: 30px; }

img.join_us {
  display: block;
  margin-bottom: 8px; }

div#loading_please_wait {
  border: 1px solid #2b3e42;
  padding: 10px;
  color: #2b3e42;
  background-color: #f5e876;
  font-weight: bold;
  position: absolute;
  display: none;
  top: 0px;
  left: 200px;
  z-index: 1000; }

ul.notification_settings li {
  list-style: none;
  margin-top: 20px; }
ul.notification_settings p {
  margin: -10px 0 0 0; }

div.notification_settings button {
  margin: 10px 0 40px 20px; }

a.help_tag {
  position: fixed;
  top: 25%;
  right: 0;
  color: #f3973a;
  width: 32px;
  height: 183px;
  background: url(/images/help_feedback_tag.gif) no-repeat 0 0; }

a.help_tag.mouseover {
  border-right: 2px solid white; }

div.help_intro {
  margin-top: 16px; }
  div.help_intro img.me {
    float: left;
    margin: 4px 10px 10px 0; }
  div.help_intro h3 {
    margin: 0 0 6px 0; }
  div.help_intro p {
    margin: 0 0 8px 0; }

form.request_help textarea {
  width: 500px;
  font-size: 1.2em; }
form.request_help label {
  display: block;
  font-weight: bold;
  margin-top: 16px; }
form.request_help input {
  display: block; }
form.request_help select {
  font-size: 1.28em; }

.warn {
  color: red;
  font-weight: bold; }
