.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

body, p, ol, ul, td, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px; }

div#tooltip_source {
  display: none; }

img {
  border: none; }

div#load_mask {
  background-color: #23238e;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 1000px; }

h2#load_message {
  color: #23238e;
  display: none;
  border: 2px solid #23238e;
  padding: 10px; }

a.help_tag {
  position: fixed;
  top: 25%;
  right: 0;
  color: #f3973a;
  width: 32px;
  height: 183px;
  background: url(/images/help_feedback_tag.gif) no-repeat 0 0; }

a.help_tag:hover {
  border-right: 2px solid white; }

a.new_tag {
  position: fixed;
  top: 25%;
  left: 0;
  color: #f3973a;
  width: 32px;
  height: 183px;
  background: url(/images/new_content_tag.gif) no-repeat 0 0; }

a.new_tag:hover {
  border-left: 2px solid white; }

div.page {
  width: 980px;
  margin: auto; }

div.logo {
  text-align: left;
  float: left; }
  div.logo img {
    margin-bottom: 8px; }

iframe.ape {
  display: none;
  position: absolute;
  left: -300px;
  top: -300px; }

div.member_info {
  float: right;
  width: 180px;
  margin-top: 18px;
  color: #2b3e42; }
  div.member_info div.member {
    padding: 0 0 4px 42px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    position: relative; }
    div.member_info div.member img {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0; }
  div.member_info p.signout {
    margin: 0; }
    div.member_info p.signout a.my_teams {
      margin-right: 10px; }
  div.member_info form.upload_member_photo {
    display: none; }

div.join_com {
  float: right;
  margin-top: 55px; }
  div.join_com a {
    font-size: 14px;
    font-weight: bold; }

hr.top {
  clear: both;
  margin-bottom: 0; }

div.footer_logo {
  margin: 20px;
  width: 100%; }

div.ce_credit {
  width: 100%; }
  div.ce_credit a {
    text-decoration: none;
    color: black; }
  div.ce_credit div.powered {
    float: left; }
    div.ce_credit div.powered h3 {
      margin-bottom: 6px; }
    div.ce_credit div.powered p.tag_line {
      margin-top: 4px;
      font-weight: bold; }
  div.ce_credit div.lottery {
    float: left;
    margin-left: 50px;
    margin-top: 16px; }

hr.bottom, .clear {
  clear: both;
  margin-top: 40px; }

.hide {
  display: none; }

tr.stripe {
  background-color: #f2e9c3; }

p.loading {
  font-weight: bold;
  font-size: 1.2em; }

div.side_bar {
  width: 180px;
  float: left;
  margin-left: 20px; }
  div.side_bar a.request_help {
    display: block;
    font-size: 1.2em;
    font-weight: bold; }

div.help_intro {
  margin-top: 16px; }
  div.help_intro img.me {
    float: left;
    margin: 4px 10px 10px 0; }
  div.help_intro h3 {
    margin: 0 0 6px 0; }
  div.help_intro p {
    margin: 0 0 8px 0; }

form.request_help textarea {
  width: 500px;
  font-size: 1.2em; }
form.request_help label {
  display: block;
  font-weight: bold;
  margin-top: 16px; }
form.request_help input {
  display: block; }
form.request_help select {
  font-size: 1.28em; }

div.report {
  max-width: 500px; }
  div.report p.cat {
    margin: 0 0 4px 0; }
  div.report label {
    font-weight: bold;
    display: block;
    margin-top: 10px; }
  div.report a.cancel {
    font-size: 80%; }

img.i36 {
  width: 36px;
  height: 36px; }

.form_error_border {
  border: 1px solid #f2583e; }

.form_error_text, .error {
  color: #f2583e;
  font-weight: bold; }

div#errorExplanation {
  color: red; }

form.what_do_you_think, form.std_form, form.comment_form {
  margin-bottom: 40px;
  margin-right: 0px;
  width: 100%;
  max-width: 500px;
  clear: both; }
  form.what_do_you_think label, form.std_form label, form.comment_form label {
    display: block;
    clear: both;
    margin-top: 0px;
    font-weight: bold;
    font-style: italic;
    color: #888888; }
  form.what_do_you_think img, form.std_form img, form.comment_form img {
    display: block;
    float: left;
    margin: 6px 10px 0 0; }
  form.what_do_you_think textarea, form.what_do_you_think input[type=text], form.std_form textarea, form.std_form input[type=text], form.comment_form textarea, form.comment_form input[type=text] {
    width: 100%;
    font-size: 1.2em;
    background-color: #f9f3de; }
  form.what_do_you_think input[type=submit], form.std_form input[type=submit], form.comment_form input[type=submit] {
    margin: 0 10px 0 10px; }
  form.what_do_you_think input[type=file], form.std_form input[type=file], form.comment_form input[type=file] {
    margin: 12px 0 16px 0; }
  form.what_do_you_think div.controls, form.std_form div.controls, form.comment_form div.controls {
    position: absolute;
    right: 0; }
  form.what_do_you_think div.control_line, form.std_form div.control_line, form.comment_form div.control_line {
    position: relative;
    margin-bottom: 10px; }
    form.what_do_you_think div.control_line img, form.std_form div.control_line img, form.comment_form div.control_line img {
      cursor: pointer; }
  form.what_do_you_think div.add_comment, form.what_do_you_think div.add_link, form.what_do_you_think div.attach_file, form.std_form div.add_comment, form.std_form div.add_link, form.std_form div.attach_file, form.comment_form div.add_comment, form.comment_form div.add_link, form.comment_form div.attach_file {
    clear: both;
    margin-right: 20px;
    border: 0px solid #dddddd; }
    form.what_do_you_think div.add_comment p img, form.what_do_you_think div.add_link p img, form.what_do_you_think div.attach_file p img, form.std_form div.add_comment p img, form.std_form div.add_link p img, form.std_form div.attach_file p img, form.comment_form div.add_comment p img, form.comment_form div.add_link p img, form.comment_form div.attach_file p img {
      display: block;
      margin-top: -2px; }
  form.what_do_you_think div.add_link, form.what_do_you_think div.attach_file, form.std_form div.add_link, form.std_form div.attach_file, form.comment_form div.add_link, form.comment_form div.attach_file {
    display: none; }
  form.what_do_you_think button, form.std_form button, form.comment_form button {
    margin-left: 15px; }
  form.what_do_you_think p.resource_warning, form.std_form p.resource_warning, form.comment_form p.resource_warning {
    margin-top: -12px; }

form.std_form label {
  margin-bottom: 8px; }

form.add_bs_idea_form {
  font-size: 1em; }

div#submit_proposal {
  max-width: 500px; }
  div#submit_proposal p.title {
    font-style: italic;
    margin: 0 20px; }
  div#submit_proposal p.cat {
    margin: 0 0 4px 0; }
  div#submit_proposal label {
    font-weight: bold;
    display: block;
    margin-top: 10px; }
  div#submit_proposal a.cancel {
    font-size: 80%; }

div#submit_proposal_acknowledge {
  max-width: 500px; }

div.preview_email {
  border: 1px solid #666666;
  padding: 20px;
  word-wrap: break-word; }
  div.preview_email div.email_headers p {
    margin: 0; }
  div.preview_email div.email_headers p.subject {
    margin-top: 10px; }
  div.preview_email div.email_headers p.recipients {
    margin-left: 20px; }
  div.preview_email pre.email_body {
    margin: 10px 0 30px 0; }

form.reset_password_form, form.signin_form, form.register_form {
  max-width: 400px; }
  form.reset_password_form label, form.signin_form label, form.register_form label {
    font-weight: bold; }
  form.reset_password_form input[type='text'], form.reset_password_form input[type='password'], form.signin_form input[type='text'], form.signin_form input[type='password'], form.register_form input[type='text'], form.register_form input[type='password'] {
    width: 250px; }
  form.reset_password_form input[type='submit'], form.signin_form input[type='submit'], form.register_form input[type='submit'] {
    margin: 20px 0; }

form.signin_form td {
  vertical-align: top; }
form.signin_form p {
  width: 240px;
  margin: 0 20px 10px 40px; }
form.signin_form p.signin_warn {
  margin: 0;
  padding: 4px;
  border: 1px solid #f2583e;
  width: 240px; }
form.signin_form p.signin_action_warn {
  color: red;
  font-weight: bold; }

div#email_participants {
  textarea-height: 100px; }
  div#email_participants th, div#email_participants td {
    text-align: left;
    padding-left: 20px; }
  div#email_participants th.ctr, div#email_participants td.ctr {
    text-align: center; }

table.tablesorter th {
  cursor: pointer; }

div#invite_friends {
  max-width: 500px; }

ul.teams_list li {
  margin-bottom: 8px; }

.clear_both {
  clear: both; }

.warn {
  color: red;
  font-weight: bold; }

p.app_error_msg {
  color: #999999;
  font-size: 1em;
  margin: 3em 0 0 0; }
