div.logo {
  margin-top: 10px; }

div.tagline {
  float: left;
  margin-left: 20px;
  margin-top: -16px; }
  div.tagline h1 a {
    text-decoration: none;
    color: black; }

div.homepage_intro p.fine_print {
  font-size: 0.8em; }
