/* Comprehensive Base Stylesheet - http://fvsch.com/code/base-stylesheet/
 * Makes browser default styles more consistent, creating a canvas that you
 * should modify for your project. Fully commented. Last update: 2011-10-02. */
/* CONTAINERS */
body {
  margin: 0;
  padding: 0;
  /* Browsers have default 8px margins _or_ padding! */
  font-size: 100%;
  /* See: http://www.informationarchitects.jp/en/100e2r/ */
  line-height: 1.3;
  /* Default value, `normal`, depends on the font */ }

/* HTML5 blocks - needed in older browsers */
article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* PARAGRAPHS */
h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  /* Titles should be close to the text they describe */
  line-height: 1.25;
  /* Bigger text is often nicer with smaller line height */
  font-weight: bold;
  /* Browser default. Use `normal` for less bulky titles */ }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

ul, ol {
  margin: 1em 0;
  /* Default for all browsers except IE */
  padding-left: 40px;
  /* IE has a 40px margin-left instead */ }

p {
  margin: 1em 0; }

blockquote {
  margin: 1em 40px;
  /* Same for all browsers - Customize or remove */ }

figure {
  margin: 1em 0;
  /* Default in HTML5 spec: `1em 40px` */ }

/* LINKS */
/* Default browser styles (from Firefox, similar in most browsers) */
a {
  text-decoration: underline; }
  a:link {
    color: #0000ee; }
  a:visited {
    color: #551a8b; }
  a:active {
    color: #ee0000; }
  a:hover, a:focus {
    /* ... */ }
  a:active, a:hover {
    outline: none; }
  a img {
    border: none; }

/* Add your own styles for hover _and_ focus styles */
/* Remove dotted outline clicked links - Keeps outline on focus */
/* No border around images in links */
/* MISC TEXT-LEVEL ELEMENTS */
/* Make quotations and references more visible */
q, cite {
  font-style: italic; }

/* Remove automatic quotation marks for inline quotations
 * (`q {quotes:none}` not implemented in WebKit) */
q:before, q:after {
  content: ""; }

/* Stopping superscript and subscript from adding to the line's leading */
sup, sub {
  line-height: 0; }

/* FORMS */
fieldset {
  margin: 0;
  /* Common default is `0 2px` */
  padding: 0;
  /* Common default (roughly): `.35em .625em .75em` */
  border: none; }

input, button, select {
  vertical-align: middle;
  /* Helps keep form elements roughly aligned */ }

/* TABLES */
table {
  border-collapse: collapse;
  /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */ }

td, th {
  padding: 1px;
  /* Same as browser default - set to "0" to remove padding */
  vertical-align: top;
  /* Default is "middle" */
  text-align: left;
  /* Default for TH elements is "center" */ }

td:first-child, th:first-child {
  empty-cells: hide;
  /* Hide empty cells when they're the first in the row */ }

input {
  margin: 0; }

.corner {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

p {
  margin: 1em 0; }

abbr {
  border: none; }

div.suggest_title {
  position: relative;
  margin-bottom: 0; }
  div.suggest_title img.i36 {
    position: absolute;
    top: 4px;
    left: 0; }
  div.suggest_title h3 {
    margin-left: 40px; }

h2.home_title {
  margin: 18px 0 0px 0; }
  h2.home_title a {
    font-size: 0.6em;
    margin-left: 0px;
    font-weight: normal; }

div.summary {
  margin: -10px 0 20px 0;
  font-size: 1.12em; }

div.summary.collapse {
  margin-bottom: 20px; }

div.form_controls {
  position: relative;
  margin-top: 8px; }
  div.form_controls span.char_ctr {
    display: block;
    position: absolute;
    left: 200px;
    top: 2px; }
  div.form_controls a {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    margin: 0; }

/* Proposal summary page */
div.talking_points_page, div.home_page {
  position: relative;
  padding-top: 30px; }

p.question {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 2em;
  cursor: pointer; }

div.left_side {
  width: 680px;
  float: left;
  position: relative; }

div.talking_points_list ul.talking_points {
  margin-left: -20px; }
  div.talking_points_list ul.talking_points li {
    margin-bottom: 8px; }
div.talking_points_list div.talking_point_placeholder {
  background: #c7c7c7 url(/images/white_bulb_sm.gif) no-repeat 8px 10px;
  width: 400px;
  padding-left: 50px;
  padding-bottom: 20px; }
  div.talking_points_list div.talking_point_placeholder p {
    font-size: 1.2em;
    width: 400px; }
div.talking_points_list h2.ellipsis {
  margin: 1em; }

div.resources {
  margin-left: 40px;
  margin-top: -10px; }
  div.resources div {
    width: 48px;
    height: 48px;
    border: 1px solid #cccccc;
    float: left;
    cursor: pointer; }

div.proposal {
  padding-right: 20px; }

div.endorsements {
  position: relative;
  margin-top: 80px; }
  div.endorsements table {
    margin-right: 1em; }
  div.endorsements h3 {
    width: 100%;
    text-align: left; }
  div.endorsements td, div.endorsements th {
    text-align: left; }

div.progress {
  padding: 1em;
  margin: 40px 0;
  background-color: #e1e8c4; }
  div.progress h3 {
    font-size: 1em;
    margin: 0 0 8px 0; }
  div.progress div.participants tr.stripe {
    background-color: #e1e8c4; }
  div.progress div.participants img {
    padding: 0 8px 8px 0; }
  div.progress div.leaderboard td {
    padding: 0 8px 8px 0;
    font-size: 0.8em; }

div.tools_info {
  background-color: #e1e8c4;
  padding: 1em; }
  div.tools_info div.tools {
    float: left; }
    div.tools_info div.tools iframe {
      width: 50px; }
    div.tools_info div.tools p, div.tools_info div.tools div {
      margin: 10px 0 0 0; }
    div.tools_info div.tools a {
      height: 16px; }
  div.tools_info div.videos p {
    font-weight: bold; }

div.cta_block {
  background-color: #e1e8c4;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px; }
  div.cta_block div.text {
    float: left;
    width: 76%;
    padding-right: 10px; }
    div.cta_block div.text h3 {
      margin-bottom: 0; }
    div.cta_block div.text p {
      margin-top: 8px; }
    div.cta_block div.text p.cta {
      line-height: 1em; }
  div.cta_block div.num {
    float: left;
    width: 18%;
    color: white;
    font-size: 80px;
    text-align: center; }

/* END Proposal summary page */
div.proposal.inview {
  background-color: #f5e6be;
  padding: 20px 0; }
  div.proposal.inview h2.question {
    font-size: 1.2em; }

div.question_worksheet {
  clear: both;
  padding: 20px 0 20px 20px;
  margin-bottom: 40px; }
  div.question_worksheet h2.worksheet_team {
    text-align: center; }
  div.question_worksheet a.open_worksheet {
    display: none;
    margin: 20px 0 20px 20px;
    font-size: 1.2em;
    font-weight: bold; }
  div.question_worksheet div.navigation {
    position: relative;
    text-align: center; }
    div.question_worksheet div.navigation a.prev {
      left: 0;
      display: block;
      position: absolute;
      top: 0; }
    div.question_worksheet div.navigation a.next {
      right: 0;
      display: block;
      position: absolute;
      top: 0;
      margin-right: 20px; }

div.question_worksheet.noview {
  background-color: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px; }
  div.question_worksheet.noview div.talking_point_sec {
    margin-left: 0; }
  div.question_worksheet.noview div.talking_points_list p.show_more_link {
    display: none; }
  div.question_worksheet.noview a.open_worksheet {
    display: block; }
  div.question_worksheet.noview h2.question {
    cursor: pointer; }
  div.question_worksheet.noview .navigation {
    display: none; }

h3.ques_sub_hdg {
  margin-bottom: 0; }
  h3.ques_sub_hdg a {
    font-size: 0.7em;
    font-weight: normal; }

div.talking_point_sec {
  margin-left: 20px; }
  div.talking_point_sec div.instr.arrow {
    background: url(/images/red_arrow.gif) no-repeat 0px 12px; }
  div.talking_point_sec div.instr {
    width: 400px; }
    div.talking_point_sec div.instr p.instr {
      margin: 0 0 0 40px;
      font-size: 1em; }
  div.talking_point_sec p.question_show_talking_points {
    margin-top: 30px; }

div.talking_points_list {
  margin-left: 20px; }

div.ques_discussion {
  margin-top: 50px;
  margin-left: 0; }
  div.ques_discussion p.count_link {
    margin-left: 20px; }
  div.ques_discussion div.question_discussion_placeholder {
    margin: 0 0 40px 20px; }
    div.ques_discussion div.question_discussion_placeholder p {
      font-size: 1.2em;
      width: 400px; }

div.comment_comments {
  margin-left: 40px; }
  div.comment_comments form.comment_form {
    margin-left: 20px; }

/* CSS FOR Talking Points */
div.talking_point_entry {
  clear: both;
  margin-bottom: 15px;
  margin-top: 16px; }

div.talking_point_body {
  float: left;
  width: 400px;
  padding: 0 10px;
  min-height: 40px; }
  div.talking_point_body p.talking_point {
    font-size: 1.28em;
    margin-right: 10px; }
  div.talking_point_body div.talking_point_controls {
    display: none;
    margin-right: 10px; }
    div.talking_point_body div.talking_point_controls p {
      margin-top: -4px; }
    div.talking_point_body div.talking_point_controls p.coms {
      float: left; }
    div.talking_point_body div.talking_point_controls p.other {
      float: right; }

div.talking_point_preferable {
  background-color: #c8bcd1;
  float: left;
  height: 70px;
  width: 148px;
  padding: 10px 10px 10px 10px;
  margin-right: 15px; }
  div.talking_point_preferable p.total_preference {
    margin-top: 0; }
  div.talking_point_preferable p.my_preference label {
    cursor: pointer; }
  div.talking_point_preferable p.my_preference input {
    margin-left: 0;
    margin-bottom: 0; }

div.talking_point_acceptable {
  background-color: #c8bcd1;
  position: relative;
  float: left;
  height: auto;
  width: 222px;
  padding: 10px 10px 10px 0; }
  div.talking_point_acceptable p.suggest {
    margin: 1em 0 0 0em; }
  div.talking_point_acceptable div.my_rating {
    width: 160px;
    float: left; }
    div.talking_point_acceptable div.my_rating p.option {
      display: none; }
    div.talking_point_acceptable div.my_rating p.title {
      width: 100%;
      text-align: center;
      margin: 0 0 7px 0; }
    div.talking_point_acceptable div.my_rating div.radios input, div.talking_point_acceptable div.my_rating div.radios label {
      cursor: pointer; }
    div.talking_point_acceptable div.my_rating div.radios label {
      vertical-align: 25%;
      margin-left: 2px; }
    div.talking_point_acceptable div.my_rating div.radios div.bar1 {
      background-color: #cf725f; }
    div.talking_point_acceptable div.my_rating div.radios div.bar2 {
      background-color: #e2b68c; }
    div.talking_point_acceptable div.my_rating div.radios div.bar3 {
      background-color: #f0ecc1; }
    div.talking_point_acceptable div.my_rating div.radios div.bar4 {
      background-color: #cdd89d; }
    div.talking_point_acceptable div.my_rating div.radios div.bar5 {
      background-color: #759564; }
    div.talking_point_acceptable div.my_rating div.radios div {
      height: 22px;
      width: 20px;
      cursor: pointer;
      position: relative; }
      div.talking_point_acceptable div.my_rating div.radios div input.rating {
        height: 16px;
        width: 16px;
        margin: 3px 0 0 3px;
        padding: 0; }
  div.talking_point_acceptable div.my_rating.js {
    width: 105px; }
    div.talking_point_acceptable div.my_rating.js div.radios div {
      float: left;
      width: 21px;
      height: 23px; }
      div.talking_point_acceptable div.my_rating.js div.radios div input {
        display: block; }
    div.talking_point_acceptable div.my_rating.js div.radios label {
      display: none; }
    div.talking_point_acceptable div.my_rating.js div.radios p.clear_both {
      margin: 0; }
    div.talking_point_acceptable div.my_rating.js div.radios p.option {
      margin: 4px 0 0 0px;
      clear: both;
      text-align: center;
      display: block; }
    div.talking_point_acceptable div.my_rating.js div.radios p.please_rate {
      color: red;
      clear: both; }

div.community_rating {
  float: left;
  margin-right: 15px; }
  div.community_rating div.graph {
    position: relative;
    margin-left: 6px; }
  div.community_rating div.graph.js {
    margin-left: 0px;
    height: 37px; }
  div.community_rating div.graph.no_js {
    display: none; }
  div.community_rating div.mine {
    background: url(/images/dot.gif) no-repeat center 20px; }
  div.community_rating div.bar {
    width: 13px;
    bottom: 0;
    position: absolute; }
  div.community_rating div.bar.bar1 {
    background-color: #cf725f; }
  div.community_rating div.bar2 {
    background-color: #e2b68c; }
  div.community_rating div.bar3 {
    background-color: #f0ecc1; }
  div.community_rating div.bar4 {
    background-color: #cdd89d; }
  div.community_rating div.bar5 {
    background-color: #759564; }
  div.community_rating div.bar.zero {
    background-color: white; }

div.community_rating.no_js {
  position: absolute;
  right: 8px;
  top: 10px;
  margin-right: 0;
  text-align: right; }
  div.community_rating.no_js div.graph.js {
    display: none; }
  div.community_rating.no_js div.graph.no_js {
    display: block;
    width: 50px;
    position: absolute;
    top: 24px;
    right: 0px; }

div.Comment.highlight {
  border: 2px solid red; }

p.show_more_link {
  margin-top: 2em; }
  p.show_more_link a {
    margin-right: 1em; }

div.talking_point_entry.highlight {
  border: 2px solid red; }

div.talking_point_entry.header {
  margin-bottom: 30px; }
  div.talking_point_entry.header div.talking_point_body {
    background: none; }
    div.talking_point_entry.header div.talking_point_body div.instr {
      margin: 0;
      font-size: 0.94em; }
  div.talking_point_entry.header p.title {
    margin: 0; }
  div.talking_point_entry.header div.talking_point_acceptable {
    margin-top: 5px;
    width: 222px;
    height: 20px;
    text-align: center;
    font-weight: bold; }
  div.talking_point_entry.header div.talking_point_preferable {
    margin-top: 5px;
    width: 148px;
    height: 20px;
    text-align: center;
    font-weight: bold; }

/* End CSS FOR Talking Points */
/* CSS FOR What do you think form */
div.what_do_you_think {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  clear: both; }
  div.what_do_you_think li.em {
    font-weight: bold; }
  div.what_do_you_think label {
    cursor: pointer;
    display: inline; }
  div.what_do_you_think form.what_do_you_think {
    margin-left: 20px;
    max-width: none;
    width: 550px;
    margin-top: 1em; }
  div.what_do_you_think h3.ques_sub_hdg {
    margin-bottom: 0; }
  div.what_do_you_think table {
    width: 100%; }
    div.what_do_you_think table td ul {
      margin: 0 0 10px -20px; }
    div.what_do_you_think table td {
      white-space: nowrap; }
    div.what_do_you_think table td.label {
      padding-top: 12px; }
    div.what_do_you_think table td.icon div.icon {
      background-color: #c7c7c7;
      width: 30px;
      height: 30px;
      margin-top: 6px; }
      div.what_do_you_think table td.icon div.icon img {
        margin: 3px 0 0 3px;
        width: 24px;
        height: 24px; }
      div.what_do_you_think table td.icon div.icon div.icon.talking_point {
        background-color: #c7c7c7; }
  div.what_do_you_think textarea {
    width: 100%;
    height: 60px;
    margin-top: 6px; }
  div.what_do_you_think div.form_controls {
    width: 100%; }
  div.what_do_you_think div.instr {
    position: absolute;
    top: 0;
    left: 600px;
    width: 300px;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 9px; }

/* End CSS FOR What do you think form */
/* CSS For Comments */
div.full_comment_display div.comment {
  margin-top: -50px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.one_line_comment div.comment {
  margin-top: -20px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.Comment.top_sibling {
  padding-left: 6px;
  margin-left: 20px; }

div.Comment {
  margin-top: 20px;
  max-width: 510px; }
  div.Comment p.clear_both {
    padding-bottom: 4px;
    margin: 0; }

div.comment {
  width: auto;
  background: transparent; }

div.Comment {
  margin-top: 16px; }

div.Comment_entry.full_comment_display img {
  display: block;
  margin: 4px 10px 0 0; }
div.Comment_entry.full_comment_display div.comment {
  position: relative;
  margin-top: -50px;
  padding-left: 54px; }
  div.Comment_entry.full_comment_display div.comment a.com_author {
    color: black; }
div.Comment_entry.full_comment_display div.comment_text {
  height: auto;
  display: inline; }
  div.Comment_entry.full_comment_display div.comment_text p {
    margin: 8px 0; }
  div.Comment_entry.full_comment_display div.comment_text div.one_liner {
    display: none; }
div.Comment_entry.full_comment_display span.new {
  color: #f2583e;
  font-weight: bold; }
div.Comment_entry.full_comment_display div.comment_controls {
  position: relative;
  margin-top: 0; }

div.comment_text p, div.answer p, div.bs_idea p {
  margin: 0 0 8px 0; }

div.comment_controls {
  height: 50px; }
  div.comment_controls p.coms {
    float: left; }
  div.comment_controls p.other {
    float: right; }
    div.comment_controls p.other abbr {
      margin-right: 12px;
      font-size: 80%;
      margin-top: 2px; }

div.quote {
  background: #cbbdb1;
  padding: 1em; }
  div.quote p {
    margin-left: 1em; }
  div.quote p.quote {
    margin-left: 0;
    font-style: italic; }

/* end Comment CSS */
div.endorsements td {
  vertical-align: top;
  padding: 6px; }
  div.endorsements td p {
    margin-top: 0; }

/* comments block CSS */
div.talking_point_comments {
  margin: 40px 0 0 50px;
  width: 580px; }

/* END comments block CSS */
/* notebook and spiral CSS */
div.book {
  position: relative;
  margin-bottom: 40px; }

div.spiral {
  background: url(/images/notebook_paper_spiral.gif) repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 100%;
  z-index: 2; }

div.notebook {
  margin-left: 12px;
  background: url(/images/parchment_tile.jpg);
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }

div.worksheet {
  position: relative;
  margin-top: 30px; }

/* End notebook and spiral CSS */
/* talking point history */
table.talking_point_history td {
  vertical-align: top;
  padding: 4px 12px 4px 4px; }
  table.talking_point_history td abbr {
    white-space: nowrap; }
table.talking_point_history td.ver {
  white-space: nowrap; }

/* END talking point history */
table.review_preferences td {
  padding-bottom: 10px; }

div.review_preferences {
  font-size: 13px; }

/* Rules to alter the worksheet */
div.talking_point_acceptable {
  background: none;
  margin-left: -10px;
  width: auto; }
  div.talking_point_acceptable div.my_rating {
    float: left;
    margin-left: 6px; }
  div.talking_point_acceptable div.community_rating {
    float: none; }
  div.talking_point_acceptable div.my_rating.js p.option {
    height: 36px;
    font-size: 0.9em;
    margin-top: 4px; }
  div.talking_point_acceptable div.my_rating.js p.clear_both {
    margin: 0; }
  div.talking_point_acceptable p.talking_point_ratings {
    text-align: center;
    font-size: 0.9em;
    margin: 6px 0 0 0; }
  div.talking_point_acceptable p.suggest {
    margin-right: -60px;
    width: 200px; }
  div.talking_point_acceptable div.graph.js {
    height: 30px; }

div.favorite {
  float: left;
  margin-top: 8px; }
  div.favorite span.fav_cnt {
    font-size: 1.4em; }
  div.favorite button {
    cursor: pointer; }
    div.favorite button img {
      display: block;
      margin-left: auto;
      margin-right: auto; }

div.talking_point_body {
  background: none; }
  div.talking_point_body a.tp_show_coms {
    font-size: 1.24em; }
  div.talking_point_body a.edit, div.talking_point_body a.versions, div.talking_point_body a.report {
    font-size: 0.9em; }

div.talking_point_entry {
  background: #c7c7c7 url(/images/rate-bg-g.gif) repeat-y 380px;
  border: 1px solid #bcc3d0;
  width: 100%; }

div.talking_points_list {
  margin-left: 0; }

div.talking_point_sec {
  margin-left: 0; }

div.question_worksheet {
  padding: 0;
  width: 610px; }

form.talking_point_form {
  width: 320px; }
  form.talking_point_form div.form_controls {
    width: 320px; }
    form.talking_point_form div.form_controls span.char_ctr {
      left: 80px; }

div.talking_point_form {
  background: #e1e8c4 url(/images/rate-bg-gr.gif) repeat-y 380px;
  width: 100%;
  border: 1px solid #bcc3d0; }
  div.talking_point_form div.form {
    background: url(/images/white_bulb_gr_sm1.gif) no-repeat 8px 20px;
    float: left;
    width: 400px;
    padding: 0 10px; }
    div.talking_point_form div.form h3, div.talking_point_form div.form h4, div.talking_point_form div.form p {
      margin: 1em 0; }
    div.talking_point_form div.form h3, div.talking_point_form div.form h4, div.talking_point_form div.form div.form_controls, div.talking_point_form div.form textarea, div.talking_point_form div.form p {
      margin-left: 40px; }
    div.talking_point_form div.form form {
      margin-bottom: 0; }
  div.talking_point_form div.form.cta {
    background: url(/images/hand3-gr2.gif) no-repeat 8px 10px; }
  div.talking_point_form div.instr {
    float: left;
    width: 160px; }
    div.talking_point_form div.instr p {
      font-size: 0.9em;
      margin: 1em 0; }

div.form_controls {
  margin-bottom: 1em; }
  div.form_controls input[type="submit"] {
    margin-left: 0; }

div.talking_point_form.disc {
  margin-top: 2em; }
  div.talking_point_form.disc div.form {
    background: url(/images/comment1-gr1.gif) no-repeat 8px 14px;
    width: 400px; }
    div.talking_point_form.disc div.form p {
      font-size: 1em; }

div.ques_discussion {
  margin-top: 30px; }

p.show_more_link {
  font-size: 1em; }

div.new_content div.talking_point_entry {
  margin-top: 0; }
  div.new_content div.talking_point_entry div.favorite {
    margin-left: 20px;
    margin-top: 8px; }

div.talking_points_page div.notebook {
  padding: 0;
  background: none;
  margin-left: 0; }
div.talking_points_page p.question {
  margin-left: 0;
  font-size: 1.2em; }
div.talking_points_page div.question_com_form {
  margin-left: 40px; }
div.talking_points_page p.show_more_link {
  margin: 0 0 0 40px; }
div.talking_points_page div.intro div.resources {
  height: 50px; }

div.talking_point_body p.talking_point {
  font-size: 1em;
  margin-top: 6px;
  margin-bottom: 6px; }

div.question_summary p.question {
  margin-top: 0; }
div.question_summary div.talking_points_list.summary {
  padding: 16px; }
  div.question_summary div.talking_points_list.summary ul.talking_points {
    margin-top: 0; }
    div.question_summary div.talking_points_list.summary ul.talking_points li {
      font-size: 1.2em; }
  div.question_summary div.talking_points_list.summary p.example {
    margin-top: 0; }
  div.question_summary div.talking_points_list.summary div.talking_point_form.hint {
    margin-top: 20px;
    margin-left: -20px; }
    div.question_summary div.talking_points_list.summary div.talking_point_form.hint p {
      margin-bottom: 0; }
    div.question_summary div.talking_points_list.summary div.talking_point_form.hint p.close {
      font-size: 0.8em;
      margin-left: 30px; }

div.cta_block div.num {
  margin-right: 12px; }
div.cta_block div.text {
  width: 200px; }

div.participants {
  margin-top: 2em; }

a.addthis_button {
  display: block;
  margin-bottom: 8px; }

ul.talking_points p {
  font-style: italic;
  font-size: 1.2em;
  margin-left: -20px; }
ul.talking_points li.checklist {
  font-style: italic; }

div.talking_point_form.hint {
  background: #e1e8c4 url(/images/rate-bg-gr.gif) repeat-y 380px; }
  div.talking_point_form.hint p {
    font-size: 0.9em; }
  div.talking_point_form.hint div.instr p {
    font-size: 0.9em; }

div.worksheet {
  margin: 0; }
  div.worksheet p.worksheet_intro {
    font-size: 1em; }

div.endorsements div.cta {
  margin: 32px 0 32px 0; }

div#submit {
  margin-top: 60px; }

div.selected_tp_list {
  position: absolute;
  background-color: white;
  border: 2px solid #e1e8c4; }
  div.selected_tp_list div.header img {
    display: block;
    float: right;
    margin: 10px 10px 0 0; }
  div.selected_tp_list div.header p.question {
    float: left;
    max-width: 322px; }
  div.selected_tp_list div.summary {
    margin-right: 0; }
  div.selected_tp_list div.talking_point_form.hint p {
    font-size: auto; }
  div.selected_tp_list div.cta {
    width: auto; }
  div.selected_tp_list p {
    margin-left: 20px; }
  div.selected_tp_list p.question {
    margin: 10px 0 20px 10px;
    cursor: normal; }
  div.selected_tp_list li {
    margin: 0 10px 10px 10px; }
  div.selected_tp_list li.talking_point {
    padding-right: 20px;
    position: relative; }
    div.selected_tp_list li.talking_point img {
      position: absolute;
      top: 4px;
      right: 0;
      display: none; }
    div.selected_tp_list li.talking_point img.show {
      display: block;
      cursor: pointer; }
    div.selected_tp_list li.talking_point a.tp_details {
      display: inline;
      font-size: 0.8em; }

li.talking_point img, li.talking_point a.tp_details {
  display: none; }

div.left_side {
  width: 620px; }

div.right_side {
  width: 340px; }

ul.talking_points {
  position: relative; }
  ul.talking_points div.msg {
    position: absolute;
    top: 0;
    background-color: white;
    display: none;
    height: 100%;
    width: 100%; }
    ul.talking_points div.msg p {
      font-size: 1.2em;
      margin: 20px; }

div.talking_point_sec h2 {
  margin: 2em 0 3em 1em; }

.curated_list_placeholder {
  height: 4em;
  line-height: 1.2em;
  background-color: #ececec; }

img.close_worksheet {
  cursor: pointer; }

div.talking_point_form div.instr.icon {
  position: relative; }
  div.talking_point_form div.instr.icon img {
    position: absolute;
    top: 16px;
    left: 0; }
  div.talking_point_form div.instr.icon p {
    margin-left: 22px; }

a.close_worksheet img {
  margin-right: 8px; }

span.new_com {
  color: #cf725f;
  font-weight: bold; }

div.question_summary div.cta1 {
  background: url(/images/cta_icon1.gif) no-repeat 0px 0px;
  min-height: 30px;
  margin-bottom: 20px;
  margin-top: -30px; }
  div.question_summary div.cta1 div.primary {
    margin-top: 2px;
    margin-left: 30px; }
    div.question_summary div.cta1 div.primary p {
      margin-bottom: 0; }
    div.question_summary div.cta1 div.primary ul {
      margin-top: 4px;
      padding-left: 24px; }

div.cta {
  background: #e1e8c4 url(/images/rate-bg-gr.gif) repeat-y 380px;
  width: 100%;
  border: 1px solid #bcc3d0;
  margin-bottom: 16px; }
  div.cta div.primary {
    background: url(/images/hand3-gr2.gif) no-repeat 8px 10px;
    float: left;
    width: 400px;
    padding: 0 10px; }
    div.cta div.primary p {
      margin-left: 40px;
      font-size: 13px; }
  div.cta div.secondary {
    float: left;
    width: 160px; }
    div.cta div.secondary p {
      font-size: 13px;
      margin: 1em 0 0 1em 22px; }

div.curated_list div.cta {
  margin-bottom: 0; }
  div.curated_list div.cta h4 {
    margin-left: 34px; }
div.curated_list div.primary {
  width: auto; }

div.cta.close_icon div.secondary {
  position: relative; }
  div.cta.close_icon div.secondary img {
    position: absolute;
    top: 16px;
    left: 0; }
  div.cta.close_icon div.secondary p {
    margin-left: 22px; }

div.form.cta {
  border: none; }

div#guideAccordion h3 > span.ui-icon {
  float: left; }
div#guideAccordion div.member_info {
  float: none;
  width: auto;
  margin: 6px; }
div#guideAccordion h3#member_t {
  position: relative; }
  div#guideAccordion h3#member_t a.sign_out {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 0.7em;
    text-decoration: underline; }
div#guideAccordion a.addthis_button.share_community {
  font-size: 13px; }
div#guideAccordion h3.ui-accordion-header a {
  font-size: 0.8em;
  padding: 0.1em 0.1em 0.1em 2em; }
div#guideAccordion .ui-tabs .ui-tabs-nav li a {
  padding: 0.1em 1em;
  font-size: 0.9em;
  font-weight: normal; }
div#guideAccordion div.ui-accordion-content {
  padding: 0em; }
div#guideAccordion .ui-tabs .ui-tabs-panel {
  padding: 1em; }
div#guideAccordion .ui-tabs .ui-tabs-panel.hide {
  display: none; }
div#guideAccordion div.tab_content {
  overflow-y: scroll;
  margin-bottom: 20px; }
div#guideAccordion div.content {
  overflow: hidden;
  font-size: 0.8em; }
  div#guideAccordion div.content div.help_intro img {
    width: 60px; }
  div#guideAccordion div.content ul.talking_points {
    padding-left: 6px; }
div#guideAccordion div.curated_list p {
  margin: -10px 0;
  font-style: italic; }
div#guideAccordion div.curated_list li a.q_tab {
  padding: 1px 6px 1px 12px; }
div#guideAccordion div.curated_list li a.close_worksheet {
  padding: 2px 0; }
div#guideAccordion div.form_controls span.char_ctr {
  left: 120px; }
div#guideAccordion div#activity_chat div#presence {
  height: 36px;
  border: 1px solid #cccccc;
  padding: 4px 0; }
  div#guideAccordion div#activity_chat div#presence img {
    margin: 0 2px; }
div#guideAccordion div#activity_chat div#chat_log {
  overflow: auto;
  overflow-y: scroll;
  height: 50px;
  border: 1px solid black;
  padding: 0.2em 0; }
  div#guideAccordion div#activity_chat div#chat_log p {
    margin: 0 1em; }
div#guideAccordion div#activity_chat form#chat_form {
  padding: 4px 0; }
  div#guideAccordion div#activity_chat form#chat_form input[type=text] {
    width: 240px; }
div#guideAccordion div#tab_member_sign_in {
  padding-top: 0;
  margin-top: -px; }
div#guideAccordion div#tab_suggest_you p {
  margin: -10px 0;
  font-style: italic; }
div#guideAccordion div#request_help {
  margin-top: -20px; }
  div#guideAccordion div#request_help li {
    line-height: 1.6em; }
div#guideAccordion div#suggested_actions {
  padding: 0 1em; }

div.right_master > div {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #bbbbbb; }
  div.right_master > div p.label {
    font-style: italic;
    font-weight: bold;
    color: #bbbbbb;
    margin: -6px 0 8px 0; }
div.right_master div.help {
  padding: 0 10px 0 0;
  margin: 8px 0 8px 0;
  border: none; }
  div.right_master div.help p {
    text-align: right;
    margin: 0; }
div.right_master div.member {
  position: relative; }
  div.right_master div.member p {
    margin: 0 0 4px 0; }
  div.right_master div.member div.name {
    position: absolute;
    top: 10px;
    left: 54px; }
  div.right_master div.member div.links {
    position: absolute;
    top: 10px;
    right: 10px; }
  div.right_master div.member tr.signup, div.right_master div.member tr.reset {
    display: none; }
  div.right_master div.member td.input input {
    width: 150px; }
  div.right_master div.member td.lbl {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    color: #bbbbbb;
    padding-right: 10px; }
  div.right_master div.member td.lbl.ta_left {
    text-align: left; }
div.right_master div.suggested_action div.suggestion {
  position: relative;
  padding-left: 40px; }
  div.right_master div.suggested_action div.suggestion img {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
  div.right_master div.suggested_action div.suggestion p.action {
    padding-top: 6px;
    margin: 0;
    font-weight: bold; }
  div.right_master div.suggested_action div.suggestion p.controls {
    height: 16px;
    margin: 6px 0 6px 0; }
    div.right_master div.suggested_action div.suggestion p.controls a.show_me {
      display: block;
      float: left; }
    div.right_master div.suggested_action div.suggestion p.controls a.next {
      display: block;
      float: right; }
div.right_master div.page_context {
  overflow-y: scroll; }
div.right_master div.list_tabs {
  padding: 0; }
  div.right_master div.list_tabs ul.list_tabs {
    position: relative; }
    div.right_master div.list_tabs ul.list_tabs li {
      background: #dceef9 url(/images/tab_close_lt.gif) no-repeat right center; }
      div.right_master div.list_tabs ul.list_tabs li a {
        color: #92cfef; }
    div.right_master div.list_tabs ul.list_tabs li.ui-state-active {
      background: #92cfef url(/images/tab_close_dk.gif) no-repeat right center; }
      div.right_master div.list_tabs ul.list_tabs li.ui-state-active a {
        color: white; }
    div.right_master div.list_tabs ul.list_tabs a {
      font-size: 12px;
      padding: 0;
      margin-left: 8px; }
    div.right_master div.list_tabs ul.list_tabs p.label {
      position: absolute;
      top: 10px;
      right: 10px; }
  div.right_master div.list_tabs div.selected_tp_list {
    overflow-y: scroll;
    margin: 0 10px 10px 10px; }
    div.right_master div.list_tabs div.selected_tp_list p {
      margin: -10px 0 6px -20px;
      font-style: italic; }
    div.right_master div.list_tabs div.selected_tp_list ul {
      padding-left: 0; }
div.right_master div.activity_chat div#presence {
  height: 36px;
  border: 1px solid #cccccc;
  padding: 4px 0; }
  div.right_master div.activity_chat div#presence img {
    margin: 0 2px; }
div.right_master div.activity_chat div#chat_log {
  overflow: auto;
  overflow-y: scroll;
  height: 50px;
  border: 1px solid black;
  padding: 0.2em 0; }
  div.right_master div.activity_chat div#chat_log p {
    margin: 0 1em; }
div.right_master div.activity_chat form#chat_form {
  padding: 4px 0; }
  div.right_master div.activity_chat form#chat_form input[type=text] {
    width: 240px; }
div.right_master td.button {
  padding: 6px 0; }
div.right_master td.stay {
  padding-top: 6px; }

div.talking_points_page {
  padding-top: 0px; }

div.talking_points_page div.right_side {
  position: fixed;
  top: 0px;
  left: 720px;
  margin-left: 0; }

div.member_info {
  height: 35px; }
  div.member_info div.member {
    float: left; }
  div.member_info div.member_links {
    float: right; }
    div.member_info div.member_links p {
      margin: 0; }

div.talking_point_details {
  float: left;
  width: 30px;
  text-align: center;
  margin-right: 8px; }
  div.talking_point_details div.talking_point_com_count {
    width: 30px;
    height: 32px;
    background: url(/images/tbubble.gif) no-repeat 0 0px;
    cursor: pointer; }
    div.talking_point_details div.talking_point_com_count p {
      margin-top: 10px;
      font-weight: bold;
      padding-top: 1px; }

div.talking_point_body {
  padding-right: 0;
  width: 352px; }
  div.talking_point_body a {
    font-size: 0.8em; }
  div.talking_point_body img {
    vertical-align: text-top; }

div.talking_point_icon {
  float: left;
  width: 40px;
  height: 52px;
  text-align: center;
  background: url(/images/white_bulb_sm.gif) no-repeat 8px 10px; }
  div.talking_point_icon a {
    display: block;
    margin-top: 44px;
    font-size: 0.8em;
    margin-left: 6px; }
    div.talking_point_icon a img {
      display: none;
      margin-left: 10px; }

div.talking_point_entry.mouseover div.talking_point_icon img {
  display: block; }

div.talking_point_icon.new {
  background: url(/images/red_bulb_new_sm.gif) no-repeat 8px 10px; }

div.talking_point_entry a:link {
  text-decoration: none; }

div.talking_point_comments {
  margin: 0 0 0 50px; }
  div.talking_point_comments a.tp_hide_coms {
    font-size: 0.8em;
    margin-left: -50px;
    color: #cccccc; }
  div.talking_point_comments a.tp_show_coms {
    font-size: 0.8em;
    margin-left: 10px;
    color: #aaaaaa; }

div.comment_comments {
  margin-left: 20px; }
  div.comment_comments a.com_hide_coms {
    font-size: 0.8em;
    margin-left: -20px;
    color: #cccccc; }

div.talking_point_sec h4.ques_sub_hdg {
  position: relative;
  margin-right: -20px; }
  div.talking_point_sec h4.ques_sub_hdg a.close_worksheet {
    position: absolute;
    top: 0;
    right: 0; }

div.worksheet {
  background: url(/images/up_rt_close.gif) no-repeat top right;
  width: 630px; }

div.question_worksheet {
  background: url(/images/lw_lt_close.gif) no-repeat bottom left; }

h4.ques_sub_hdg a.close_worksheet img {
  margin: 0; }

div.curated_list a.close_worksheet img {
  vertical-align: text-bottom; }

div#visual_help {
  margin-bottom: 2em; }
  div#visual_help img {
    border: 4px outset #eeeeee;
    padding: 10px;
    margin-bottom: 20px; }
  div#visual_help p.tgl_full_proposal {
    margin-bottom: 30px; }
  div#visual_help p {
    width: 600px; }
  div#visual_help ul {
    width: 540px; }
    div#visual_help ul li {
      margin-bottom: 0.3em; }

div.summary.text {
  float: left;
  width: 460px;
  margin: 8px 16px 0 0; }
  div.summary.text p {
    margin: 0 0 12px 0; }

div.resources {
  width: 420px;
  margin: 16px 0 0 0; }

div.proposal_tools {
  float: left;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 140px;
  border: 1px solid #dddddd; }
  div.proposal_tools ul {
    padding-left: 10px; }
    div.proposal_tools ul li {
      list-style: none;
      margin-bottom: 8px;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 8px;
      padding-right: 10px;
      padding-left: 30px; }
    div.proposal_tools ul li.organizer {
      position: relative;
      padding-left: 0; }
      div.proposal_tools ul li.organizer div.member {
        position: relative; }
        div.proposal_tools ul li.organizer div.member p.sug {
          margin: -8px 0 4px 0;
          color: #999999; }
        div.proposal_tools ul li.organizer div.member div.name {
          position: absolute;
          top: 16px;
          left: 46px; }
          div.proposal_tools ul li.organizer div.member div.name p {
            margin: 0; }
    div.proposal_tools ul li.invite {
      background: url(/images/tools/invite_friend.gif) no-repeat 0px 0px; }
    div.proposal_tools ul li.follow {
      background: url(/images/tools/follow.gif) no-repeat 0px 0px; }
    div.proposal_tools ul li.endorse {
      background: url(/images/tools/endorse.gif) no-repeat 0px 0px; }
    div.proposal_tools ul li.participate {
      background: url(/images/tools/participate.gif) no-repeat 0px 0px; }
    div.proposal_tools ul li.print {
      background: url(/images/tools/print.gif) no-repeat 0px 0px; }
    div.proposal_tools ul li.share {
      background: url(/images/tools/share.gif) no-repeat 0px 0px;
      border: none;
      margin-bottom: 0;
      padding-bottom: 0; }

div.tools a.addthis_button {
  font-size: 13px; }

input.fav_button {
  background-image: url("/images/button_sprite3.gif");
  background-position: -50px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 54px;
  width: 44px;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: bold; }

input.fav_button.fav {
  background-position: 0 0; }

input.fav_button:hover {
  background-position: -50px -60px; }

input.fav_button.fav:hover {
  background-position: 0 -60px; }

input.fav_button.mousedown {
  background-position: -50px -120px; }

input.fav_button.mousedown.fav {
  background-position: 0 -120px; }

input.fav_button.saving {
  background-position: -50px -180px; }

input.fav_button.saving.fav {
  background-position: 0 -180px; }

body div.ui-dialog {
  font-size: 0.8em; }
