div.suggest_title {
  position: relative;
  margin-bottom: 0; }
  div.suggest_title img.i36 {
    position: absolute;
    top: 4px;
    left: 0; }
  div.suggest_title h3 {
    margin-left: 40px; }

h2.home_title {
  margin: 18px 41px 0px 41px; }
  h2.home_title a {
    font-size: 0.6em;
    margin-left: 0px;
    font-weight: normal; }

div.summary {
  margin: -10px 41px 20px 41px;
  font-size: 1.12em; }

div.summary.collapse {
  margin-bottom: 20px; }

div.proposal.inview {
  background-color: #f5e6be;
  padding: 20px 0; }
  div.proposal.inview h2.question {
    font-size: 1.2em; }

div.question_worksheet {
  clear: both;
  padding: 20px 0 20px 20px;
  margin-bottom: 40px; }
  div.question_worksheet a.open_worksheet {
    display: none;
    margin: 20px 0 20px 20px;
    font-size: 1.2em;
    font-weight: bold; }
  div.question_worksheet div.navigation {
    position: relative;
    text-align: center; }
    div.question_worksheet div.navigation a.prev {
      left: 0;
      display: block;
      position: absolute;
      top: 0; }
    div.question_worksheet div.navigation a.next {
      right: 0;
      display: block;
      position: absolute;
      top: 0;
      margin-right: 20px; }

div.question_worksheet.noview {
  background-color: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px; }
  div.question_worksheet.noview div.talking_point_sec {
    margin-left: 0; }
  div.question_worksheet.noview div.talking_points_list p.show_more_link {
    display: none; }
  div.question_worksheet.noview a.open_worksheet {
    display: block; }
  div.question_worksheet.noview h2.question {
    cursor: pointer; }
  div.question_worksheet.noview .navigation {
    display: none; }

div.talking_point_sec {
  margin-left: 20px; }
  div.talking_point_sec div.instr {
    width: 440px; }
    div.talking_point_sec div.instr img {
      display: block;
      float: left;
      margin: 4px 8px 0 0; }
    div.talking_point_sec div.instr p.instr {
      margin: 0;
      font-size: 1em; }
  div.talking_point_sec p.question_show_talking_points {
    margin-top: 30px; }

div.talking_points_list {
  margin-left: 20px; }

div.what_do_you_think {
  margin-left: 20px;
  clear: both; }

div.ques_discussion {
  margin-top: 50px;
  margin-left: 20px; }
  div.ques_discussion div.Comment {
    margin-left: 20px; }
  div.ques_discussion p.count_link {
    margin-left: 20px; }

div.comment_comments {
  margin-left: 40px; }
  div.comment_comments form.comment_form {
    margin-left: 20px; }

/* CSS FOR Talking Points */
div.talking_point_entry {
  clear: both;
  margin-bottom: 15px;
  margin-top: 25px; }

div.talking_point_body {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1 0px;
  background: #bcc3d0 url(/images/white_bulb_sm.gif) no-repeat 8px 20px;
  float: left;
  width: 440px;
  padding: 0 10px; }
  div.talking_point_body > * {
    margin-left: 40px; }
  div.talking_point_body p.talking_point {
    font-size: 1.28em; }
  div.talking_point_body div.talking_point_controls p {
    margin-top: -4px; }
  div.talking_point_body div.talking_point_controls p.coms {
    float: left; }
  div.talking_point_body div.talking_point_controls p.other {
    float: right; }

div.talking_point_preferable {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1 0px;
  background-color: #c8bcd1;
  float: left;
  padding: 10px 10px 10px 10px;
  margin-right: 15px; }
  div.talking_point_preferable p.total_preference {
    margin-top: 0; }
  div.talking_point_preferable p.my_preference label {
    cursor: pointer; }
  div.talking_point_preferable p.my_preference input {
    margin-left: 0;
    margin-bottom: 0; }

div.talking_point_acceptable {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1 0px;
  background-color: #c8bcd1;
  float: left;
  margin: 0 15px;
  padding: 10px 10px 10px 0; }
  div.talking_point_acceptable div.my_rating {
    width: 160px;
    float: left; }
    div.talking_point_acceptable div.my_rating p.option {
      display: none; }
    div.talking_point_acceptable div.my_rating p.title {
      width: 100%;
      text-align: center;
      margin: 0 0 7px 0; }
    div.talking_point_acceptable div.my_rating input.rating {
      margin: 2px; }
    div.talking_point_acceptable div.my_rating div.radios {
      margin: 0 15px;
      font-size: 75%;
      white-space: nowrap; }
      div.talking_point_acceptable div.my_rating div.radios span {
        margin-left: 0px; }
      div.talking_point_acceptable div.my_rating div.radios label {
        cursor: pointer; }
      div.talking_point_acceptable div.my_rating div.radios input {
        cursor: pointer; }
      div.talking_point_acceptable div.my_rating div.radios div.good {
        background-color: green; }
      div.talking_point_acceptable div.my_rating div.radios div.neutral {
        background-color: yellow; }
      div.talking_point_acceptable div.my_rating div.radios div.bad {
        background-color: red; }
      div.talking_point_acceptable div.my_rating div.radios div {
        height: 20px;
        width: 16px;
        text-align: center;
        padding-top: 2px; }
  div.talking_point_acceptable div.my_rating.js {
    width: 132px; }
    div.talking_point_acceptable div.my_rating.js div.radios div {
      float: left;
      width: 20px; }
    div.talking_point_acceptable div.my_rating.js div.radios span {
      display: none; }
    div.talking_point_acceptable div.my_rating.js p.option {
      margin: 20px 0 0 0px;
      font-size: 75%;
      clear: both;
      text-align: center;
      display: block; }
    div.talking_point_acceptable div.my_rating.js p.please_rate {
      margin: 20px 0 0 20px;
      font-size: 1.12em;
      color: red;
      font-weight: bold;
      clear: both; }

div.community_rating {
  float: left;
  margin-right: 15px; }
  div.community_rating div.graph {
    position: relative;
    margin-left: 6px; }
  div.community_rating div.graph.js {
    margin-left: 0px;
    height: 37px; }
  div.community_rating div.bar {
    width: 12px;
    bottom: 0;
    position: absolute;
    background-color: green; }
  div.community_rating div.bar.neutral {
    background-color: yellow; }
  div.community_rating div.bar.bad {
    background-color: red; }
  div.community_rating div.bar.zero {
    background-color: #dddddd; }
  div.community_rating p.talking_point_ratings {
    margin: 0 0 8px 0; }

div.Comment.highlight {
  border: 2px solid red; }

p.show_more_link {
  margin-top: 2em; }
  p.show_more_link a {
    margin-right: 1em; }

div.talking_point_entry.highlight {
  border: 2px solid red; }

div.talking_point_entry.header {
  margin-bottom: 30px; }
  div.talking_point_entry.header div.talking_point_body {
    background: none; }
    div.talking_point_entry.header div.talking_point_body div.instr {
      margin: 0;
      font-size: 0.94em; }
  div.talking_point_entry.header p.title {
    margin: 0; }
  div.talking_point_entry.header div.talking_point_acceptable {
    width: 214px;
    text-align: center;
    font-weight: bold; }
  div.talking_point_entry.header div.talking_point_preferable {
    width: 132px;
    text-align: center;
    font-weight: bold; }

/* End CSS FOR Talking Points */
/* CSS FOR What do you think form */
div.what_do_you_think {
  position: relative;
  margin-top: 50px; }
  div.what_do_you_think label {
    cursor: pointer; }
  div.what_do_you_think form {
    margin-left: 20px; }
  div.what_do_you_think h3.ques_sub_hdg {
    margin-bottom: 0; }
  div.what_do_you_think td ul {
    margin-top: 0;
    margin-bottom: 10px; }
  div.what_do_you_think td {
    white-space: nowrap; }
  div.what_do_you_think td.icon label p {
    float: left;
    margin: 6px 15px 0 0;
    font-weight: bold; }
  div.what_do_you_think td.icon label div.icon {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 1 0px;
    background-color: #bcc3d0;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 15px 0 10px; }
    div.what_do_you_think td.icon label div.icon img {
      margin: 2px 0 0 2px;
      width: 24px;
      height: 24px; }
  div.what_do_you_think td.icon label div.icon.talking_point {
    background-color: #bcc3d0; }
  div.what_do_you_think textarea {
    width: 550px;
    height: 60px;
    margin-top: 6px; }
  div.what_do_you_think div.instr {
    position: absolute;
    top: 0;
    left: 600px;
    width: 300px;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 9px; }

/* End CSS FOR What do you think form */
/* CSS For Comments */
div.full_comment_display div.comment {
  margin-top: -50px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.one_line_comment div.comment {
  margin-top: -20px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.Comment.top_sibling {
  padding-left: 6px;
  margin-left: 20px; }

div.Comment {
  margin-top: 20px;
  max-width: 510px; }
  div.Comment p.clear_both {
    padding-bottom: 4px;
    margin: 0; }

div.comment {
  width: auto;
  background: transparent; }

div.Comment {
  margin-top: 16px; }

div.Comment_entry.full_comment_display img {
  display: block;
  margin: 4px 10px 0 0; }
div.Comment_entry.full_comment_display div.comment {
  position: relative;
  margin-top: -50px;
  padding-left: 54px; }
  div.Comment_entry.full_comment_display div.comment a.com_author {
    color: black; }
div.Comment_entry.full_comment_display div.comment_text {
  height: auto;
  display: inline; }
  div.Comment_entry.full_comment_display div.comment_text p {
    margin: 8px 0; }
  div.Comment_entry.full_comment_display div.comment_text div.one_liner {
    display: none; }
div.Comment_entry.full_comment_display span.new {
  color: #f2583e;
  font-weight: bold; }
div.Comment_entry.full_comment_display div.comment_controls {
  position: relative;
  margin-top: 0; }

div.comment_text p, div.answer p, div.bs_idea p {
  margin: 0 0 8px 0; }

div.comment_controls {
  height: 50px; }
  div.comment_controls p.coms {
    float: left; }
  div.comment_controls p.other {
    float: right; }
    div.comment_controls p.other abbr {
      margin-right: 12px;
      font-size: 80%;
      margin-top: 2px; }

div.quote {
  background: #bcc3d0;
  padding: 1em; }
  div.quote p {
    margin-left: 1em; }
  div.quote p.quote {
    margin-left: 0;
    font-style: italic; }

/* end Comment CSS */
div.endorsements td {
  vertical-align: top;
  padding: 6px; }
  div.endorsements td p {
    margin-top: 0; }

/* comments block CSS */
div.talking_point_comments {
  margin: 40px 0 0 50px;
  width: 580px; }

/* END comments block CSS */
/* notebook and spiral CSS */
div.spiral {
  background: url(/images/notebook_paper_spiral.gif) repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 100%; }

div.notebook {
  margin-left: 12px;
  background: url(/images/parchment_tile.jpg);
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 1 0px; }

div.worksheet {
  position: relative;
  margin-top: 30px; }

/* End notebook and spiral CSS */
/* talking point history */
table.talking_point_history td {
  vertical-align: top;
  padding: 4px 12px 4px 4px; }
  table.talking_point_history td abbr {
    white-space: nowrap; }
table.talking_point_history td.ver {
  white-space: nowrap; }

/* END talking point history */
table.review_preferences td {
  padding-bottom: 10px; }
