div.suggest_title {
  position: relative;
  margin-bottom: 0; }
  div.suggest_title img.i36 {
    position: absolute;
    top: 4px;
    left: 0; }
  div.suggest_title h3 {
    margin-left: 40px; }

div.idea_page {
  float: left;
  width: 778px; }

h2.home_title {
  margin: 18px 41px 0px 41px; }
  h2.home_title a {
    font-size: 0.6em;
    margin-left: 0px;
    font-weight: normal; }

div.summary {
  margin: -10px 41px 60px 41px;
  font-size: 1.12em; }

div.question_page {
  clear: both;
  border: 1px solid yellow;
  background-color: #f5e6be; }

div.talking_points_list {
  border: 1px solid green; }

div.what_you_think {
  border: 1px solid black;
  clear: both; }

div.ques_discussion {
  border: 1px solid red; }

/* CSS FOR Talking Points */
div.talking_point_entry {
  clear: both; }

div.talking_point_body {
  background-color: #c0e49a; }

div.talking_point_preferable {
  background-color: #dedeec;
  float: left; }

div.talking_point_acceptable {
  background-color: #e8edee;
  float: left; }

div.my_rating {
  width: 150px;
  float: left; }

div.community_rating {
  width: 150px;
  float: left; }
  div.community_rating div.graph {
    height: 60px;
    width: 120px;
    position: relative; }
  div.community_rating div.bar {
    width: 12px;
    bottom: 0;
    position: absolute;
    background-color: green; }
  div.community_rating div.bar.neutral {
    background-color: yellow; }
  div.community_rating div.bar.bad {
    background-color: red; }
  div.community_rating div.bar.zero {
    background-color: #dddddd; }

/* End CSS FOR Talking Points */
/* CSS For Comments */
div.full_comment_display div.comment {
  margin-top: -50px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.one_line_comment div.comment {
  margin-top: -20px;
  padding-left: 46px;
  width: 100%;
  background: transparent; }

div.Comment.top_sibling {
  padding-left: 6px;
  margin-left: 20px; }

div.Comment {
  margin-top: 20px;
  max-width: 600px; }
  div.Comment p.clear_both {
    padding-bottom: 4px;
    margin: 0; }

div.comment {
  width: auto;
  background: transparent; }

div.Comment {
  margin-top: 16px; }

div.Comment_entry.one_line_comment.new_com {
  font-weight: bold; }

div.Comment_entry.one_line_comment {
  margin-bottom: 0px;
  height: auto; }
  div.Comment_entry.one_line_comment div.close_1com {
    background-position: 0 0; }
  div.Comment_entry.one_line_comment img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0px 10px 0px 0px;
    cursor: pointer; }
  div.Comment_entry.one_line_comment div.comment {
    position: relative;
    margin-top: -20px;
    padding-left: 46px; }
  div.Comment_entry.one_line_comment span.author {
    display: none; }
  div.Comment_entry.one_line_comment abbr {
    display: none; }
  div.Comment_entry.one_line_comment div.comment_text {
    height: 20px;
    overflow: hidden;
    margin-left: -20px; }
    div.Comment_entry.one_line_comment div.comment_text p {
      display: none; }
    div.Comment_entry.one_line_comment div.comment_text div.one_liner {
      display: block;
      position: relative;
      height: 20px;
      cursor: pointer; }
      div.Comment_entry.one_line_comment div.comment_text div.one_liner span.txt {
        white-space: nowrap; }
      div.Comment_entry.one_line_comment div.comment_text div.one_liner img {
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px; }
  div.Comment_entry.one_line_comment div.resource {
    display: none; }
  div.Comment_entry.one_line_comment span.new {
    display: none; }
  div.Comment_entry.one_line_comment div.comment_controls {
    display: none; }

div.coms_show_one_line .hidden {
  display: none; }
div.coms_show_one_line form.open_form {
  clear: both;
  margin-bottom: 10px;
  padding-right: 20px; }
  div.coms_show_one_line form.open_form input {
    color: #333333;
    width: 100%; }

div.Comment_entry.full_comment_display img {
  display: block;
  margin: 4px 10px 0 0; }
div.Comment_entry.full_comment_display div.comment {
  position: relative;
  margin-top: -50px;
  padding-left: 46px; }
div.Comment_entry.full_comment_display span.author {
  display: inline;
  font-size: 88%; }
div.Comment_entry.full_comment_display abbr {
  display: block;
  font-size: 80%;
  margin-top: -4px;
  border: none; }
div.Comment_entry.full_comment_display abbr.move_up {
  margin-top: -16px; }
div.Comment_entry.full_comment_display div.comment_text {
  height: auto;
  display: inline; }
  div.Comment_entry.full_comment_display div.comment_text p {
    margin: 8px 0; }
  div.Comment_entry.full_comment_display div.comment_text div.one_liner {
    display: none; }
div.Comment_entry.full_comment_display span.new {
  color: #f2583e;
  font-weight: bold; }
div.Comment_entry.full_comment_display div.comment_controls {
  position: relative;
  margin-top: 0; }

div.comment_text p, div.answer p, div.bs_idea p {
  margin: 0 0 8px 0; }

div.comment_controls {
  height: 50px; }
  div.comment_controls div.comment_links a {
    margin-right: 16px; }

/* end Comment CSS */
