= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var new_tp = $("#{escape_javascript(
		render( :partial => 'plan/talking_point_post_it', :formats => [:html], :object => talking_point, :as => :talking_point )
	)}");
	
	var tp = $('div.talking_point_post_it[id="#{talking_point.id}"]')
	
	if(tp.hasClass('selected')){
		new_tp.addClass('selected')
	}
	$('form.talking_point_edit_form[id="#{talking_point.id}"]').closest('div.ui-dialog').dialog('destroy').remove();
	
	tp.each(
		function(){
			$(this).replaceWith( new_tp.clone() );
		}
	);
	