:plain
	var new_tp = $("#{escape_javascript(
		render( :partial => 'plan/talking_point.html', :object => talking_point )
	)}");
	new_tp.find('div.my_rating').addClass('js');
	new_tp.find('div.community_rating').removeClass('no_js');
	
	var tp = $('div.talking_point_entry[id=#{talking_point.id}]')
	
	$('form.talking_point_edit_form[id=#{talking_point.id}]').closest('div.ui-dialog').dialog('destroy').remove();
	
	tp.replaceWith(new_tp);
	
= render :template => 'shared/clear_sign_in_form.js'
	