:plain
	var report_form = $("#{escape_javascript(
		render( :template => 'talking_points/edit.html', :locals => ':talking_point => talking_point} )
	)}");
	
	var dialog = report_form.dialog( {title : 'Edit', modal : true, width : '500px', closeOnEscape: false });
-#	
	//$('form.report_content[id=#{@target.id}] a.cancel').die('click').live('click',
	//	function(){
	//		$(this).closest('div.ui-dialog').dialog('destroy').remove();
	//		return false;
	//	}
	//);
	