= render :template => 'shared/clear_sign_in_form.js'
:plain
	var errors = $("#{escape_javascript( render :partial => 'shared/error_messages', :locals => {:target => talking_point})}");
	var form = $('div.question_worksheet[id="#{talking_point.question_id}"] form.talking_point_form');
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();	
	var textarea = form.find('textarea');
	errors.find('h4').remove();
	textarea.after(errors);
