- errors = target.errors unless defined?(target).nil?
- if errors.any?
	%div#errorExplanation
		%h4 #{pluralize(errors.count, "error")} prevented us from saving this form:
		%ul
			- errors.full_messages.each do |msg|
				%li= msg
