%div
	%p.warn Sorry, your help request was not sent

	%p
		%b There was a problem with the email address you provided: "#{@help_request.email}.
	%p
		We cannot accept a help request without an email address to contact you.
