:plain
	var response = $("#{escape_javascript(
		render( :template => 'client_debug/request_help_acknowledgement.html' )
	)}");
	response.dialog({title : 'Thank you', modal : true, width : '500px', closeOnEscape: true, close: function(){$(this).remove()} })
	$('form.request_help').closest('div.ui-dialog').dialog('destroy').remove();
	$('textarea#request_help_message').val('');
	$('select#request_help_category').val(0);
	