:plain
	console.log("show report form")
	var report_form = $("#{escape_javascript(
		render( :template => 'client_debug/request_help', :formats => [:html] )
	)}");
	
	var dialog = report_form.dialog( {title : '2029 and Beyond Help and Feedback', modal : true, width : '500px', closeOnEscape: false, close: function(){$(this).remove()}, open: function(){$('a').blur();} });
	var form = $('form.request_help');
	temp.form = form;
	activate_text_counters_grow( form.find('textarea'), 120 )
	form.find(' a.cancel').die('click').live('click',
		function(){
			$(this).closest('div.ui-dialog').dialog('destroy').remove();
			return false;
		}
	);
	dialog.find("a[rel^='prettyPhoto']").prettyPhoto({theme: 'dark_rounded'});
	
