- @member.confirmed = true # fake this so I don't show the confirm email link
= render :partial => 'welcome/member_info'		

%p #{@member.first_name}, thank you for registering with CivicEvolution.
%p
	We have sent you a confirmation email. 
	%b Please click the link in the email to complete your registration.
%p 
	If you do not see the email, please check your spam or junk folder for the email subject "Confirm your CivicEvolution registration" 
	from "confirm@auto.civicevolution.org"
%p If you do not see this email in the next five minutes, please contact us at support@civicevolution.org 