%h3 Featured project
%div.featured_projects
	= image_tag 'mktg/2029beyondtaghor_xpb.gif'
	%p 
		CivicEvolution has partnered with the City of Greater Geraldton in Western Australia for their Sustainable Future City Project,
		#{link_to "2029 and Beyond", "http://2029andbeyond.com.au/"}. 
		Their mission is to develop a sustainable future city and region plan by and for the community. CivicEvolution is providing tools and processes in the 
		=link_to "2029 and Beyond CivicEvolution home page", "http://2029.civicevolution.org"
		for engaging citizen participants in deliberative collaboration to develop ideas and proposals for the sustainable community planning project.
	%p 
		The 2029 project including CivicEvolution was selected for the "short list" in the 
		#{link_to "Reinhard Mohn Prize competition", "http://www.vitalizing-democracy.org/"}.
