
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CivicEvolution - Transform your ideas into solutions</title>
<link rel="stylesheet" href="/plugins/ce-home/main.css" type="text/css">
<style>
	.qt { padding:0em 2em; font-style:italic; }
</style>
<script type="text/javascript" src="/plugins/ce-home/static.js"></script><script type="text/javascript" src="/plugins/ce-home/swfobject.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "<%=GOOGLE_ANALYTICS_ACCOUNT%>"]);
  _gaq.push(['_setDomainName', "<%=GOOGLE_ANALYTICS_DOMAIN%>"]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head><body>
<div id="mainPage"><div id="contentDiv">
<a name="topics"></a><div class="inits_list">
 <h2 class="initTitle">CivicEvolution helps you transform your ideas into solutions</h2>
 <p class="initDesc">Whether you want to influence your community, your elected officials, or your club, you need more than a soundbite idea.</p>
<h3>Solution = Idea + Actionable Proposal + Community Support</h3>
 <p class="initDesc">CivicEvolution's process of structured dialogue leads participants through the steps
	necessary to develop an actionable proposal, solicit public feedback, and build community support.
	Within each step participants engage in a process of dialogue, brainstorming, 
 collaboration, and deliberation. Watch this video for more detail.</p>

<h2>Introduction to CivicEvolution</h2>


<iframe src="http://player.vimeo.com/video/14851626" width="400" height="300" frameborder="0"></iframe>

<!--<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/GyPwDnYkvuk?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GyPwDnYkvuk?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
-->
<h2>How the CivicEvolution website works</h2>
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/tdA-xYEfw7s?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/tdA-xYEfw7s?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>

<h2>Getting started with CivicEvolution</h2>
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/bRGLb5RrqZ0?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/bRGLb5RrqZ0?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
<!--<iframe src="http://player.vimeo.com/video/14627369" width="400" height="300" frameborder="0"></iframe>-->

<h2>2029: Sustainable Future City Project</h2>
<p class="initDesc">CivicEvolution has partnered with the City of Geraldton-Greenough in Western Australia for their Sustainable Future City Project. Their mission is to develop a sustainable future city and region plan by and for the community. CivicEvolution is providing tools and processes for engaging citizen participants in deliberative collaboration to develop ideas and proposals for the sustainable community planning project.</p>

<h3>The 2029 project including CivicEvolution has been selected for the "short list" in the <a href="http://www.vitalizing-democracy.org/index.php?page=viewcompiler_shortlist&id_view=133&menucontext=37">Reinhard Mohn Prize competition</a></h3> 

<h2>We will listen to you</h2>
<p class="initDesc">When a government agency or decision-maker reaches out to their constituents they are making an implied promise: "We will listen to you." But how can they realistically satisfy their constituents? Nearly everybody thinks public engagement is a good idea, but no one knows how to do it well. Government agencies of all types struggle to find ways to engage their citizens in a constructive and productive manner while protecting themselves from unrealistic and off-topic demands. Clay Shirky's concept of <a href="http://en.wikipedia.org/wiki/Here_Comes_Everybody#Key_concepts" target="_blank" class="o">Promise, Bargain, Tool</a> leads us to a solution.</p>

<h2>Promise, bargain, process</h2>
<ul><li>Make a plausible promise that you can deliver</li>
	<li>Never make a promise without setting clear expectations for the participants (the bargain)</li>
	<li>Choose the tools and processes that will allow the participants to realistically meet expectations and claim your promise</li>
	</ul>
<p class="initDesc">If you want to engage your constituents constructively in making community policy, ask them to develop and review actionable proposals with demonstrable community support. CivicEvolution is an innovative approach that provides the tools and processes to empower citizens to brainstorm ideas, refine them into actionable proposals, review them and present them to decision makers.</p>


<img src="http://static.civicevolution.org.s3.amazonaws.com/fullpyramid.jpg">

<h2>How it works</h2>

<p class="initDesc">The public brainstorms ideas. Teams form around promising ideas and develop the ideas by discussing and collaboratively answering a predefined set of questions that structure their work into a detailed, actionable proposal. As illustrated in this diagram, these proposals are the catalyst for constructive and collaborative community engagement between the citizens and the decision makers.  The public can read the team proposal questions and answers as it develops and provide feedback to the team. This feedback helps the team develop a better proposal with stronger community support and helps the decision-makers understand the public attitude toward the proposal as well.</p>

<h2>Democracy in action</h2>
<p class="initDesc">People with ideas that want to be heard now have the opportunity, and responsibility, to earn a hearing - in the court of public opinion and possibly before the decision-makers. Ideas and proposals illustrate their value through the team and public activity they engender. CivicEvolution avoids simplistic, anonymous internet ranking of ideas which is often gamed and can lead to unrealistic expectations for official response to soundbite ideas.</p>
<p class="initDesc">The unique structure and tools of CivicEvolution allow citizens to work together at their own pace and level of commitment, while clearly articulating the burden they bear for developing and promoting their proposals so they can compete in the marketplace of ideas that is democracy.</p>

<h2>Our plans</h2>
<p class="initDesc">CivicEvolution is pursuing additional sponsored engagements like the Sustainable Future City Project while simultaneously developing a grassroots public utility strategy that allows citizens to start their own proposals, build community support and get their proposals on the agenda. In addition to providing free citizen access to CivicEvolution, we will curate a collection of case studies and best practices. We hope to roll out a limited public version in August of 2010. 
	
<h2>Contact us</h2>	
If you would like to learn more about CivicEvolution, please contact us at <a class="o" href="mailto:info@civicevolution.org">info@civicevolution.org</a></p>

<h2>Past CivicEvolution projects</h2>
<h2 class="initTitle">CivicEvolution hosted the Australian Citizens' Online Parliament</h2>
<p class="initDesc">The first ever Australian Citizens' Parliament was held February 6-9, 2009 in Canberra, Australia when
	150 randomly selected Australians met for 3 days to answer the question:
	<i>"How can Australia's political system be strengthened to serve us better?"</i></p>
<p>CivicEvolution designed and hosted an Online Parliament from mid-October to mid-January. Over 300 randomly selected 
Australians signed up and more than 100 were active through out. The detailed proposals they developed
helped form the agenda for the February event. 11 of the 12 proposals developed online and deliberated at the Citizens'
Parliament were adopted in their final recommendations to the Prime Minister, Parliament, and the media.</p>
<p>The Citizens' Parliament recevied a Special Recognition Award from the IAP2 in September 2009.
Learn more in the video below and visit	
	<a href="http://www.citizensparliament.org.au/" class="o">http://www.citizensparliament.org.au/</a></p>
<!-- <p><a href="https://civicevolution.org/ce/post?__fn=signInDemo&amp;brand=OP&amp;__redirect=http://civicevolution.org/ocp" class="o" target="_blank"><b>Try out a demo version of the Citizens' Online Parliament</b></a> after you watch the video below.</p> -->
<div id="player2" class="player"><div style="border:2px solid red; padding:10px;">
<p id="my_title">Australian Citizens' Parliament</p>
<h3>This video requires Flashplayer version 7 or later to watch.</h3>
<p>Flashplayer is free and can be downloaded and installed from Adobe</p>
<p>Please click this link to download the Flashplayer: <a class="o" href="http://www.adobe.com/products/flashplayer/">http://www.adobe.com/products/flashplayer/</a></p>
<p>You can also try the <a class="o" href="http://home.civicevolution.org/sco/CP_movie_rel_A_512x288.mov">Quicktime movie</a> version.</p>
</div></div>
<script type="text/javascript">
						//height + 20
						var s1 = new SWFObject("/plugins/ce-home/mediaplayer.swf","single","512","308","7");
						// choose the file name based on the version
						var flashVer = Number(deconcept.SWFObjectUtil.getPlayerVersion()['major']);
						var filename = flashVer>7 ? "cp_intro_v1_q512x288_f8-m.flv" : "cp_intro_v1_q512x288_f7-m.flv";
						//alert("flashVer: " + flashVer + " filename: " + filename);
						s1.addVariable("file","http://home.civicevolution.org/sco/" + filename);
						s1.addParam("usefullscreen","false");
						s1.addVariable("image","http://home.civicevolution.org/sco/CP_movie_rel_A.jpg");
						s1.addVariable('height','308');
						s1.addVariable('width','512');
						s1.addVariable('backcolor','0xFFFFFF');
						s1.write("player2");
					</script>
					
			
<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an online engagement for the Countywide 
Community Forums in King County WA.</h2>
<p>Countywide Community Forums is designed to make democracy more user-friendly and to bring the public forum to your 
kitchen table, neighborhood, and workplace. Over 1800 Citizen Councilors are registered and making their opinion count
while building stronger connections to their community.</p>
<p>John Spady, Deputy Councilor Coordinator, approached CivicEvolution to give the citizen participants greater say in the development 
of the forums. He recently praised CivicEvolution:</p>
<p class="qt">Your CivicEvolution environment provided the opportunity for our Citizen Councilors to fashion statements 
and questions that have contributed to our final Opinionnaire&#0174; survey on the topic of Public Safety: Law and Justice.
I am happy to recommend your environment to other organizations with a need to involve people at the front-end of 
a collaborative process. With earlier involvement comes a greater sense of personal investment in the final results.</p>

<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an online engagement for the National
Coalition for Dialogue and Deliberation in mid-2008</h2>
<p>NCDD engaged in an innovative online dialogue at CivicEvolution to explore how can we leverage the 2008 NCDD conference in Austin
to make some real progress on some of the major challenges facing the D&amp;D community. Members of the greater NCDD 
community were invited to join together, using an online platform for dialogue, deliberation, and action planning, 
to determine how they can make progress on seven major challenges facing the D&amp;D community.</p>

<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an 8 week online deliberation assignment
for a Participatory Planning class at Curtin University in Perth, Western Australia.</h2>
<p>Ninety-one students formed 16 teams to develop detailed proposals for Curtin University's Sustainable University 
City project. Students were tasked with developing proposals that address a planning problem or opportunity related 
to the Sustainable University City concept. Each proposal was required to define a problem or opportunity, consider
options for planning a response, evaluate the pros and cons, and plan how to involve the public in deliberations
on these options.</p>
<p>Over an 8 week period, 91 students made 2286 comments, brainstormed 1000 ideas, and refined their proposals to
include 430 key points.</p>


<h2 class="initTitle" style="margin-top:4em;">Contact us</h2>
<p class="initDesc">If you would like more 
info, please email us at
<a class="o" href="mailto:info@civicevolution.org">info@civicevolution.org</a></p>

<!-- <a href="/ce/contactus.html" class="o">Contact us</a></p> -->

<script type="text/javascript">
						//height + 20
						var s1 = new SWFObject("/ce/sco/mediaplayer.swf","single","512","308","7");
						// choose the file name based on the version
						var flashVer = Number(deconcept.SWFObjectUtil.getPlayerVersion()['major']);
						var filename = flashVer>7 ? "Full_first_draft_of_movie.flv" : "full_first_draft_of_movie_v7.flv.flv";
						//alert("flashVer: " + flashVer + " filename: " + filename);
						s1.addVariable("file","http://home.civicevolution.org/sco/" + filename);
						s1.addParam("usefullscreen","false");
						//s1.addVariable("image","http://home.civicevolution.org/sco/ce_movie_v1_512-poster.jpg");
						s1.addVariable("image","/ce/sco/ce_movie_v1_512-poster.jpg");
						s1.addVariable('height','308');
						s1.addVariable('width','512');
						s1.addVariable('backcolor','0xFFFFFF');
						s1.write("player1");
					</script>
</div>
<script>
						//process the links to go to the teams.html ria if js and xml supported
						if(xmlSupport()){
							var a_s = document.getElementsByTagName('A');
							var a;
							var i=0;
							while(a=a_s[i++]){						
								if(a.href.match(/topic\d/)){
									a.href = 'http://civicevolution.org/ce/teams.html#inid=' + a.id;
								}
							}
						}
						var remem = getCookie('remember');
						var firstName = getCookie('first_name');
						var sessId = getCookie('CEsessionID');
						if(remem == 'true' && sessId){
							//alert("save session " + sessId + " for 30 days");
							setCookie('CEsessionID',sessId,30,'/','civicevolution.org');
							setCookie('first_name',firstName,30,'/','civicevolution.org');
						}
					</script>
<!-- <ul class="pageFooter">
<li class="inline"><a href="/ce/donate.html" class="o">Make a donation</a></li>
<li class="inline"><a href="/ce/privacy.html" class="o">Privacy</a></li>
<li class="inline"><a href="/ce/tos.html" class="o">Terms of service</a></li>
<li class="inline"><a href="/ce/contactus.html" class="o">Contact us</a></li>
<li class="last o"><a href="/ce/about.html" class="o">About us</a></li>
</ul> -->
</div></div>
<div id="forceScrollbar"></div>
<a href="http://civicevolution.org/ce/home.html"><img src="/plugins/ce-home/logo47.gif" class="logo"></a><a href="http://civicevolution.org/ce/home.html"><img src="/plugins/ce-home/ce_tm.gif" class="ceNameTag"></a><div class="tagLine">Transform your ideas into solutions</div>
<div id="mainBorder"></div>
<div class="mnuBtns"></div>
<div id="sideHolder" class="sideHolder">
<div id="userNameDiv">
<p><b>Home</b></p>
<!-- <p><a href="/ce/help.html" class="menuHelp o">Illustrated help</a></p> -->
<!-- <p><a href="http://cgg.civicevolution.org" class="menuHelp o">Sign in</a></p> -->
<!--
<p><a href="http://ani.civicevolution.org.s3.amazonaws.com/Pages/1.html" class="menuHelp o">Illustrated CivicEvolution
<img width="120px" height="152px" src="http://ani.civicevolution.org.s3.amazonaws.com/Thumbnails/1.jpg"/>
</a></p>
-->
<!-- <p><a href="https://civicevolution.org/ce/post?__fn=signInDemo&amp;brand=CE&amp;__redirect=http://civicevolution.org/ocp" class="menuHelp o" target="_blank">Try it out</a></p> -->
<!-- <p><a href="/ce/contactus.html" class="menuHelp o">Contact us</a></p> -->
</div>
<div id="projectPathHolder"></div>
</div>
</body>
</html>