- content_for (:script) do
	:javascript	
		$(function(){
			$('a.sign_in').click();
			setTimeout("$('span.ui-dialog-title').html('Please sign in to continue')",1000);
		}); // end of jquery onload
	

%h3 You must be signed in to view this page

%p Please sign in and we will take you to the page you requested

-#%div.right_col
-#	= render( :partial => 'welcome/signin_register' )
 
%p 
	Or return to the 
	%a{:href=>'/'} home page
	
%p
	You can contact us at 
	%a{:mailto=>'support\@civicevolution.org'} support@civicevolution.org
