<h2>Past CivicEvolution projects</h2>
<h2 class="initTitle">CivicEvolution hosted the Australian Citizens' Online Parliament</h2>
<p class="initDesc">The first ever Australian Citizens' Parliament was held February 6-9, 2009 in Canberra, Australia when
	150 randomly selected Australians met for 3 days to answer the question:
	<i>"How can Australia's political system be strengthened to serve us better?"</i></p>
<p>CivicEvolution designed and hosted an Online Parliament from mid-October to mid-January. Over 300 randomly selected 
Australians signed up and more than 100 were active through out. The detailed proposals they developed
helped form the agenda for the February event. 11 of the 12 proposals developed online and deliberated at the Citizens'
Parliament were adopted in their final recommendations to the Prime Minister, Parliament, and the media.</p>
<p>The Citizens' Parliament recevied a Special Recognition Award from the IAP2 in September 2009.
Learn more in the video below and visit	
	<a href="http://www.citizensparliament.org.au/" class="o">http://www.citizensparliament.org.au/</a></p>
<!-- <p><a href="https://civicevolution.org/ce/post?__fn=signInDemo&amp;brand=OP&amp;__redirect=http://civicevolution.org/ocp" class="o" target="_blank"><b>Try out a demo version of the Citizens' Online Parliament</b></a> after you watch the video below.</p> -->
<div id="player2" class="player"><div style="border:2px solid red; padding:10px;">
<p id="my_title">Australian Citizens' Parliament</p>
<h3>This video requires Flashplayer version 7 or later to watch.</h3>
<p>Flashplayer is free and can be downloaded and installed from Adobe</p>
<p>Please click this link to download the Flashplayer: <a class="o" href="http://www.adobe.com/products/flashplayer/">http://www.adobe.com/products/flashplayer/</a></p>
<p>You can also try the <a class="o" href="http://home.civicevolution.org/sco/CP_movie_rel_A_512x288.mov">Quicktime movie</a> version.</p>
</div></div>
<script type="text/javascript">
						//height + 20
						var s1 = new SWFObject("/plugins/ce-home/mediaplayer.swf","single","512","308","7");
						// choose the file name based on the version
						var flashVer = Number(deconcept.SWFObjectUtil.getPlayerVersion()['major']);
						var filename = flashVer>7 ? "cp_intro_v1_q512x288_f8-m.flv" : "cp_intro_v1_q512x288_f7-m.flv";
						//alert("flashVer: " + flashVer + " filename: " + filename);
						s1.addVariable("file","http://home.civicevolution.org/sco/" + filename);
						s1.addParam("usefullscreen","false");
						s1.addVariable("image","http://home.civicevolution.org/sco/CP_movie_rel_A.jpg");
						s1.addVariable('height','308');
						s1.addVariable('width','512');
						s1.addVariable('backcolor','0xFFFFFF');
						s1.write("player2");
					</script>
					
			
<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an online engagement for the Countywide 
Community Forums in King County WA.</h2>
<p>Countywide Community Forums is designed to make democracy more user-friendly and to bring the public forum to your 
kitchen table, neighborhood, and workplace. Over 1800 Citizen Councilors are registered and making their opinion count
while building stronger connections to their community.</p>
<p>John Spady, Deputy Councilor Coordinator, approached CivicEvolution to give the citizen participants greater say in the development 
of the forums. He recently praised CivicEvolution:</p>
<p class="qt">Your CivicEvolution environment provided the opportunity for our Citizen Councilors to fashion statements 
and questions that have contributed to our final Opinionnaire&#0174; survey on the topic of Public Safety: Law and Justice.
I am happy to recommend your environment to other organizations with a need to involve people at the front-end of 
a collaborative process. With earlier involvement comes a greater sense of personal investment in the final results.</p>

<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an online engagement for the National
Coalition for Dialogue and Deliberation in mid-2008</h2>
<p>NCDD engaged in an innovative online dialogue at CivicEvolution to explore how can we leverage the 2008 NCDD conference in Austin
to make some real progress on some of the major challenges facing the D&amp;D community. Members of the greater NCDD 
community were invited to join together, using an online platform for dialogue, deliberation, and action planning, 
to determine how they can make progress on seven major challenges facing the D&amp;D community.</p>

<h2 class="initTitle" style="margin-top:2em;">CivicEvolution designed and hosted an 8 week online deliberation assignment
for a Participatory Planning class at Curtin University in Perth, Western Australia.</h2>
<p>Ninety-one students formed 16 teams to develop detailed proposals for Curtin University's Sustainable University 
City project. Students were tasked with developing proposals that address a planning problem or opportunity related 
to the Sustainable University City concept. Each proposal was required to define a problem or opportunity, consider
options for planning a response, evaluate the pros and cons, and plan how to involve the public in deliberations
on these options.</p>
<p>Over an 8 week period, 91 students made 2286 comments, brainstormed 1000 ideas, and refined their proposals to
include 430 key points.</p>


<h2 class="initTitle" style="margin-top:4em;">Contact us</h2>
<p class="initDesc">If you would like more 
info, please email us at
<a class="o" href="mailto:info@civicevolution.org">info@civicevolution.org</a></p>
