%h3 We're sorry, the link we emailed you is only good for one use or may have expired

%p Please enter your email and click the button and we will immediately send a valid email so you can continue

= form_tag('/welcome/send_new_access_code') do
	= hidden_field_tag :code, params[:id]
	%table
		%tr
			%td
				%label{:for=>"email"} 
					%b Email:
			%td
				= text_field_tag :email, nil, {:size=>40}

		%tr
			%td{:colspan=>2}
				= submit_tag "Send me a new link"
			
