%h3 Your CivicEvolution confirmation code could not be located.

%p If you need to confirm your CivicEvolution registration, we can send you a new email and link. Please enter your email and click the button

= form_tag('/welcome/request_confirmation_email') do
	= hidden_field_tag :code, params[:id]
	%table
		%tr
			%td
				%label{:for=>"email"} Email:
			%td
				= text_field_tag :email

		%tr
			%td{:colspan=>2}
				= submit_tag "Request confirmation email"
			