%p A new email with a valid access code has been sent to  #{@email}

%p
	%b Please click the link in the email to continue.

%p 
	If you do not see the email, please check your spam or junk folder for the email from "support@civicevolution.org"
%p If you do not see this email in the next five minutes, please contact us at support@civicevolution.org 