%div
	%div.tos_inner
		%p
			%b The CivicEvolution website and services are developed and provided by Practical Evolution, LLC of San Francisco, California, USA.
		%h3 CivicEvolution Terms of Use
		%ol
			%li We reserve the right to modify the Service for any reason, without notice at any time.
			%li We reserve the right to refuse service to anyone for any reason at any time.
			%li Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis without any warranty or condition, express, implied or statutory.
			%li We do not warrant that the service will be uninterrupted, timely, secure, or error-free.
			%li We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.
			%li You understand that your Content may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
			%li We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violate any party's intellectual property or these Terms of Service.
			%li You expressly understand and agree that we shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.
			%li In no event shall we or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, officers, directors, agents and employees harmless from any claim or demand, including reasonable attorney's fees made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.
			%li Technical support is only provided to City of Greater Geraldton staff and is only available via email. We will provide support via phone and to end users at our sole discretion.
			%li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Practical Evolution, LLC.
			%li Verbal or written abuse of any kind (including threats of abuse or retribution) of any CivicEvolution user, Practical Evolution, LLC employee, member, or officer will result in immediate account termination.
			%li We do not claim any intellectual property rights over the material you provide to the CivicEvolution service. All material you upload remains yours. 
			%li By uploading images, documents and commentary content to CivicEvolution, you agree to allow other internet users to view them and you agree to allow Practical Evolution, LLC to display and store them and you agree that Practical Evolution, LLC can, at any time, review all the content submitted by you to its Service.
			%li The failure of Practical Evolution, LLC to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service govern your use of the Service.
			%li You retain ownership over all content that you submit to a CivicEvolution account however, by making your workspace public or inviting others into your workspace, you agree to allow others to view your content.
			%li Questions about the Terms of Service should be sent to support at info@civicevolution dot com.
	
		%h3 CivicEvolution Privacy Policy
		%ul
			%li Practical Evolution will collect data about users to measure how the software services are being used to improve functionality and detect bugs and problems. 
			%li Practical Evolution will not sell or share personally identifiable information, unless compelled by a court of law for law enforcement reasons. 
			%li Practical Evolution will aggregate non-identifiable data for the purposes of researching usability, improving the processes and publishing statistics about the CivicEvolution process.
			%li 
				The data that Practical Evolution may collect and analyze in the course of your use of the CivicEvolution website and services may include, but not be limited to:
				%ol
					%li The name and email you provide for registration
					%li The residency you indicate
					%li Your IP address to confirm residency
					%li Cookies may be used to remember you when you visit again
			