An error was detected in delayed_job
~''
Job.failed_at:
=@job.failed_at
~''
Job.attempts:
=@job.attempts
~''
Job.handler:
~''
=@job.handler
~''
~''
class: #{@job.last_error.class}

Job.last_error:
~''
= @job.last_error