%div.tour
	- if !Rails.env.production?
		= stylesheet_link_tag "ce/help"
		
	%div.tour_header
		%div.logo
			= image_tag("ce_logo_20c.gif")
		-#%span.next_step Next step
	%div.tour_body
		=image_tag('spotlightOverlay.png')
	%div.tour_nav_footer
		%div.tour_nav
			%div.step.current_step{'data-step'=> 1}
				%div.label Page1
				%div.btn
			%div.step{'data-step'=> 2}
				%div.label.lower Page2
				%div.btn
			%div.step{'data-step'=> 3}
				%div.label Page3
				%div.btn
			%div.step{'data-step'=> 4}
				%div.label.lower Page4
				%div.btn
			%div.step{'data-step'=> 5}
				%div.label Page5
				%div.btn
			%div.step{'data-step'=> 6}
				%div.label.lower Page6
				%div.btn
			%div.step{'data-step'=> 7}
				%div.label Page7
				%div.btn
			%div.step{'data-step'=> 8} 
				%div.label.lower Page8
				%div.btn
	%div.tour_container
		%div.tour_steps
			= render template: 'help/tour_steps'
