%div.tour
	- if !Rails.env.production?
		= stylesheet_link_tag "ce/help"
	%style
		:plain
			div.page{	width: 100%;}
		
	%div.tour_header
		%div.logo
			= image_tag("ce_logo_20c.gif")
		-#%span.next_step Next step
	%div.tour_body
		=image_tag('spotlightOverlay.png')
	%div.tour_nav_footer
		%div.tour_nav
			%div.step.current_step#think_intro
				%div.label Think together
				%div.btn
			%div.step#brainstorm
				%div.label.lower Brainstorm
				%div.btn
			%div.step#discuss
				%div.label Discuss & rate
				%div.btn
			%div.step#theme
				%div.label.lower Theming
				%div.btn
			%div.step#organize
				%div.label Organize ideas
				%div.btn
			%div.step#answers
				%div.label.lower Answer the questions
				%div.btn
			%div.step#coordinators 
				%div.label Project roles
				%div.btn
			%div.step#suggest_project 
				%div.label.lower Suggest a project
				%div.btn
			%div.step#keep_engaged 
				%div.label Keep engaged
				%div.btn
			%div.step#get_help
				%div.label.lower Get help
				%div.btn
			
		
	%div.tour_container
		%div.tour_steps
			= render template: 'help/tour_steps'
