%div.call_to_action	
	%p.close
		=link_to 'X close', {},{:class=>'close_call_to_action'}
		
	%p.call_to_action
		%b Brian, 
		Capture some good ideas from the team discussion and save them for review and rating:

	%ul.calls_to_action
		%li Go to the Brainstorm tab (we already clicked it for you)
		%li Read any ideas that may have been suggested by other team members
		%li Enter ideas that you think the team should consider, don't be shy - the ideas are anonymous
		%li You can discuss the ideas by clicking the Discuss link
		%li Be sure to rate each idea. The rating helps the team discover its common ground and explore its differences
		%li Add as many ideas as you like, in brainstorming quantity is more important than quality

	%p Please take a look around to see if there are any new contributions by your team on the other pages
	%ul.tight
		%li Check the tabs above to see if they say "new"
		%li Check the links to the left to see if they show red dots or bars that indicates new activity

	%p If you have any questions or suggestions, watch the videos on the home page or contact us at support@civicevolution.org

	%p.call_to_action
		%b
			=link_to 'Close', {},{:class=>'close_call_to_action'}
