%div.call_to_action	
	%p.close
		=link_to 'X close', {},{:class=>'close_call_to_action'}
		
	%p.call_to_action
		%b Brian, 
		Talk with your team about how to define the change you want to make in your community:

	%ul.calls_to_action
		%li Read new comments
		%li Rate new comments
		%li Reply to comments
		%li Post a new comment
		%li Click on an old comment to read it

	%p Please take a look around to see if there are any new contributions by your team on the other pages
	%ul.tight
		%li Check the tabs above to see if they say "new"
		%li Check the links to the left to see if they show red dots or bars that indicates new activity

	%p If you have any questions or suggestions, watch the videos on the home page or contact us at support@civicevolution.org

	%p.call_to_action
		%b
			=link_to 'Close', {},{:class=>'close_call_to_action'}

	-#%p.reminders Here are a few helpful tips
	-#%ul.reminders
	-#	%li	The chat box in the lower left is for chatting with your teammates that are present
	-#	%li The person icon next to the link tells you were you and other teams members are working
	-#	%li Be sure to put your important comments on the discuss page
	-#	%li Please remember to return regularly and engage in these discussions
	-#	%li We will send you reminders and updates to help you stay productively engaged
	-#	%li Watch the videos on the home page for more information: 2029.civicevolution.org

	-#
	-#%p Your team will develop its proposal for action step-by-step
	-#%ul
	-#	%li Discussing the questions with your team is one of the most important things you can do
	-#	%li Please remember to return regularly and engage in these discussions
	-#	%li We will send you reminders and updates to help you stay productively engaged

