%div#chat_form
	%style
		:sass
			div#outer_chat
				div#chat_log
					overflow: auto
					overflow-y: scroll
					//width: 460px
					height: 300px
					border: 1px solid black
					padding: 1em 0
					p 
						margin: 0 1em
				input[type=text]
					width: 240px

	%div#outer_chat			
		%div#chat_log
		= form_tag( chat_path, {:class=>'chat_form', :remote=>true, :autocomplete=>'off'}) do
			= hidden_field_tag :team_id, params[:team_id]
			= text_field_tag :msg
			= submit_tag 'Send', {:disable_with => 'Submitting…'}