%table
	%tr.Chat
		%td.pic
		%td.msg
			%p.name
			%p.msg
		-#%td.actions
			-#%span.del
			-#	= link_to_function(image_tag("red-x.gif"))		
			-#%span.add
			-#	= link_to_function(image_tag("redplus.gif"))
				