%div.team_page
	%h3 Welcome to CISS6011 Simulation 
	
	
	%div#accordion_team
		%h3.accordion_header Overview
		%div
			%p Overview details
	
		%h3.accordion_header Tue 23 Mar - Thu 25 Mar: Research Role and Objectives
		%div
			%h4 Overview
			%p Individual details
			%h4 Expectations
			%p Coming soon...
			%h4 Helpful tips
			%p Coming soon...
			
		%h3.accordion_header Fri 26 Mar 8:00 - 10:00 AM: Finalise & Prioritise Team Objectives
		%div
			%h4 Overview
			%p Team agreement details
			%h4 Expectations
			%p Coming soon...
			%h4 Helpful tips
			%p Coming soon...
	
		
		%h3.accordion_header Fri 26 Mar - Mon 29 Mar: Negotiate with Role Counterpart
		%div
			%h4 Overview
			%p Negotiation details
			%h4 Expectations
			%p Coming soon...
			%h4 Helpful tips
			%p Coming soon...
	
	
		%h3.accordion_header Tue 30 Mar 8:00 - 10:00 AM: All Member Bilateral Negotiations
		%div
			%h4 Overview
			%p Bilateral Negotiation details
			%h4 Expectations
			%p Coming soon...
			%h4 Helpful tips
			%p Coming soon...
	
		%h3.accordion_header Tue 30 Mar - Wed 31 Mar: Finalise and Endorse Agreement
		%div
			%h4 Overview
			%p Finalisation details
			%h4 Expectations
			%p Coming soon...
			%h4 Helpful tips
			%p Coming soon...
	
	
				
