%p Thank you for suggesting a proposal idea for 2029 and Beyond with CivicEvolution.

%p
	Your proposal idea has been sent for review to ensure it complies with the 2029 and Beyond ground rules and guidelines. 	
%p 
	You will be notified via email when your idea has been approved and published, usually within 24 hours or sooner. If we have any questions or concerns, we will email you.
	
%p
	You can contact us at support@civicevolution.org if you have any questions.
