= render :template => 'shared/clear_sign_in_form.js'
:plain
	var new_rating = $("#{escape_javascript(
		render :partial => 'talking_point_acceptable_ratings/rating_post_it', :locals => {:talking_point => talking_point}
	)}");
	
	var old_rating = $('div.talking_point_post_it[id="#{talking_point.id}"] div.talking_point_acceptable');
	old_rating.each(
		function(){
			$(this).replaceWith( new_rating.clone() );
		}
	);
