:plain
	Hello #{ @member.first_name},

	Thank you for suggesting a proposal idea for #{@app_name} with CivicEvolution.

	Title: #{ @proposal.title}

	Description:
	#{ @proposal.text}

	Your proposal idea has been sent for review to ensure it complies with the CivicEvolution ground rules and guidelines. 	
 
	You will be notified via email when your idea has been approved and published, usually within 24 hours or sooner. If we have any questions or concerns, we will email you.
	
	You can contact us at support@civicevolution.org if you have any questions.
