%style
	:sass
		div.logo
			margin-top: 10px
		div.tagline
			float: left
			margin-left: 20px	
			h3 a
				text-decoration: none
				color: black
		
%div.logo
	%a{ :href=> '/'}
		= image_tag("ncdd/NCDD2012_title_CATALYST_AWARDS.png")

