%p Thank you for suggesting a proposal idea for the NCDD Catalyst Awards

%p
	Your proposal idea has been sent for review to ensure it complies with the NCDD Catalyst Awards ground rules and guidelines. 	
%p 
	You will be notified via email when your idea has been approved and published, usually within 24 hours or sooner. If we have any questions or concerns, we will email you.
	
%p
	You can contact us at support@civicevolution.org if you have any questions.
	
%p= link_to 'Return to NCDD Catalyst Awards home page', {:controller=>:welcome, :action=>:index}
