%div.talking_point_sec.corner
	%div.talking_points_list.summary.corner
		%ul.talking_points
			%li.talking_point#0
				%i This section will list the talking points that can best answer this question
			%li.talking_point#0 
				%i No talking points have been created for this answer, yet.
			%li.talking_point#0 
				%i Please consider adding a talking point with the form on the left

