%div.talking_point_sec.corner
	
	%div.header
		%p.question Insert question here
		= link_to image_tag('close_icon_16.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}), question_summary_path(0), :remote=>true, :class=>'close_worksheet'
		%p.clear_both
	
	%div.talking_points_list.summary.corner
		-#%p.no_talking_points No talking points have been created for this answer
		%ul.talking_points
			%li.talking_point#0
				%i This section will list the talking points that can best answer this question
			%li.talking_point#0 
				%i No talking points have been created for this answer, yet.
			%li.talking_point#0 
				%i Please consider adding a talking point with the form on the left

	= add_call_to_action(:id=>'curated_talking_points_list', :custom_class=>'curated')	

	= add_call_to_action(:id=>'curated_talking_points_list', :custom_class=>'non_curated')	

	= add_call_to_action(:id=>'curated_talking_points_list', :custom_class=>'curator')	

