<object id="scPlayer"  width="450" height="273" type="application/x-shockwave-flash" data="http://content.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/scplayer.swf" >
<param name="movie" value="http://content.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/scplayer.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />
<param name="flashVars" value="thumb=http://content.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/FirstFrame.jpg&containerwidth=956&containerheight=580&xmp=sc.xmp&content=http://content.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/2012-10-21_14-25-01.mp4&blurover=false" />
<param name="allowFullScreen" value="true" />
<param name="scale" value="showall" />
<param name="allowScriptAccess" value="always" />
<param name="base" value="http://content.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/" />
<iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/jspady/folders/NCDD2012/media/b039568b-3ff9-40cc-93db-3ee7155df36b/embed" height="273" width="450" ></iframe>
</object>