- if @member.id != 0
	%div#submit
		%h3 Proposal review and submission
		- sponsor = @team.initiative_id == 1 ? 'Executive Management Team' : 'Alliance Governance Group';
		%p.desc
			Committed participants for this proposal and the idea originator can submit this proposal for review by the #{sponsor}.
		-# when they think the idea has been developed completely enough to warrant review. 
		%p.desc	
			%b
				Please review this 
				= link_to 'checklist', checklist_path(:team_id=>@team.id), {:class=>"2029_guidelines", :remote=>true} 
				to determine if your proposal is ready for submission. 
			We strongly recommend that you request a pre-submission review from CivicEvolution before submitting
			your proposal to the #{sponsor}.
		
			= add_call_to_action(:id=>'summary_page_submit', :sponsor=> sponsor)	
			