- if @member.id != 0
	%div#submit
		%h3 Proposal review and submission
		- sponsor = @team.initiative_id == 1 ? 'Executive Management Team' : 'Alliance Governance Group';
		%p.desc
			The participants and the idea originator can submit this idea proposal for review by the Alliance Governance Group whenever 
			they think the idea has been developed well enough to meet the 
			= link_to 'guidelines', {}, {:class=>"2029_guidelines", :init_id=>@team.initiative_id} 
			for the review eligibility. We strongly recommend that you request a pre-submission review from CivicEvolution before submitting
			your proposal to the #{sponsor}. Please use the links below to request a review and/or submit your  proposal
		
			= add_call_to_action(:id=>'summary_page_submit', :sponsor=> sponsor)	
			