= render :template => 'shared/clear_sign_in_form.js'
:plain
	console.log("show new content form")
	var new_content = $("#{escape_javascript(
		render( :template => 'plan/new_content.html' )
	)}");

	var dialog = new_content.dialog( {title : 'New content since your last visit', modal : false, width : 'auto', closeOnEscape: true, autoOpen: false });
	dialog.dialog('open');
	temp.help = dialog
	$('a.request_new').live('click',
		function(){
			var help_dlg = $('div.new_content').closest('.ui-dialog-content');
			if(help_dlg.is(":visible")){
				help_dlg.dialog('close');
			}else{
				help_dlg.dialog('open');
			}
		}
	);
