- content_for (:script) do
	= javascript_include_tag 'jquery.autogrow.js',"jquery.show_char_limit-1.1.1.js"
	:javascript
		$(function(){
			activate_text_counters_grow($('textarea, input[type="text"]'), 120)
		});
		
		function activate_text_counters_grow(els, height){
			height = height? height : 50
			els.each(
				function(){
					var el = $(this);
					var span = el.next().find('span.char_ctr');
					while(span.size() == 0 && !el[0].nodeName.match(/BODY/i) ){
						el = el.parent();
						span = el.find('span.char_ctr');
					}
					if(span.size() == 1){
						el = $(this);
						var cnt = Number(span.html().match(/\d+/));
						el.show_char_limit(cnt, {
					    error_element: span,
							status_element: span
					  });
						if(el[0].nodeName == 'TEXTAREA'){
							// if the el is not displayed, IE gives it a width of 0 and the el cannot be setup to grow
							if(el[0].offsetWidth > 0){
								el.autoGrow({
									minHeight  : height,
									maxHeight : 500
								});
							}
						}
					}
				}
			)
		}
	%style		
		:sass
			div#suggest_new_idea
				position: relative
				margin-top: 2em
				textarea
					height: 250px
				div#tab_suggest_idea
					padding-left: 2em
		

%div#suggest_new_idea.home_forms.home_pages
	%div.spiral
	%div.notebook.corner
	
		-#= render :partial=>'welcome/logo_links', :locals=>{:active=>'about'}

		%div{:id=>"tab_suggest_idea"}

			- if proposal_idea.errors.size > 0
				%div.warn
					%p Errors were reported
					%ul
						- proposal_idea.errors.full_messages.each do |msg| 
							%li= msg

			%h3 We invite you to suggest an idea to help our city region become more sustainable

			%div.ground_rules
				%p 
					All ideas need to meet these 
					%b ground rules 
					to be accepted and published:
				%ul
					- if params[:_initiative_id] == 1
						%li Be legal
						%li Be consistent with the City of Greater Geraldton Organisational Values
						%li Focus on organisational processes in order to help the City work better with the community
						%li Demonstrate effective use of rate payer funds, if appropriate
					- else
						%li Be legal
						%li Not be insulting of any individuals or groups
						%li Help create a more sustainable future for our city region in terms of our environment, economic development, social, and cultural affairs.
						%li Demonstrate effective use of rate payer funds, if appropriate

			- if params[:_initiative_id] == 1			
				%p
					The Executive Management Team promises to review and respond to all actionable proposals that meet their guidelines
					for relevance, completeness, evidence, and community support.
				%p 
					In short, anyone can suggest an idea, but the Executive Management Team
					will only review ideas that have been developed into a proposal for action.
			
			- else
				%p 
					The Alliance Governance Group
					-#%a{:href=>'http://www.cgg.wa.gov.au/about-council/vision-strategy/2029-and-beyond-project/community-leadership', :target=>'_blank', :class=>'mission_link'}The Alliance Governance Group 
					promises to review and respond to all actionable proposals that meet their guidelines
					for relevance, completeness, evidence, and community support.
				%p 
					In short, anyone can suggest an idea, but the Alliance Governance Group 
					will only review ideas that have been developed into a proposal for action.

			%div.guidelines
				%p 
					Proposals must meet these 
					%b guidelines 
					to earn official review:	

				%ul
					- if params[:_initiative_id] == 1
						%li Comply with the general ground rules
						%li Answer all questions in the proposal outline
						%li Work in a team with at least 4 staff members of the City of Greater Geraldton
						%li Maintain an open and inclusive team
						%li Ensure a respectful team environment
						%li Engage in adequate discussion, collaboration and consensus on each question
						%li Openly communicate with the other staff via online public access as well as community outreach, and demonstrate appropriate consideration of feedback				
					- else
						%li Comply with the general ground rules
						%li Answer all questions in the proposal outline
						%li Work in a team with at least 4 active residents of the city region
						%li Be endorsed by at least 10 community members
						%li Maintain an open and inclusive team
						%li Ensure a respectful team environment
						%li Engage in adequate discussion, collaboration and consensus on each question
						%li Openly communicate with the community via online public access as well as community outreach, and demonstrate appropriate consideration of feedback				

			%p If you are committed to your idea, this website can help you form a team and develop your proposal.

			- if @member && !@member.confirmed
				%p.suggest_sign_in You must confirm your CivicEvolution account by email before you can suggest an idea. You can request a confirmation email on the right.
			- elsif @member.nil?
				%p.suggest_sign_in You must be signed in with a confirmed email to suggest an idea. You can join, sign in, and confirm on the right.

			= render :partial => 'plan/idea_form', :locals=> {:proposal_idea => proposal_idea}
