= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var summary = $("#{escape_javascript(
		render( :template => 'plan/summary.html' )
	)}");
	summary.find('.corner').corner();
	var page_div = $('div.page_content_div');
	page_div.remove();
	init_add_this();
	$(summary).insertAfter('hr.top');