$purple_post_it: #ccf
$purple_post_it-current: #4242a6
$yellow_post_it: #fffac3
$yellow_post_it-current: #BFBC9E
$light_purple: #eee1ff

$light_yellow_background: #fffcde

$proposal_icon_bg: #91A13D 

$question_icon_bg: #D3C971
$question_icon_bg-current: #7D7743 

$navigation_bg: #E0F2FF

@mixin opacity($value)
	opacity: #{"." + $value}
	filter: alpha(opacity=$value)
	-ms-filter: "alpha(opacity=$value)"
	-khtml-opacity: #{"." + $value}
	-webkit-opacity: #{"." + $value}
	-moz-opacity: #{"." + $value}
