ol.tour
	width: 2000px
	li.page
		width: 590px
		//height: 600px
		//background: #ddd
		//float: left
		margin-bottom: 100px
	.screenshot
		font-style: italic
		font-weight: bold
	
	.callout
		color: #296d8A
		font-weight: bold
	div.description
		border: 1px solid #296d8a
		padding: 1em