div.short_help_page
	div#tab_help_tour
		padding: 0
//div.page
//	width: 100%
div.tour
	height: 959px
	width: 100%
	overflow: hidden
	border: 1px solid green
	position: relative
	div.tour_header
		height: 50px
		//background-color: #ccf
		background: image-url('help/bamboo-60.jpg') repeat-x
		border: 1px solid black
	div.tour_body
		height: 600px
		background-color: #a3a3bf
	div.tour_nav_footer
		height: 300px
		background-color: #6c41a6
		padding-top: 175px
		div.tour_nav
			margin: 0px 40px
			color: white
			background: image-url('help/nav_line.gif') 120px 10px repeat-x
			height: 21px
			width: 800px
			//border: 3px solid green
			div.step
				float: left
				width: 21px
				height: 21px
				margin: 0 40px
				position: relative
				text-align: center
				border: 1px solid transparent
				background: image-url('help/nav_line.gif') 120px 10px repeat-x
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
				div.btn
					background: image-url('help/tour_btn_off.png') no-repeat center center
					height: 21px
					width: 21px
					cursor: pointer
					width: 100%
						
				div.label
					position: absolute
					top: -24px
					left: -30px
					text-align: center
					width: 80px
					//border: 1px solid red
					color: #aaa
					&.lower
						top: 24px
				&.current_step
					div.label
						color: white
					div.btn
						background: image-url('help/tour_btn_on.png') no-repeat center center
						
					
	div.tour_container
		position: absolute 
		top: 60px
		left: 0
		border: 3px solid blue
		height: 500px
		width: 680px
		div.tour_steps
			width: 100%
			height: 100%
			border: 3px solid orange
			overflow: hidden
			position: relative
			
			ol.tour
				position: absolute
				top: 0
				left: 0
				color: black
				width: 20000px
				margin: 0
				li.page
					list-style: none
					border: 1px solid red
					width: 684px
					height: 600px
					overflow-y: scroll
					//background: #ddd
					float: left
					margin-bottom: 0
				.screenshot
					font-style: italic
					font-weight: bold

				.callout
					color: #296d8A
					font-weight: bold
				div.description
					border: 1px solid #296d8a
					padding: 1em