// @ import "definitions"

$purple_post_it: #ccf
$purple_post_it-current: #4242a6
$yellow_post_it: #fffac3
$yellow_post_it-current: #BFBC9E
$light_purple: #eee1ff

$light_yellow_background: #fffcde

$proposal_icon_bg: #91A13D 

$question_icon_bg: #D3C971
$question_icon_bg-current: #7D7743 

$navigation_bg: #E0F2FF

@mixin opacity($value)
	opacity: #{"." + $value}
	filter: alpha(opacity=$value)
	-ms-filter: "alpha(opacity=$value)"
	-khtml-opacity: #{"." + $value}
	-webkit-opacity: #{"." + $value}
	-moz-opacity: #{"." + $value}




#simplemodal-container a.modalCloseImg
	background: image-url('x.png') no-repeat
	width: 25px
	height: 29px
	display: inline
	z-index: 3200
	position: absolute
	top: -15px
	right: -18px
	cursor: pointer

#simplemodal-overlay
	background-color: #000

#simplemodal-container
	background-color: #333
	border: 8px solid #444
	padding: 12px
		
div.idea_details
	position: relative
	width: 500px
	background-color: white
	padding: 20px	
	border: 1px solid blue
	a.idea-close
		position: absolute
		top: 10px
		right: 20px
	
	div.navigation
		background: $navigation_bg
		padding: 10px 10px 0 10px
		div
			height: 30px
		a.item
			display: block
			height: 20px
			width: 20px
			float: left
			margin-right: 10px
			cursor: pointer
			&.current
				cursor: default
		div.proposal a
			background: $proposal_icon_bg
		div.questions a
			background: $question_icon_bg
			&.current
				background: $question_icon_bg-current
		div.themes a
			background: $purple_post_it
			&.current
				background: $purple_post_it-current
		div.ideas a
			background: $yellow_post_it
			&.current
				background: $yellow_post_it-current
			
	ul
		padding-top: 10px
	li.theme_post_it, li.idea_post_it
		div.post-it
			width: 350px
		img.delete
			display: none
		
	p.timestamp
		clear: both
		padding-top: 10px
	
	div.details_left
		//float: left
		margin-right: 40px
		width: 400px
		
	div.details_right
		float: right
		padding-top: 50px
		button
			width: 100px
			display: block
			margin-bottom: 16px
	
	div.rater
		background: $light_yellow_background
		padding: 10px
		width: 380px
		margin-bottom: 20px
		p.label
			margin: 0 0 10px 0
			font-weight: bold
			&.please-rate
				color: #6c41a6
		div.rater_faces
			position: relative
			width: 380px
			height: 38px
			img
				position: absolute
				top: 0
				&.yuck
					left: 0
				&.meh
					left: 33%
				&.good
					left: 66%
				&.great
					right: 0
		div.theme_slider
			width: 100%
		p.results
			margin-bottom: 0
			

	form.std_form 
		textarea
			background-color: white
			color: black
		p.form_controls
			position: relative
			margin-top: 0px
			input[type="submit"]
				margin: 0 
			span.char_ctr
				display: block
				position: absolute
				left: 160px
				top: 2px
			a
				position: absolute
				display: block
				right: 0
				top: 0
				margin: 0
				
			

div.comment
	img
		margin-bottom: -42px
	div.comment_body
		padding-left: 42px
		p.name
			font-weight: bold
			margin: 0 0 -.6em 0
		//p.text
		p.timeago
			color: #666
			font-style: italic
			margin: -.6em 0 1em 0
