@import "definitions"
		
div.idea_details
	position: relative
	width: 500px
	background-color: white
	padding: 20px	
	margin-bottom: 30px
	a.idea-close
		position: absolute
		top: 10px
		right: 20px
	
	h3.popup_nav
		img	
			vertical-align: text-top
			cursor: pointer
		
	div.navigation
		background: $navigation_bg
		padding: 10px 10px 0 10px
		max-width: 360px
		div
			height: 30px
			&.clear_both
				height: 0
		a.item
			display: block
			height: 20px
			width: 20px
			float: left
			margin-right: 10px
			margin-bottom: 10px
			cursor: pointer
			&.current
				cursor: default
		div.proposal a
			background: $proposal_icon_bg
		div.questions a
			background: $question_icon_bg
			&.current
				background: $question_icon_bg-current
		div.themes a
			background: $purple_post_it
			&.current
				background: $purple_post_it-current
		div.ideas a
			background: $yellow_post_it
			&.current
				background: $yellow_post_it-current
	
	h3.question
		font-size: 1em
	ul
		padding-top: 10px
	li.theme_post_it, li.idea_post_it, li.question_post_it, li.team_post_it
		list-style: none
		margin-bottom: 30px
		div.post-it
			width: 350px
		img.delete
			display: none
		
	p.timestamp
		clear: both
		padding-top: 10px
	
	div.details_left
		//float: left
		margin-right: 40px
		width: 400px
		ul
			padding-left: 0
		
	div.details_right
		float: right
		padding-top: 50px
		button
			width: 100px
			display: block
			margin-bottom: 16px
	
	div.acknowledge_new_idea
		a
			font-weight: bold
			color: #296d8A
			text-decoration: none
			&:hover
				text-decoration: underline
			
	div.rater
		background: $light_yellow_background
		padding: 10px
		width: 380px
		margin-bottom: 20px
		p.label
			margin: 0 0 10px 0
			font-weight: bold
			&.please-rate
				color: #6c41a6
		div.rater_faces
			position: relative
			width: 380px
			height: 38px
			img
				position: absolute
				top: 0
				&.yuck
					left: 0
				&.meh
					left: 33%
				&.good
					left: 66%
				&.great
					right: 0
		div.theme_slider
			width: 100%
		p.results
			position: relative
			margin-bottom: 0
			width: 100%
			a
				float: right
				color: #6c41a6
				font-weight: bold
				margin-left: 20px
			

	form.std_form 
		&.add_comment
			margin-bottom: 0
		textarea
			background-color: white
			color: black
		p.form_controls
			position: relative
			margin-top: 0px
			input[type="submit"]
				margin: 0 
			span.char_ctr
				display: block
				position: absolute
				left: 160px
				top: 2px
			a
				position: absolute
				display: block
				right: 0
				top: 0
				margin: 0
		p.clear
			margin: 0
			

div.comment
	img
		margin-bottom: -42px
	div.comment_body
		padding-left: 42px
		p.name
			font-weight: bold
			margin: 0 0 -.6em 0
		//p.text
		p.timeago
			color: #666
			font-style: italic
			margin: -.6em 0 1em 0

div.edit_form
	&.edit_title
		margin-top: 20px

div.vote_results
	display: none
	margin-top: 10px
	width: 400px
	height: 60px
	position: relative
	div.bar
		background-color: $proposal_icon_bg
		height: 40px
		position: absolute
		bottom: 0
		