$page_width: 980px
$lightest_bg: #ececec

div.page
	width: $page_width
	margin: auto

	div.left_side
		width: 680px
		float: left
		position: relative
	div.right_side
		width: 270px
		position: fixed
		top: 0px
		left: 720px
		margin-left: 0


div.logo
	margin-top: 10px
	text-align: left
	float: left
	img
		margin-bottom: 8px



div.join_com
	float: right
	margin-top: 55px
	a
		font-size: 14px
		font-weight: bold
	
	float: right
	margin-top: 55px
	a
		font-size: 14px
		font-weight: bold

hr.top
	clear: both
	margin-bottom: 0
	
hr.bottom, .clear
	clear: both
	margin-top: 40px
	
	

div.footer_logo
	margin: 20px
	width: 100%

div.ce_credit
	width: 100%
	a
		text-decoration: none
		color: black
	div.powered
		float: left
		h3
			margin-bottom: 6px
		p.tag_line 
			margin-top: 4px		
			font-weight: bold
	div.lottery
		float: left
		margin-left: 50px
		margin-top: 16px


form.std_form
	margin-bottom: 40px
	margin-right: 0px
	width: 100%
	max-width: 500px
	clear: both
	label
		display: block
		clear: both
		margin-top: 0px
		font-weight: bold
		font-style: italic
		color: #888
	img
		display: block
		float: left
		margin: 6px 10px 0 0
	textarea, input[type=text]
		width: 100%
		font-size: 1.2em
		background-color: $lightest_bg		
	input[type=submit]
		margin: 0 10px 0 10px

	input[type=file]
		margin: 12px 0 16px 0
	div.controls
		position: absolute
		right: 0
	div.control_line
		position: relative
		margin-bottom: 10px
		img
			cursor: pointer
	div.add_comment,div.add_link,div.attach_file
		clear: both
		margin-right: 20px
		border: 0px solid #dddddd
		p
			img
				display: block
				margin-top: -2px
	div.add_link,div.attach_file
		display: none
	button
		margin-left: 15px
	p.resource_warning
		margin-top: -12px

form.std_form
	label
		margin-bottom: 8px 

div.form_controls
	position: relative
	margin-top: 8px
	span.char_ctr
		display: block
		position: absolute
		left: 200px
		top: 2px
	a
		position: absolute
		display: block
		right: 0
		top: 0
		margin: 0

