@import "definitions"

// Summary section
		
div.summary.collapse
	margin-bottom: 20px

div.summary
	margin: -10px 0 0 0
	div.idea_summary
		font-size: 1.12em
		margin-bottom: 2em
		
div.summary.text
	float: left
	width: 440px
	margin: 0 16px 0 0
	background: image-url('white-paper-bg.gif') repeat-y top right
	padding: 24px 16px 2px 20px
	margin-bottom: 20px
	border: 1px solid #ebebeb
	border-right: none
	border-bottom: 4px solid #ebebeb
	div.rater
		border: none
	p
		margin: 0 0 12px 0



div.proposal_tools			
	float: left
	margin-top: 24px
	margin-bottom: 20px
	width: 180px
	border: 1px solid #ddd
	ul
		padding-left: 10px
		li
			list-style: none
			margin-bottom: 8px
			border-bottom: 1px solid #DDD
			padding-bottom: 8px
			padding-right: 10px
			padding-left: 30px
		li.organizer
			position: relative
			padding-left: 0
			div.member
				position: relative
				p.sug
					margin: 0 0 4px 0
					color: #999
				div.name
					position: absolute
					top: 16px
					left: 46px
					p 
						margin: 0

		li.video
			background: image-url('tools/video.gif') no-repeat 0px 0px
		li.invite
			background: image-url('tools/invite_friend.gif') no-repeat 0px 0px
		li.follow
			background: image-url('tools/follow.gif') no-repeat 0px 0px
		li.endorse
			background: image-url('tools/endorse.gif') no-repeat 0px 0px
		li.participate
			background: image-url('tools/participate.gif') no-repeat 0px 0px
		li.print
			background: image-url('tools/print.gif') no-repeat 0px 0px
		li.share		
			background: image-url('tools/share.gif') no-repeat 0px 0px
			border: none
			margin-bottom: 0
			padding-bottom: 0
	//div.tools
	//	margin-left: 30px
div.tools
	a.addthis_button
		font-size: 13px
	
// Questions and themes

div.proposal
	div.question_summary
		margin-left: 20px
		div.question_summary_inner
			margin-left: 20px
			
		h4.summary
			font-size: 1.12em
			position: relative
			span
				display: block
				float: left
				margin-right: 4px
			a.view_all_ideas
				display: block
				float: left
				color: #6c41a6
				text-decoration: none
				margin-right: 20px
				//margin-top: 4px
				//font-size: .8em
				
				&.red
					color: red
				&:hover
					text-decoration: underline
				&.hide
					display: none
			a.view_unrated_ideas
				display: block
				position: absolute
				top: 4px
				left:	440px
				color: red
				text-decoration: none
				font-size: .8em
				&:hover
					text-decoration: underline
				&.hide
					display: none
			
		div.discussion
			margin-bottom: 60px
		div.answer_block
			background: image-url('white-paper-bg.gif') repeat-y 0 0 
			padding: 0px 16px
			margin-bottom: 20px
			border-left: 1px solid #ebebeb
			div.top_border
				width: 450px
				margin-left: -16px
				border-top: 1px solid #ebebeb
			div.bottom_border
				width: 450px
				margin-left: -16px
				border-bottom: 4px solid #ebebeb
			div.rater
				border: none
		ul.themes
			width: 660px
			padding-bottom: 0
			margin-bottom: 0
			padding-top: 12px
			clear: both
			p, ul, ol
				width: 400px
				
			&.instructions
				font-style: italic
				width: 500px
				
			li.theme, li.instr
				margin: 0 0 16px 0px
				font-size: 1.08em
				list-style-type: 	none
				padding-right: 160px
				p
					margin: 0 0 .4em 0
			li.theme
				cursor: pointer
				&:hover
					h1, h2, h3, h4, p, ol, ul
						background-color: #bfbc9e //#bfb79e //#a69c3f
				
			li.theme	
				position: relative
				min-height: 20px
				div.answer
					width: 400px
					blockquote
						p
							width: 360px
				//a
					//color: black
					//text-decoration: none
				ul
					padding-left: 36px
				&:hover
					div.answer_status
						div.comments
							display: block
				
				div.answer_status
					position: absolute
					top: 0
					left: 440px
					div.comments
						display: none
						float: left
						margin-right: 20px
					div.unrated 
						float: left
						width: 80px
						color: red
						font-size: .8em
						line-height: .9em
				&.show_new
					div.answer_status
						div.comments
							display: block
							div.total
								display: none
				

	form.suggest_idea
		margin-bottom: 30px
		textarea
			width: 376px
			background-color: #FCFEB4
			padding: 12px
			margin-bottom: 0px
		div.add_idea
			position: relative
			width: 500px
			p.clear_both
				margin: 0
			div.attachment_btn
				position: absolute
				//border: 1px solid red
				top: 4px
				right: 104px
				height: 16px
				width: 16px
				background: image-url('attachment16.gif') no-repeat 0 0 
				cursor: pointer
				&:hover
					background-color: #ddd
				&.waiting
					background: image-url('wait5.gif') no-repeat 0 0
					right: 90px
					width: 30px
				div.inner
					//border: 1px solid green
					height: 16px
					width: 16px
					position: relative
					input[type="file"]
						position: absolute
						top: 0
						right: 0
						margin: 0
						background-color: transparent
						color: white
						cursor: pointer
						display: block
						height: 16px
						line-height: 16px
						width: 16px
						+opacity(0)
						&:hover
							cursor: pointer
					
			input[type=submit], img.wait
				position: absolute
				top: 6px
				right: 35px
			span.ack
				position: absolute
				top: 30px
				right: 50px
				font-weight: bold
				
div.idea-post-it-form				
	form.suggest_idea
		div.post-it
			div.attachment_upload_progress
				position: absolute
				top: -20px
				right: 0px
				height: 16px
				width: 120px
				div.bar
					height: 18px
					background: image-url('upload/progressbar.gif') repeat-x 0 0
			div.attachment_btn.waiting
				right: 0

p.form_controls, div.form_controls
	&.no_attach
		width: 400px
	margin: 6px 0 0 0
	position: relative
	width: 376px
	input[type=submit]
		margin: 0
	span.char_ctr
		display: block
		position: absolute
		left: 120px
		top: 2px
	a
		position: absolute
		display: block
		right: 0
		top: 0
		margin: 0
			
form
	div.attachments
		background-color: #FCFEB4
		width: 376px
		padding: 4px 12px
		margin-top: -4px
		border: 1px solid grey
		border-top: none
		display: none
		margin-bottom: 8px
		div.attachment
			float: left
			margin-right: 8px
			max-width: 80px
			position: relative
			word-wrap: break-word
			p
				margin: 0 8px
			img	
				float: none
				max-height: 50px
				max-width: 50px
			img.delete
				position: absolute
				top: 0
				right: 0
				cursor: pointer
		p
			font-size: .8em
div.add_idea_comment
	div.attachments
		background-color: white
		width: 380px
		margin-top: -6px
		margin-bottom: 8px
	
// Endorsements

$endorsements_bg: #cdd89d
div.endorsements
	position: relative
	margin-top: 20px
	width: 600px
	div.endorsements_inner
		margin-left: 20px
	table
		margin-right: 1em
	td,th
		text-align: left
	td
		vertical-align: top
		padding: 6px
		p
			margin-top: 0
	div.cta
		margin: 32px 0 32px 0
	div.form_controls
		width: 100%
		span.char_ctr
			left: 200px
			
div.rater
	//background: $light_yellow_background
	border: 1px solid #7fBDDB
	padding: 10px
	width: 400px
	margin-bottom: 20px
	p.label
		margin: 0 0 10px 0
		font-weight: bold
		position: relative
		&.please-rate
			color: #6c41a6
			a.view_results
				display: none
		a.view_results
			display: block
			position: absolute
			top: 0
			right: 0
	div.rater_faces
		position: relative
		width: 380px
		height: 38px
		img
			position: absolute
			top: 0
			&.yuck
				left: 0
			&.meh
				left: 33%
			&.good
				left: 66%
			&.great
				right: 0
	div.theme_slider
		width: 100%
	p.results
		position: relative
		margin-bottom: 0
		width: 100%
		a
			float: right
			color: #6c41a6
			font-weight: bold
			margin-left: 20px
			
div.results
	display: none
	div.vote_results
		margin-top: 10px
		width: 400px
		height: 60px
		position: relative
		div.bar
			background-color: $proposal_icon_bg
			height: 40px
			position: absolute
			bottom: 0
			
h4.discussion a :hover
	text-decoration: underline
h4.discussion		
	a
		color: #296d8A
		text-decoration: none
		&:hover
			text-decoration: underline
		span
			float: left
			margin-right: 20px
div.summary_block
	margin-left: 20px
	h4.discussion, h4.rating		
		margin-left: 0
	div.idea_details
		padding-left: 0
		p
			margin: 1em 0
div.intro
	a.edit
		margin-left: 10px
		font-weight: bold
div.idea_summary
	ol 
		padding-left: 40px
		li
			list-style-type: decimal
			margin-bottom: 0
	ul
		padding-left: 36px
		li
			list-style-type: disc
			margin-bottom: 0
a.close_question_discussion
	display: block
	margin-top: 16px
p.em
	font-weight: bold
	
h1.home_title
	font-size: 1.9em
	color: #296d8A
	margin: 18px 0 0px 0
	a
		font-size: .6em
		margin-left: 0px
		font-weight: normal
	
h2.section_hdr
	color: #296d8A
	font-size: 1.6em

h3.question, h3.question_num
	float: left
	margin-right: 4px
	max-width: 500px
	color: #296d8A
	font-size: 1.4em
	
h4.sub_sec_hdr	
	color: #296d8A
	font-weight: normal
	font-size: 1.2em
	a
		color: #6c41a6
	&.rating
		font-size: 1.12em
		margin-top: 0
div.segue
	p
		width: 600px
		

div.endorsements
	input.link
		border: none
		background: none
		cursor: pointer
		margin: 0 
		padding: 0
		text-decoration: underline
		
div.idea-post-it-form
	&.animated
		position: absolute
		top: 100px
		left: 100px
		p.idea
			font-size: inherit
	div.post-it
		text-decoration: none
		background: #FFFAC3
		color: #000
		display: block
		height: auto
		width: 250px
		min-height: 200px
		padding: 1em
		/* Firefox
		-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1)
		/* Safari+Chrome
		-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7)
		/* Opera
		box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7)
		&.R3
			-o-transform: rotate(-1deg)
			-webkit-transform: rotate(-2deg)
			-moz-transform: rotate(-2deg)
			position: relative
			top: 5px
		div.form_controls 
			width: 220px
			span.char_ctr 
				left: 60px
		textarea
			width: 220px
			background-color: transparent
			min-height: 150px
			border: none

		div.attachment_btn
			position: absolute
			//border: 1px solid red
			top: 4px
			right: 4px
			height: 16px
			width: 16px
			background: image-url('attachment16.gif') no-repeat 0 0 
			cursor: pointer
			&:hover
				background-color: #ddd
			&.waiting
				background: image-url('wait5.gif') no-repeat 0 0
				right: 90px
				width: 30px
			div.inner
				//border: 1px solid green
				height: 16px
				width: 16px
				position: relative
				input[type="file"]
					position: absolute
					top: 0
					right: 0
					margin: 0
					background-color: transparent
					color: white
					cursor: pointer
					display: block
					height: 16px
					line-height: 16px
					width: 16px
					+opacity(0)
					&:hover
						cursor: pointer
						
div.theme_col.my_new_ideas
	position: absolute
	right: 0
	top: 0
	background: #a3a3bf
	width: 200px
	ul.sortable_ideas
		min-height: 0
		padding-bottom: 0
	h3
		margin-left: 20px
	div.idea-post-it-form
		margin-left: 20px
		margin-bottom: 20px
		div.post-it
			min-height: 0
			cursor: pointer
	div.idea_ack
		padding: 1em
		background-color: #CCF
		margin: 0 1em
	a.close_my_ideas
		display: block
		margin-left: 20px
		margin-bottom: 20px
div.activity_stream, div.endorsements
	width: 440px
	margin-bottom: 60px
	div.comment 
		background-color: #f2f2ff
		padding: 8px
		&.form
			padding-bottom: 0
		min-height: 52px
		margin-top: 2px
		&.show_all
			min-height: 0
			p
				margin: 0
		div.img
			margin-bottom: -60px
		p.new_com
			display: none
			color: red
		&.new
			min-height: 66px
			p.new_com
				display: block
		div.comment_body
			p
				margin: 0 0 .8em 0
			p.timeago, div.timeago
				margin-top: .2em
				font-size: .8em
			form.add_comment
				margin-bottom: 0
				div.add_idea_comment
					width: 380px
				textarea
					width: 360px
					background-color: white
				div.attachments
					width: 356px
					background-color: transparent
					
				p.form_controls, div.attachment_btn
					display: none
				&.active
					p.form_controls, div.attachment_btn
						display: block
			p.clear
				margin: 0
			div.com_text
				&.truncated
					overflow: hidden
					max-height: 100px
				position: relative
				p.more
					position: absolute
					right: 0
					bottom: 0
					width: 100%
					padding-top: 20px
					font-weight: bold
					text-align: right
					margin: 0
					height: 40px
					background: image-url('ellipsis-fade-c.png') repeat-x
					cursor: pointer
			
					
	a
		color: #296D8A
		text-decoration: none
		&:hover
			text-decoration: underline
div.endorsements
	width: 480px
	div.comment
		background-color: #ccf
		div.comment_body
			div.com_text
				p.more
					background: image-url('ellipsis-fade.png') repeat-x
		div.timeago
			span
				display: block
				float: left
			form
				float: left
				margin-left: 20px

div.idea_details
	div.activity_stream
		margin-bottom: 20px
		div.comment
			div.comment_body
				form.add_comment
					div.add_idea_comment
						width: 340px
						textarea, div.attachments
							width: 320px
						
				p.form_controls
					width: 320px
					span.char_ctr
						left: 80px
				