@mixin opacity($value)
	opacity: #{"." + $value}
	filter: alpha(opacity=$value)
	-ms-filter: "alpha(opacity=$value)"
	-khtml-opacity: #{"." + $value}
	-webkit-opacity: #{"." + $value}
	-moz-opacity: #{"." + $value}

.fancy-scrollbar
	&::-webkit-scrollbar
		height: 9px
		width: 9px
	&::-webkit-scrollbar-button
		&:start:decrement, &:end:increment
			background: transparent
			display: none
	&::-webkit-scrollbar-track-piece
		background: #d0d0d0
		&:vertical
			&:start
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				border-bottom-right-radius: 0
				border-bottom-left-radius: 0
			&:end
				border-top-left-radius: 0
				border-top-right-radius: 0
				border-bottom-right-radius: 5px
				border-bottom-left-radius: 5px
		&:horizontal
			&:start
				border-top-left-radius: 5px
				border-top-right-radius: 0
				border-bottom-right-radius: 0
				border-bottom-left-radius: 5px
			&:end
				border-top-left-radius: 0
				border-top-right-radius: 5px
				border-bottom-right-radius: 5px
				border-bottom-left-radius: 0
	&::-webkit-scrollbar-thumb
		&:vertical, &:horizontal
			background: #999
			border-radius: 5px
			display: block
			height: 50px

.clearfix:after
	clear: both
	content: "."
	display: block
	height: 0
	overflow: hidden
	visibility: hidden

.list-cards
	//clear: both
	margin-bottom: 0
	min-height: 20px
	overflow-y: auto
	overflow-x: hidden
	padding: 4px 3px 1px
	z-index: 1

.list-cards.fancy-scrollbar::-webkit-scrollbar-button
	display: block
	height: 4px

.fancy-scrollbar::-webkit-scrollbar-track-piece
	background: #d0d0d0


div.theming_page_popup
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background-color: white
	div.theming_page
		position: relative
		padding: 20px
		div.theme_cols_window_outer
			overflow-x: auto
			overflow-y: hidden
		a.close_theming_page
			position: absolute
			top: 20px
			right: 20px
		div.theme_cols_window	
			position: relative
			border: 1px solid green
			div.theme_col
				position: relative
				overflow-x: hidden
				overflow-y: auto
				width: 200px
				float: left
				max-height: 100%
				div.auto-scroll
					z-index: 10000
					position: fixed
					width: 100px
					height: 24px
					left: 0
					@include opacity(10)
					&.top
						background-color: red
					&.bottom
						background-color: blue
	
			div.theme_col.unthemed_ideas
				background: #cfb
				h3
					margin-left: 10px
			//div.theme_col.theme
			div.theme_col.parked_ideas
				position: absolute
				right: 0
				top: 0
				background: #f97
				h3
					margin-left: 10px

// post-it styling							
ul, li
	list-style: none

ul
	overflow: hidden
	padding: 0em
	&.sortable_ideas
		min-height: 60px
		padding-bottom: 40px
li.idea_post_it, li.theme_post_it
	a
		text-decoration: none
		color: #000
		display: block
		height: auto
		width: 10em
		padding: 1em
		/* Firefox
		-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1)
		/* Safari+Chrome
		-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7)
		/* Opera
		box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7)
			
	margin: 1em
	float: left

li.idea_post_it a
	background: #ffc
li.theme_post_it a
	background: #ccf
	
li
	a.R0
		-o-transform: rotate(1deg)
		-webkit-transform: rotate(1deg)
		-moz-transform: rotate(1deg)
		position: relative
		top: 3px
	a.R1
		-o-transform: rotate(-1deg)
		-webkit-transform: rotate(-1deg)
		-moz-transform: rotate(-1deg)
		position: relative
		top: -5px
	a.R2
		-o-transform: rotate(2deg)
		-webkit-transform: rotate(2deg)
		-moz-transform: rotate(2deg)
		position: relative
		top: -10px
	a.R3
		-o-transform: rotate(-1deg)
		-webkit-transform: rotate(-2deg)
		-moz-transform: rotate(-2deg)
		position: relative
		top: 5px
	a.R4
		-o-transform: rotate(3deg)
		-webkit-transform: rotate(3deg)
		-moz-transform: rotate(3deg)
		position: relative
		top: -4px
	a.R5
		-o-transform: rotate(-3deg)
		-webkit-transform: rotate(-3deg)
		-moz-transform: rotate(-3deg)
		position: relative
		top: -6px
	a.R6
		-o-transform: rotate(4deg)
		-webkit-transform: rotate(4deg)
		-moz-transform: rotate(4deg)
		position: relative
		top: 8px
	a.R7
		-o-transform: rotate(-4deg)
		-webkit-transform: rotate(-4deg)
		-moz-transform: rotate(-4deg)
		position: relative
		top: -5px
	a.R8
		-o-transform: rotate(5deg)
		-webkit-transform: rotate(5deg)
		-moz-transform: rotate(5deg)
		position: relative
		top: -8px
	a.R9
		-o-transform: rotate(-5deg)
		-webkit-transform: rotate(-5deg)
		-moz-transform: rotate(-5deg)
		position: relative
		top: 4px
