%div
	%h3 #{profile.first_name} #{profile.last_name}'s profile page
	%p This profile has not been completed yet

-#Profile page
	First and last name
	Critical
	Password
	Critical
	Captcha
	Critical
	Residency status
	Critical
	Terms of service
	Critical
	Show the content they entered while unconfirmed
	Profile picture
	Randomly assign an avatar if they don't upload a picture
	Or give them a small set to choose from
	Profile paragraph
	Goals
	Notification options
	Opt in/out
	List of their contributions
	Delete any/all
	Delete account