:plain
	var form = $("#{escape_javascript(
		render( :template => 'members/invite_friends_form', :formats => [:html], :locals => { :team => team } )
	)}");

	var dialog = form.dialog( {title : 'Invite your friends', modal : false, width : 'auto', 
		beforeClose: function(event,ui){
			var dialog = $(this).parent();
			var deleteNow = false;                                       	
			if( dialog.find('textarea').size() == 0 || dialog.find('textarea').val() == ''){           	
				deleteNow = true                                           	
			}else{                                                       	
				deleteNow = confirm("Do you want to close this form?")	
			}                                                            	
			if(deleteNow){                                               	
				dialog.slideUp(800, function () { 
					dialog.dialog('destroy').remove();
			  });                                                        	
			}else{ 
				return false;
			}                                                            	
		}
		
	});
	
	$('div#invite_friends a.clear').live('click',
		function(){
			$(this).closest('div.ui-dialog').dialog('destroy').remove();
			return false;
		}
	)	
	
	$('div#preview_invite').closest('div.ui-dialog').dialog('destroy').end().remove();
	
	if($('div#invite_friends').size() > 1){
		$('div#invite_friends:first').closest('div.ui-dialog').dialog('destroy').end().remove();
	}
	activate_text_counters_grow(dialog.find('textarea, input[type="text"]'), 120);